
.headingwidth
{
    width: 18.9%;
}
.text-ellipsis {
    
    /* width:auto; */
}
.email-cell-content:first-child

{
    width: 400px;
}
.email-cell-content

{
    width: 90px!important;
}
.jsgrid-cell-content {
    width: 85px;
}
.form-control, .form-control:focus, .nav-tabs {
    border-color: #dde7f9;
}
.email-table1
{
    width: 100%;
}
.email-alt-row {
    background: #f5f8fc;
}