
.headingwidth
{
    width: 18.9%;
}
.text-ellipsis {
    
    /* width:auto; */
}
.email-cell-content:first-child

{
    width: 400px;
}
.email-cell-content

{
    width: 90px!important;
}
.jsgrid-cell-content {
    width: 85px;
}
.form-control, .form-control:focus, .nav-tabs {
    border-color: #dde7f9;
}
.email-table1
{
    width: 100%;
}
.email-alt-row {
    background: #f5f8fc;
}
.affiliate-settings .content-tabs {
    background: #f5f8fc;
    padding: 9px 10px 0;
    position: relative;
    z-index: 1;
    border: 1px solid #c9d4e7;
    border-width: 0 0 1px;
    margin: 0 0 -1px;
}
.affiliate-settings .scrtabs-tab-container {
    margin: 0 0 -1px;
}

.scrtabs-tab-container, .scrtabs-tabs-fixed-container ul.nav-tabs>li {
    white-space: nowrap;
}
.scrtabs-tab-container {
    height: 47px;
}
.affiliate-settings .scrtabs-tab-scroll-arrow span {
    position: absolute!important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-indent: -9999px;
    overflow: hidden;
}
.scrtabs-tab-container>* {
    display: inline-block;
    vertical-align: top;
    float: none;
}
.affiliate-settings .content-tabs .nav-tabs {
    margin: 0 0 -1px;
}

.content-tabs3 .nav-tabs {
    border-color: #c9d4e7;
}
.scrtabs-tab-container * {
    box-sizing: border-box;
}
.affiliate-settings .content-tabs .nav-tabs>li>a {
    min-width: 1px;
    padding: 13px 35px;
}
.affiliate-settings .scrtabs-tab-scroll-arrow {
    position: absolute;
    right: 0;
    top: 9px;
    width: 30px;
}
.affiliate-settings .scrtabs-tab-scroll-arrow span {
    position: absolute!important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-indent: -9999px;
    overflow: hidden;
}

.scrtabs-tab-scroll-arrow>* {
    line-height: 47px;
}
.scrtabs-tab-container * {
    box-sizing: border-box;
}
.area-white {
    background: #fff;
}
.affiliate-settings .item {
    margin: -1px 0 0;
    border: 1px solid #c9d4e7;
    border-width: 1px 0 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 20px;
}
.affiliate-settings .item .cols {
    display: table;
    width: 100%;
}
.affiliate-settings .item:first-child .item-heading .col {
    font-weight: 500;
    border-color: transparent;
}

.affiliate-settings .item .col:first-child {
    border-width: 0;
    width: 200px;
    padding: 15px 20px;
    font-weight: 500;    display: flex;
}
.affiliate-settings .item .col {
    display: table-cell;
    vertical-align: top;
    border: 1px solid #c9d4e7;
    border-width: 0 0 0 1px;
    padding: 15px 25px;
}
.affiliate-settings .item:first-child .item-heading .col {
    font-weight: 500;
    border-color: transparent;
}

.affiliate-settings .item .col {
    display: table-cell;
    vertical-align: top;
    border: 1px solid #c9d4e7;
    border-width: 0 0 0 1px;
    padding: 15px 25px;
}
.affiliate-settings .item {
    margin: -1px 0 0;
    border: 1px solid #c9d4e7;
    border-width: 1px 0 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 20px;
}
.affiliate-settings .item .cols {
    display: table;
    width: 100%;
}
.affiliate-settings .item .col:first-child {
    border-width: 0;
    width: 200px;
    padding: 15px 20px;
    font-weight: 500;
}

.affiliate-settings .item .col {
    display: table-cell;
    vertical-align: top;
    border: 1px solid #c9d4e7;
    border-width: 0 0 0 1px;
    padding: 15px 25px;
}
.switch{
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.switch + .lable{
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}
.switch + .lable::before{
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 12px;
  color: #32a3ce;
  content: "\a0";
  background-color: #FAFAFA;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}
.switch:checked + .lable::before {
  display: inline-block;
  content: '\f00c';
  background-color: #F5F8FC;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
/* CSS3 on/off switches */
.switch + .lable {
  margin: 0 4px;
  min-height: 24px;
}
.switch + .lable::before {
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  height: 20px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #CCC;
  text-align: left;
  float: left;
  padding: 0;
  width: 52px;
  text-indent: -21px;
  margin-right: 0;
  -webkit-transition: text-indent .3s ease;
  -o-transition: text-indent .3s ease;
  transition: text-indent .3s ease;
  top: auto;
}
.switch.switch-bootstrap + .lable::before {
  font-family: FontAwesome;
  content: "\f00d";
  box-shadow: none;
  border-width: 0;
  font-size: 16px;
  background-color: #a9a9a9;
  color: #F2F2F2;
  width: 52px;
  height: 22px;
  line-height: 21px;
  text-indent: 32px;
  -webkit-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
.switch.switch-bootstrap + .lable::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 12px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  -webkit-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.switch.switch-bootstrap:checked + .lable::before {
  content: "\f00c";
  text-indent: 6px;
  color: #FFF;
  border-color: #b7d3e5;
  
}
.switch-primary >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #337ab7;
}
.switch-success >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #5cb85c;
}
.switch-danger >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #d9534f;
}
.switch-info >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #5bc0de;
}
.switch-warning >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #f0ad4e;
}
.switch.switch-bootstrap:checked + .lable::after {
  left: 32px;
  background-color: #FFF;
  border: 4px solid #FFF;
  text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
/* square */
.switch-square{
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.switch-square + .lable{
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}
.switch-square + .lable::before{
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 12px;
  color: #32a3ce;
  content: "\a0";
  background-color: #FAFAFA;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}
.switch-square:checked + .lable::before {
  display: inline-block;
  content: '\f00c';
  background-color: #F5F8FC;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
/* CSS3 on/off switches */
.switch-square + .lable {
  margin: 0 4px;
  min-height: 24px;
}
.switch-square + .lable::before {
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  height: 20px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #CCC;
  text-align: left;
  float: left;
  padding: 0;
  width: 52px;
  text-indent: -21px;
  margin-right: 0;
  -webkit-transition: text-indent .3s ease;
  -o-transition: text-indent .3s ease;
  transition: text-indent .3s ease;
  top: auto;
}
.switch-square.switch-bootstrap + .lable::before {
  font-family: FontAwesome;
  content: "\f00d";
  box-shadow: none;
  border-width: 0;
  font-size: 16px;
  background-color: #a9a9a9;
  color: #F2F2F2;
  width: 52px;
  height: 22px;
  line-height: 21px;
  text-indent: 32px;
  -webkit-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
.switch-square.switch-bootstrap + .lable::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 12px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  -webkit-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.switch-square.switch-bootstrap:checked + .lable::before {
  content: "\f00c";
  text-indent: 6px;
  color: #FFF;
  border-color: #b7d3e5;
  
}
.switch-primary >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #337ab7;
}
.switch-success >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #5cb85c;
}
.switch-danger >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #d9534f;
}
.switch-info >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #5bc0de;
}
.switch-warning >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #f0ad4e;
}
.switch-square.switch-bootstrap:checked + .lable::after {
  left: 32px;
  background-color: #FFF;
  border: 4px solid #FFF;
  text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
.switch-square.switch-bootstrap + .lable::after {
	border-radius: 2px;
} 
.affiliate-settings .item .col:first-child {
    border-width: 0;
    width: 200px;
    padding: 15px 20px;
    font-weight: 500;
}
.bootstrap-select>.btn.dropdown-toggle {
    font-size: 13px;
    background: #fff;
    border-color: #dde7f9;
    text-shadow: none;
    height: 100%;
    opacity: 1;
    border-radius: 2px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
}
.affiliate-settings .fielditem-group {
    display: table;
}
.affiliate-settings div.bootstrap-select.form-control {
    width: 175px;
}
.affiliate-settings .fielditem {
    margin: 5px 0;
    border-radius: 2px;
    position: relative;
    padding: 12px 10px 12px 27px;
    background: #fff;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.affiliate-settings .handle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 5px;
}

.handle {
    cursor: move;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    /* background: url(images/sprite.png) -120px -715px no-repeat; */
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    margin: 0 0 5px;
}
.affiliate-settings .fielditem-group .form-control {
    width: 100%;
}
.bootstrap-select>select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: .5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}
.bs-searchbox {
    position: relative;
}
.bs-searchbox:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    width: 15px;
    height: 15px;
    margin: -7px 0 0;
    /* background: url(images/sprite.png) 0 -280px no-repeat; */
}
.affiliate-settings .fielditem-group .form-control {
    width: 100%;
}
.bs-searchbox .form-control, .jsgrid-cell .bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
    border-radius: 0;
    border-color: transparent transparent #dde7f9;
    padding-left: 38px;
    text-align: left;
}
.form-control {
    font-size: 13px;
    color: #45596a;
    height: 33px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn, .form-control {
    padding: 6px 15px;
}
.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}