   <div >
      <div class="form-holder1">
         <form novalidate="novalidate">
            <div class="hightlited-area02 hightlited01">
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="settingsId">Settings:</label></div>
                  <div class="col-md-10">
                     <select class="form-control" name="settingsId" data-container="body" data-live-search="true" id="a64e4e2c9-de37-c496-ee8b-d7c54b3e13bb" aria-required="true">
                        <option value="22">info@swissfxuk.com</option>
                     </select>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="to">To:</label></div>
                  <div class="col-md-10"><input class="form-control" name="to" type="text" id="aa161a8ec-538f-8fea-e9cf-22c794976dc3" aria-required="true"></div>
               </div>
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="cc">Cc:</label></div>
                  <div class="col-md-10"><input class="form-control" name="cc" type="text" id="a115dc90b-296c-9751-0995-1cb11730992b"></div>
               </div>
               <div class="email-options-area">
                  <div class="form-group row">
                     <div class="col-md-2 control-label"><label class="valign-label" for="bcc">Bcc:</label></div>
                     <div class="col-md-10"><input class="form-control" name="bcc" type="text" id="a484d2f8d-18db-7523-9c28-8174716bacf3"></div>
                  </div>
                 
                  
                  <div class="form-group"><input type="hidden" class="not-resetable" name="isHtml" value="true"></div>
               </div>
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="cc">Template:</label></div>
                  <div class="col-md-10">
                     <select class="form-control" name="template" data-container="body" data-live-search="true" id="">
                        <option value="">Select...</option>
                     </select>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label for="attachment">Attachment:</label></div>
                  <div class="col-md-10"><input type="file" name="attachment" id="attachment"></div>
               </div>
            
            </div>
            <div class="form-group row">
               <div class="col-md-12">
                  <ckeditor data="<p>Hello, world!</p>"></ckeditor>
               </div>
               </div>
         </form>
      </div>
      <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" class="col-md-12 padd0">
         <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="">
            <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="row">
               <div class="col-md-6">
                  <a href="#" class="btn-type04 email-options-control"><i class="ico-sz3 ico-eye dark">&nbsp;</i> <span>Hide</span> Advanced Options</a></div>
               <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" class="form-group ng-untouched ng-pristine ng-invalid col-md-6" ng-reflect-form="[object Object]">
                  <a _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="button button2 itembutton1 pull-right" data-dismiss="modal" href="javascript:void(0);">Cancel</a>
                  <a _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="button submit-button itembutton pull-right" data-dismiss="modal" href="javascript:void(0);">Save</a>
                  </div>
            </div>
         </div>
      </div>
       <!-- <button>Save</button> -->
       <!-- <button (click)="hideModal()">Cancel</button> -->
      </div>
   
    
   
 