<div class="modal-header">
   <h4 class="modal-title pull-left">{{title}} </h4>
   <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
       <span aria-hidden="true">&times;</span>
   </button>
</div>
  <div *ngIf = sndmailtoallclients>
   <div class="form-holder" style="padding: 16px!important;
   padding-top: 0!important;">
      <form novalidate="novalidate" [formGroup]="actionsForm">
         <div class="hightlited-area02 hightlited01">
            <div class="form-group row">
               <div class="col-md-2 control-label"><label class="valign-label" for="settingsId">Settings:</label></div>
               <div class="col-md-10">
                  <select class="form-control" name="settingsId" data-container="body" data-live-search="true" id="a64e4e2c9-de37-c496-ee8b-d7c54b3e13bb" aria-required="true" formControlName="settings">
                     <option value="">Select</option>
                     <option value="{{sender?.SenderMailId}}" *ngFor="let sender of getSendersData">{{sender?.SenderMailId}}</option>
                  </select>
               </div>
            </div>
            <div class="form-group row"  style="display:none">
               <div class="col-md-2 control-label"><label class="valign-label" for="to">To:</label></div>
               <div class="col-md-10">
                  <input class="form-control" name="to" type="text" id="aa161a8ec-538f-8fea-e9cf-22c794976dc3" aria-required="true" formControlName="to" onmousedown="return false" onselectstart="return false">
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-2 control-label"><label class="valign-label" for="cc">Cc:</label></div>
               <div class="col-md-10"><input class="form-control" name="cc" type="text" id="a115dc90b-296c-9751-0995-1cb11730992b"></div>
            </div> 
            <div class="email-options-area">
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="bcc">Bcc:</label></div>
                  <div class="col-md-10"><input class="form-control" name="bcc" type="text" ></div>
               </div>
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="cc">Template:</label></div>
                  <div class="col-md-10">
                     <select class="form-control" name="template" data-container="body" data-live-search="true" id="">
                        <option value="">Select...</option>
                     </select>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label for="attachment">Attachment:</label></div>
                  <div class="col-md-10"><input type="file" name="attachment" id="attachment"></div>
               </div>
               <div class="form-group"><input type="hidden" class="not-resetable" name="isHtml" value="true"></div>
            </div>
             <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="bcc">Subject:</label></div>
                  <div class="col-md-10"><input class="form-control" name="bcc" type="text"  formControlName="subject"></div>
               </div>
         </div>
         <ckeditor data="" formControlName="body"></ckeditor>
      </form>
   </div>
   <div class="message">{{response}}</div>
   <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" class="col-md-12 padd0">
      <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center">
         <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="text-center">
            <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" class="form-group ng-untouched ng-pristine ng-invalid" ng-reflect-form="[object Object]"><a _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);" (click)="sendmailltoall()">Send</a><a _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);" (click)="hideModal()">Cancel</a></div>
         </div>
      </div>
   </div>
</div>

 <!-- SendEmail----------------------- -->
 <div *ngIf = sndeml>
   <div class="form-holder" style="padding: 16px!important;
   padding-top: 0!important;">
      <form novalidate="novalidate" [formGroup]="actionsForm">
         <div class="hightlited-area02 hightlited01">
            <div class="form-group row" >
               <div class="col-md-2 control-label"><label class="valign-label" for="settingsId">Settings:</label></div>
               <div class="col-md-10">
                  <select class="form-control" name="settingsId" data-container="body" data-live-search="true" id="a64e4e2c9-de37-c496-ee8b-d7c54b3e13bb" aria-required="true" formControlName="settings">
                     <option value="">Select</option>
                     <option value="{{sender?.SenderMailId}}" *ngFor="let sender of getSendersData">{{sender?.SenderMailId}}</option>
                  </select>
               </div>
            </div>
            <div class="form-group row" style="display:none">
               <div class="col-md-2 control-label"><label class="valign-label" for="to">To:</label></div>
               <div class="col-md-10">
                  <input class="form-control" name="to" type="text" id="aa161a8ec-538f-8fea-e9cf-22c794976dc3" aria-required="true" formControlName="to" onmousedown="return false" onselectstart="return false">
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-2 control-label"><label class="valign-label" for="cc">Cc:</label></div>
               <div class="col-md-10"><input class="form-control" name="cc" type="text" id="a115dc90b-296c-9751-0995-1cb11730992b"></div>
            </div> 
            <div class="email-options-area">
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="bcc">Bcc:</label></div>
                  <div class="col-md-10"><input class="form-control" name="bcc" type="text" ></div>
               </div>
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="cc">Template:</label></div>
                  <div class="col-md-10">
                     <select class="form-control" name="template" data-container="body" data-live-search="true" id="">
                        <option value="">Select...</option>
                     </select>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-2 control-label"><label for="attachment">Attachment:</label></div>
                  <div class="col-md-10"><input type="file" name="attachment" id="attachment"></div>
               </div>
               
               <div class="form-group"><input type="hidden" class="not-resetable" name="isHtml" value="true"></div>
            </div>
             <div class="form-group row">
                  <div class="col-md-2 control-label"><label class="valign-label" for="bcc">Subject:</label></div>
                  <div class="col-md-10"><input class="form-control" name="bcc" type="text"  formControlName="subject"></div>
               </div>
         </div>
         <ckeditor data="" formControlName="body"></ckeditor>
      </form>
   </div>
   <div class="message">{{response}}</div>
   <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" class="col-md-12 padd0">
      <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center">
         <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="text-center">
            <div _ngcontent-rew-c17="" _ngcontent-npk-c14="" class="form-group ng-untouched ng-pristine ng-invalid" ng-reflect-form="[object Object]"><a _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);" (click)="sendtheemail()">Send</a><a _ngcontent-rew-c17="" _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);" (click)="hideModal()">Cancel</a></div>
         </div>
      </div>
   </div>
   </div>