<div class="register img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label class="reg">
                <i class="fa fa-user" aria-hidden="true"></i>
                First Name:<sup *ngIf="submitted && f.firstName.errors"><i class="fa fa-star fa-xs text-danger" aria-hidden="true" style="font-size: 0.5rem;"></i></sup>
              </label>
              <input type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors,'form-control':true }" placeholder="Enter first name" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                <div *ngIf="f.firstName.errors.minlength">First Name must be at least 2 characters</div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label class="reg">
                <i class="fa fa-user" aria-hidden="true"></i>
                Last Name:<sup *ngIf="submitted && f.lastName.errors"><i class="fa fa-star fa-xs text-danger" aria-hidden="true" style="font-size: 0.5rem;" placeholder="Enter last name"></i></sup>
              </label>
              <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Enter last name"/>
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                <div *ngIf="f.lastName.errors.minlength">Last Name must be at least 3 characters</div>
              </div>
            </div>
          </div>
          <div class="row">            
            <div class="col-sm-6 form-group">
              <label class="reg">
                <i class="fa fa-globe" aria-hidden="true"></i>
                Country:<sup *ngIf="isSubmitted && f.countryName.errors?.required"><i class="fa fa-star fa-xs text-danger" aria-hidden="true" style="font-size: 0.5rem;"></i></sup>
              </label>
              <select class="custom-select" (change)="getPhoneCode($event.target.value)" formControlName="country">
                <option value="">Choose your country</option>
                <option *ngFor="let country of Country" [value]="country.Id">{{country.Name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="isSubmitted && f.countryName.errors?.required">Please select country</div>
            </div>
            <div class="col-sm-6 form-group">
              <div class="nowrap">
                <label class="reg">
                  <i class="fa fa-mobile" aria-hidden="true"></i>
                  Phone:
                  <sup *ngIf="submitted && f.phone.errors"><i class="fa fa-star fa-xs text-danger" aria-hidden="true" style="font-size: 0.5rem;"></i></sup>
                </label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend col-sm-3" style="padding:0">
                    <div class="input-group-text" style="padding:0">
                      <input formControlName="phoneCode" style="width: 100%; background: transparent; border: none; margin: auto; height: 100%; border-radius: 3px 0px 0px 3px; text-align: center;" disabled />
                    </div>
                  </div>
                  <input type="tel" formControlName="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" [ngClass]="{ 'is-invalid': submitted && f.phone.errors,'form-control':true}">
                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Phone is required</div>                    
                    <div *ngIf="f.phone.errors.pattern">Phone format should be (999-999-9999)</div>
                  </div>
                </div>                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label class="reg">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Email:<sup *ngIf="submitted && f.email.errors"><i class="fa fa-star fa-xs text-danger" aria-hidden="true" style="font-size: 0.5rem"></i></sup>
              </label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter email id" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label class="reg">
                <i class="fa fa-money" aria-hidden="true"></i>
                Currency:<sup *ngIf="submitted && f.currency.errors"><i class="fa fa-star fa-xs text-danger" aria-hidden="true" style="font-size: 0.5rem;"></i></sup>
              </label>
              <select class="custom-select" formControlName="currency" [ngClass]="{ 'is-invalid': submitted && f.currency.errors,'form-control':true }">
                <option value="">Choose your currency</option>
                <option *ngFor="let currency of currrency" [value]="currency.Id">{{currency.Name}}</option>
              </select>
              <div *ngIf="submitted && f.currency.errors" class="invalid-feedback">
                <div *ngIf="f.currency.errors.required">Currency is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label class="reg">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                Password:<sup *ngIf="submitted && f.password.errors"><i class="fa fa-star fa-xs text-danger" aria-hidden="true" style="font-size: 0.5rem;"></i></sup>
              </label>
              <input type="password" formControlName="password" pattern="^[A-Za-z0-9]*$"  [ngClass]="{ 'is-invalid': submitted && f.password.errors,'form-control':true }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                <div *ngIf="f.password.errors.pattern">Password should not contain special characters</div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label class="reg">
                <i class="fa fa-key" aria-hidden="true"></i>
                Confirm Password:<sup *ngIf="submitted && f.confirmPassword.errors"><i class="fa fa-star fa-xs text-danger" aria-hidden="true" style="font-size: 0.5rem;"></i></sup>
              </label>
              <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" appBlockCopyPaste />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label class="reg">
                <i class="fa fa-file-code-o" aria-hidden="true"></i>
                Promo Code
              </label>
              <input type="text" formControlName="promoCode" class="form-control" />              
            </div>            
          </div>
          <div class="row col-xs-1 text-center">
            <label class="checkmark">
              <input type="checkbox" id="terms_and_conditions" value="1" onclick="terms_changed(this)" />
              I accept the <a routerLink="/terms" routerLinkActive="active" target="_blank" href="#">Terms and Conditions</a>
            </label>
            <button class="btn btn-primary" id="register_button" disabled style="border-radius: 15px 0 15px 0;padding:.375rem 5.75rem;margin-left: 19px;" (click)="register()">Join and start Trading</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>