<div class="modal-header">
   <h4 class="modal-title pull-left">{{title}} </h4>
   <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
       <span aria-hidden="true">&times;</span>
   </button>
</div>
<div class="form-holder">
   
<form method="post" novalidate="novalidate" [formGroup]="newGroupForm">
   
    <div class="items form-horizontal">
       <div class="row form-group">
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="Name"><span data-tooltip-el="">Name</span></label></div>
                <div class="col-xs-9 col-md-9"><input class="form-control" formControlName="name" name="Name" type="text" id="a1389f9f-11b0-373f-48b6-be0a225dab58" aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                     <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
               </div>
             </div>
          </div>
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="Description"><span data-tooltip-el="">Description</span></label></div>
                <div class="col-xs-9 col-md-9"><textarea name="Description" class="form-control" formControlName="description" id="9ade78d6-e504-85bf-eefb-608708dcc5c9" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                     <div *ngIf="f.description.errors.required">Description is required</div>
                  </div>
               </div>
             </div>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="InitialDeposit"><span data-tooltip-el="">Initial Deposit</span></label></div>
                <div class="col-xs-9 col-md-9"><input class="form-control" formControlName="initialdeposit" name="InitialDeposit" type="text" id="7d4880e3-9128-9a3b-3e72-b1aab5a67aeb" aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.initialdeposit.errors }">
                  <div *ngIf="submitted && f.initialdeposit.errors" class="invalid-feedback">
                     <div *ngIf="f.initialdeposit.errors.required">Initial Deposit is required</div>
                  </div>
               </div>
             </div>
          </div>
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="StopOut"><span data-tooltip-el="">Stop Out</span></label></div>
                <div class="col-xs-9 col-md-9"><input class="form-control" formControlName="stopout" name="StopOut" type="text" id="c9e73ed3-9d4c-4e33-f461-97f7f6986f32" aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.stopout.errors }">
                  <div *ngIf="submitted && f.stopout.errors" class="invalid-feedback">
                     <div *ngIf="f.stopout.errors.required">Stop Out is required</div>
                  </div>
               </div>
             </div>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="MarginCall"><span data-tooltip-el="">Margin Call</span></label></div>
                <div class="col-xs-9 col-md-9"><input class="form-control" formControlName="margincall" name="MarginCall" type="text" id="d846715a-7946-48d8-48b3-795b9b8c92f3" aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.margincall.errors }">
                  <div *ngIf="submitted && f.margincall.errors" class="invalid-feedback">
                     <div *ngIf="f.margincall.errors.required">Margin Call is required</div>
                  </div>
               </div>
             </div>
          </div>
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="OrderCount"><span data-tooltip-el="">Order Count</span></label></div>
                <div class="col-xs-9 col-md-9"><input class="form-control" formControlName="ordercount" name="OrderCount" type="text" id="1ebecd11-5ace-0740-84f0-7b41ae83f9b2" aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.ordercount.errors }">
                  <div *ngIf="submitted && f.ordercount.errors" class="invalid-feedback">
                     <div *ngIf="f.ordercount.errors.required">Order Count is required</div>
                  </div>
               </div>
             </div>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="IsDemo"><span data-tooltip-el="">Demo</span></label></div>
                <div class="col-xs-9 col-md-9">
                   <div class="checkbox-inline">
                      <div class="input-checkbox" ><span><input class="form-control1" formControlName="demo" name="IsDemo" type="checkbox" id="621f4774-e7a3-3276-c63f-59067ef17421" value="true" ></span>
                        
                     </div>
                      &nbsp;
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="MinDeposit"><span data-tooltip-el="">Min Deposit</span></label></div>
                <div class="col-xs-9 col-md-9"><input class="form-control" formControlName="mindeposit" name="MinDeposit" type="text" id="7e7ade00-c5de-71ec-0ecc-3d46a0e501ba" aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.mindeposit.errors }">
                  <div *ngIf="submitted && f.mindeposit.errors" class="invalid-feedback">
                     <div *ngIf="f.mindeposit.errors.required">Min Deposit is required</div>
                  </div>
               </div>
             </div>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="AllowTrade"><span data-tooltip-el="">Allow Trade</span></label></div>
                <div class="col-xs-9 col-md-9">
                   <div class="checkbox-inline">
                      <div class="input-checkbox" ><span><input class="form-control1" name="AllowTrade" formControlName="allowtrade" type="checkbox" id="7c846c4f-e23d-31ea-2a05-f639c7ab3c32" value="true"></span>
                        
                     </div>
                      &nbsp;
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="Currency"><span data-tooltip-el="">Currency</span></label></div>
                <div class="col-xs-9 col-md-9">
                   <div class="btn-group bootstrap-select form-control">
                      
                      <select class="form-control" name="Currency" formControlName="currencyname" data-container="body" data-live-search="true" id="8c2d4afd-3b62-6e48-c4d0-06592bc5c526" aria-required="true" tabindex="-98" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" style="position:relative;">
                         <option value="">Select...</option>
                         <option value="{{data.Id}}" *ngFor="let data of getAllCurrency">{{data.Name}}</option>
                      </select>
                      <div *ngIf="submitted && f.currencyname.errors" class="invalid-feedback" style="position: relative;
                      left: -235px;
                      top: 39px;
                      float: left;
                      width: 100%;
                      text-align: left;
                      margin: 0 auto;
                      justify-content: center;">
                        <div *ngIf="f.currencyname.errors.required">Currency is required</div>
                     </div>
                   </div>
                   
                </div>
             </div>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-xs-6 col-md-6">
             <div class="row">
                <div class="col-xs-3 col-md-3"><label class="valign-label" for="Leverage"><span data-tooltip-el="">Leverage</span></label></div>
               
                   <div class="btn-group bootstrap-select form-control col-xs-9 col-md-9">                      
                      <select class="form-control" name="Leverage" formControlName="leveragename" data-container="body" data-live-search="true" id="99916a34-3200-ac21-10fd-d4e015e7c6b4" aria-required="true" tabindex="-98" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" style="    position: relative;">
                         <option value="">Select...</option>
                         <option value="{{leverage?.Id}}" *ngFor="let leverage of Leverage">{{leverage?.Name}}</option>
                         <!-- <option value="1:5">1:5</option>
                         <option value="1:10">1:10</option>
                         <option value="1:33">1:33</option>
                         <option value="1:100">1:100</option>
                         <option value="1:200">1:200</option>
                         <option value="1:500">1:500</option>
                         <option value="1:1000">1:1000</option> -->
                      </select>
                      <div *ngIf="submitted && f.leveragename.errors" class="invalid-feedback " style="position: relative;
                      left: -264px;
                      top: 39px;
                      float: left;
                      width: 100%;
                      text-align: left;
                      margin: 0 auto;
                      justify-content: center;">
                        <div *ngIf="f.leveragename.errors.required">Leverage is required</div>
                     
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  
 </form>
  <div class="message">{{response}}</div>
 </div>
 <div class="col-md-12 padd0">
    <div _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center">
      
       <div _ngcontent-xfs-c7="" class="text-center">
          <div class="form-group" [formGroup]="newGroupForm">
          <a _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);" (click)="addGroup()">Save</a>
      <a _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);" (click)="hideModal()">Cancel</a>
   </div>
   </div>
  
   </div>
   </div>