<div _ngcontent-dym-c1="" class="card mb20" id="" style="padding: 15px;
   padding-left: 0;">
   <div _ngcontent-dym-c1="" class="card-header1 container" id="headingnine" role="tab">
      <div _ngcontent-dym-c1="" class="box-heading">
         <div _ngcontent-dym-c1="" class="box-control boxcontrolflex pull-right">
            <div _ngcontent-dym-c1="" class="records-control-switcher showrcrd2" data-rule="count-record-selector">
               <label _ngcontent-dym-c1="">Records per page</label>
               <select _ngcontent-dym-c1="" class="form-control" data-container="body" id="84a83566-f255-f870-c053-05a61106d08c" name="RecordsPerPageSelector">
                  <option _ngcontent-dym-c1="" value="5" ng-reflect-value="5">5</option>
                  <option _ngcontent-dym-c1="" value="10" ng-reflect-value="10">10</option>
                  <option _ngcontent-dym-c1="" value="15" ng-reflect-value="15">15</option>
                  <option _ngcontent-dym-c1="" value="20" ng-reflect-value="20">20</option>
                  <option _ngcontent-dym-c1="" value="50" ng-reflect-value="50">50</option>
                  <option _ngcontent-dym-c1="" value="100" ng-reflect-value="100">100</option>
               </select>
            </div>
            <a _ngcontent-dym-c1="" class="ico-add ico-sz3 showrcrd2 popupicon" data-rule="add-link" data-target="#createtask" data-toggle="modal" href="javascript:void(0);">
                <i _ngcontent-dym-c1="" class="fa fa-plus" (click)="opencrtfinancialTransactionspopup()"></i> </a>
                <a _ngcontent-dym-c1="" aria-controls="collapsenine" aria-expanded="false" class="collapsed" data-toggle="collapse" href="#collapsenine" id="financialacc" style="color:#000;">
                    <i _ngcontent-dym-c1="" class="fa fa-chevron-down collpsicon"></i>
                </a>
         </div>
         <h2 _ngcontent-dym-c1="">Financial Transactions</h2>
         <div _ngcontent-dym-c1="" class="records-control showrcrd2" style="display: none;">Showing Records <a _ngcontent-dym-c1="" class="prev" href="javascript:void(0);" style="visibility:hidden">Prev</a><a _ngcontent-dym-c1="" class="next" href="javascript:void(0);" style="visibility:hidden">Next</a><span _ngcontent-dym-c1="" style="width: 30px;">1 - 1</span> of <span _ngcontent-dym-c1="" style="width: 20px;">1</span></div>
      </div>
   </div>
   <div _ngcontent-dym-c1="" aria-labelledby="headingnine" class="collapse" id="collapsenine" role="tabpanel">
      <div _ngcontent-dym-c1="" class="card-body">
         
            <div _ngcontent-dym-c8="" class="box-content">
               <div _ngcontent-dym-c8="" class="table-type02 margin-bottom-0">
                  <div _ngcontent-dym-c8="" class="scroll-area" data-rule="scroll-area">
                     <table _ngcontent-dym-c8="" class="table-style01 dataTable">
                        <thead _ngcontent-dym-c8="">
                           <tr _ngcontent-dym-c8="" data-rule="titles">
                              <th _ngcontent-dym-c8="">Item ID	<span _ngcontent-dym-c8="" class="fixel"><span _ngcontent-dym-c8=""><span _ngcontent-dym-c8=""></span></span></span></th>
                              <th _ngcontent-dym-c8="">TP Account	<span _ngcontent-dym-c8="" class="fixel"><span _ngcontent-dym-c8=""><span _ngcontent-dym-c8=""></span></span></span></th>
                              <th _ngcontent-dym-c8="">Amount	<span _ngcontent-dym-c8="" class="fixel"><span _ngcontent-dym-c8=""><span _ngcontent-dym-c8=""></span></span></span></th>
                              <th _ngcontent-dym-c8="">Date	<span _ngcontent-dym-c8="" class="fixel"><span _ngcontent-dym-c8=""><span _ngcontent-dym-c8=""></span></span></span></th>
                              <th _ngcontent-dym-c8="">Trading Environment<span _ngcontent-dym-c8="" class="fixel"><span _ngcontent-dym-c8=""><span _ngcontent-dym-c8=""></span></span></span></th>
                              <th _ngcontent-dym-c8="">Transaction Type<span _ngcontent-dym-c8="" class="fixel"><span _ngcontent-dym-c8=""><span _ngcontent-dym-c8=""><br _ngcontent-dym-c8="" class="visible-xs visible-sm visible-md"></span></span></span></th>
                              <th _ngcontent-dym-c8="">Currency	<span _ngcontent-dym-c8="" class="fixel"><span _ngcontent-dym-c8=""><span _ngcontent-dym-c8=""></span></span></span></th>
                              <th _ngcontent-dym-c8="">Transaction Approval		<span _ngcontent-dym-c8="" class="fixel"><span _ngcontent-dym-c8=""><span _ngcontent-dym-c8=""><br _ngcontent-dym-c8="" class="visible-xs visible-sm visible-md"></span></span></span></th>
                              <th _ngcontent-dym-c8="">FTD		</th>
                           </tr>
                        </thead>
                        <tfoot _ngcontent-dym-c8=""></tfoot>
                        <tbody _ngcontent-dym-c8="">
                           <tr *ngIf = nofinancialtransctions class="nofield">No Financial Transactions</tr>
                           <tr data-index="0" data-rule="body" *ngFor = "let tketransctionbyId of tketransctionbyclientId">
                            <td >
                               <div data-display-for="9_ItemId">
                                  <div class="text-ellipsis"><a href=""><span>{{tketransctionbyId?.ItemId}}</span></a></div>
                               </div>
                            </td>
                            <td >
                               <div data-display-for="9_GroupId">
                                  <div class="text-ellipsis"><a href="javascript:void(0);" valuesource="IsDemo" attrname="data-is-demo" (click)="movetoTradeaccountInfo(tketransctionbyId?.Id)"><span>{{tketransctionbyId?.TPAccountNumber}}</span></a></div>
                               </div>
                            </td>
                            <td>
                               <div data-display-for="9_AllowTrade">
                                  <div><span>{{tketransctionbyId?.BalanceAmount}}</span></div>
                               </div>
                            </td>
                            <td>
                               <div data-display-for="9_RegistrationDate">{{tketransctionbyId?.TransactionDate}}</div>
                            </td>
                            <td >
                               <div data-display-for="9_Equity">
                                  <div class="text-ellipsis" data-field="Equity" data-original-value="805.90418439" data-isformatted="true">{{tketransctionbyId?.TradingEnvironment}}
                                </div>
                               </div>
                            </td>
                            <td>
                               <div data-display-for="9_Balance">
                                  <div class="text-ellipsis" data-field="Balance" data-original-value="1008.69662955" data-isformatted="true"> {{tketransctionbyId?.TransactionTypeName}}</div>
                               </div>
                            </td>
                            <td>
                               <div data-display-for="9_Credit">
                                  <div class="text-ellipsis" data-field="Credit" data-original-value="0" data-isformatted="true">{{tketransctionbyId?.CurrencyName}}</div>
                               </div>
                            </td>
                            <td>
                               <div data-display-for="9_LastLoginDate">{{tketransctionbyId?.TransactionApprovalName}}</div>
                            </td>
                            <td>
                               <div data-display-for="9_LastTradeDate">
                                  <!-- <i _ngcontent-pce-c9="" _ngcontent-mfm-c17="" aria-hidden="true" class="fa fa-check-circle greenbtn"></i> -->
                                  <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true" [ngStyle]="{'color': tketransctionbyId?.FTD ? 'green':'gray' }"></i>   
                                 </div>
                            </td>
                            <td class="nowrap"><a href="javascript:void(0);" class="ico-sz3 ico-no2" title="Delete"><i _ngcontent-pce-c9="" _ngcontent-mfm-c17="" aria-hidden="true" class="fa fa-check-delete "></i></a></td>
                         </tr>

                           
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         
      </div>
   </div>
</div>