
<div class="collapse " id="addNewComment" aria-expanded="true">
   <form novalidate="novalidate">
      <div class="comment">
         <div class="form-group">
            <form [formGroup] = "commentsForm">
             <textarea name="CommentText" formControlName="commentarea" class="form-control textarea-h01"  aria-required="true"></textarea>
            </form>
         </div>
         <div class="text-right">
             <a class="btn-type02 submit-button" data-dismiss="modal" (click)=addComment()>Submit</a>
             <a href="#addNewComment" class="btn-type02" data-toggle="collapse" aria-controls="addNewComment" aria-expanded="true">
               Cancel
             </a>
        </div>
      </div>
   </form>
</div>

<p *ngFor="let comment of comments">{{comment?.CommentDescription}}</p>
