<div class="card mb20">
   <div class="card-header1 container" role="tab" id="headingTwo">
     <h5 class="mb-0">
       <a class="box-heading" data-toggle="" aria-expanded="true" aria-controls="collapseTwo">
         <h2> Comments </h2>
       </a>
       <div class="box-control pull-right">
         <a href="javascript:void(0);" class="btn-type02 dim no-events" (click)="deleteAll()">
           <i class="fa fa-trash" aria-hidden="true" ></i>
           Delete all
         </a>
         <a href="#addNewComment" class="btn-type02 collapsed" data-toggle="collapse"
           aria-controls="addNewComment" aria-expanded="false">
           <i class="fa fa-plus" aria-hidden="true"></i>
           Add
         </a>
         <a href="#" class="btn-type02 dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
           All

         </a>
         <ul class="dropdown-menu dropdown-menu2">
           <li><a href="javascript:void(0);" name="filterOption">All</a></li>
           <li><a href="javascript:void(0);" name="filterOption">Last 5</a></li>
           <li><a href="javascript:void(0);" name="filterOption">Mine</a></li>
         </ul>
       </div>
     </h5>
   </div>
   <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
     <div class="card-body">
       <!-- <app-comments></app-comments> -->

     </div>
   </div>
 </div>
<div class="collapse " id="addNewComment" aria-expanded="true">
   <form novalidate="novalidate">
      <div class="comment">
         <div class="form-group">
            <form [formGroup] = "commentsForm">
             <textarea name="CommentText" formControlName="commentarea" class="form-control textarea-h01"  aria-required="true"></textarea>
            </form>
         </div>
         <div class="text-right">
             <a class="btn-type02 submit-button" data-dismiss="modal" (click)=addComment()>Submit</a>
             <a href="#addNewComment" class="btn-type02" data-toggle="collapse" aria-controls="addNewComment" aria-expanded="true">
               Cancel
             </a>
        </div>



      
      </div>
   </form>
</div>
  <!------------comment here----->
  <div class="comments-list">
    <div class="comment" data-comment-id="635171" *ngFor="let comment of comments">
       <pre class="comment-body form-control1" >{{comment?.CommentDescription}}</pre>
      
       <div class="comment-details mt5"><span class="author no-events">Anton Novak</span>
        <span class="date no-events"><i class="fa fa-calendar">&nbsp;</i>
          <span>4/26/2020 4:41 PM</span></span>
        </div>
       <div class="clearfix edit-options">
          <div class="pull-right">
            <a href="#" class="btn-type01 btn02 edit-apply" data-dismiss="modal">
              <i class="fa fa-check dark">&nbsp;</i>Apply</a>
              <a href="#" class="btn-type01">Cancel</a></div>
       </div>
       <div class="comment-controls">
         <a href="javascript:void(0)" class="ico-edit2 ico-sz3  " id="edit-comment">
           <i _ngcontent-xpi-c4="" aria-hidden="true" class="fa fa-pencil "></i></a>
         <a href="javascript:void(0)" class="ico-delete ico-sz3">
          <i _ngcontent-xpi-c4="" aria-hidden="true" class="fa fa-trash"></i>
         </a></div>
    </div>
 </div>
  <!------------------------------->

