<div class="collapse " id="addNewComment" aria-expanded="true" (click)=addComment()>
   <form novalidate="novalidate">
      <div class="comment">
         <div class="form-group">
             <textarea name="CommentText" class="form-control textarea-h01"  aria-required="true"></textarea>
         </div>
         <div class="text-right">
             <a href="#" class="btn-type02 submit-button">Submit</a>
             <a href="#addNewComment" class="btn-type02" data-toggle="collapse" aria-controls="addNewComment" aria-expanded="true">
               Cancel
             </a>
        </div>
      </div>
   </form>
</div>
<p>{{comments?.CommentDescription}}</p>
