#body, .dashboard-calendar table, .jsgrid-table, .table-type01 table, .table-type03.table-style01 table, .table-type04 table {
    table-layout: fixed;
}
.headingwidth
{
    width: 18.9%;
}
/* .text-ellipsis {
    
    width:400px;
} */
.email-cell-content:first-child

{
    width: 300px;
}
td.email-cell {
    min-width:75px;
}
.email-cell-content

{
    width: 127px!important;
}
.form-control, .form-control:focus, .nav-tabs {
    border-color: #dde7f9;
}
.text-ellipsis {
    width: auto!important;
}
.email-alt-row {
    background: #f5f8fc;
}
tr.email-filter-row {
    background: #fff;
}
.jsgrid-header-scrollbar
{
    overflow-y: auto;
}