<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
 </div>
 <div *ngIf = crtacct>
 <div class="form-holder mt40">
     <form novalidate="novalidate">
        
                <div class="row crtclintvsl">
                   <div class="col-xs-3 col-md-3" >
                      <label class="valign-label" for="GroupId"><span
                            data-tooltip-el="">Group</span></label>
                           </div>
                   <div class="col-xs-9 col-md-9">
                      <div _ngcontent-qpo-c3="" class="input-group">
                         <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol "
                             [ngClass]="{ 'is-invalid': submitted && f.password.errors,'form-control':true }" data-live-search="true" id="lunch"
                            title="Please select a lunch ..." data-show-subtext="true"
                            data-live-search="true">
                            <option ngcontent-qpo-c3="" value="">Select..</option>
                            <option ngcontent-qpo-c3="" value="{{group?.Id}}" *ngFor = "let group of Group">{{group?.Name}}</option>
 
                         </select>
                      </div>
 
                   </div>
 
                </div>
            <br>
          
               <div class="row">
                  <div class="col-xs-3 col-md-3"><label class="valign-label"
                        for="_sendEmail"><span data-tooltip-el="">_sendEmail</span></label>
                  </div>
                  <div class="col-xs-9 col-md-9">
                     <div class="checkbox-inline">

                        <!------------------------->
                        <div class="switch_box box_1">
                           <label class="switchboxtext">No</label>
                           <input type="checkbox" class="switch_1">
                           <label class="switchboxtext">Yes</label>
                        </div>
                        <!----------------------------->
                     </div>
                  </div>
               </div>
          
            <br>
        
        
        <div _ngcontent-npk-c14="" class="col-md-12 padd0"><div _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center"><div _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="text-center"><div _ngcontent-npk-c14="" class="form-group ng-untouched ng-pristine ng-invalid" ng-reflect-form="[object Object]">
           <a _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);">Save</a>
          <a _ngcontent-npk-c14="" _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);" (click)=" hideModal()">Cancel</a>
         </div>
      </div>
   </div>
</div>
     </form>
  </div>
</div>
  <!--             Create Account        ------------------------------ -->
  <!-- SendEmail----------------------- -->
 <div *ngIf = sndeml>
    hjh
    <button>Save</button>
    <button (click)="hideModal()">Cancel</button>
   </div>
  <!-- Send Sms------------------------------------------------------- -->
  <div *ngIf = sndsms>
     send sms
     <button>Save</button>
     <button (click)="hideModal()">Cancel</button>
  </div>
  <!-- View History-------------------------------------------------------------------- -->
  <div *ngIf = vwhistory>
     history
     <button>Save</button>
    <button (click)="hideModal()">Cancel</button>
  </div>
  