
<div class="card mb20">
  <div class="card-header1 container" role="tab" id="headingThree">
    <h5 class="mb-0">
      <a class="collapsed box-heading" data-toggle="" aria-expanded="false" aria-controls="collapseThree">
        <h2> Marketing Info</h2>
      </a>
      <div class="box-control pull-right">
        <div class="pencil1" id="edit1">
          <i class="fa fa-pencil " aria-hidden="true"></i>
        </div>
        
        <div class="edit-data-options1">
          <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
            data-action="apply">
            <i class="fa fa-check dark">&nbsp;</i>Apply</a>
          <a class="btn-type01 " id="gfg1" data-rule="button" data-action="cancel">Cancel</a></div>
      </div>
    </h5>
  </div>
  <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
    <div class="card-body">
      <!-- <app-marketing-info></app-marketing-info> -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
<form [formGroup]="marketingInfoForm">
    <table class="table" id="marketinginfo">
      <thead>
        <tr>
          <th class="tabletxt">Tag</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.Tag1}}
          </div>
          <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="tag1" type="text" formControlName="tag1"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Tag1</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.Tag2}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="tag2" type="text" formControlName="tag2"  aria-required="true">
          
          </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="tabletxt">Campaign ID</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.CampaignID}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="campaignid" type="text" formControlName="campaignid"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Affilate ID</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="affilateid" type="text" formControlName="affilateid" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Sub Affiliate ID</th>
          <td class="text-ellipsis">
           <div class="valueshhow1">
   
          {{userMarketingInfo?.SubAffiliateID}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="subaffilateid" type="text" formControlName="subaffilateid" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Source</th>
          <td class="text-ellipsis">
           <div class="valueshhow1">
   
          {{userMarketingInfo?.Source}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="source" type="text" formControlName="source" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">IP Address</th>
          <td class="text-ellipsis">
              <div class="valueshhow1">
          {{userMarketingInfo?.IPAddress}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="ipaddress" type="text" formControlName="ipaddress"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Referrer</th>
          <td class="text-ellipsis">
              <div class="valueshhow1">
          {{userMarketingInfo?.Referrer}}
          </div>
          <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="referrer" type="text" formControlName="referrer" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">IP Country</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.IPCountry}}
</div>
<div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <!-- <input class="form-control" name="ipcountry" type="text" formControlName="ipcountry" aria-required="true"> -->
          <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
          data-live-search="true" formControlName="ipcountry">
          <option ngcontent-qpo-c3="">Select</option>
          <option ngcontent-qpo-c3="" *ngFor="let country of Country">
             {{country.Name}}</option>
            </select>
          </div>
          </td>
          <th class="tabletxt">Utm Content</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.UtmContent}}
          </div>
          <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="" type="text" formControlName="utmcontent" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Utm Source</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.UtmSource}}
          </div>
         
 <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="" type="text" formControlName="utmsource" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Utm Campaign</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.UtmCampaign}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="" type="text" formControlName="utmcampaign" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Utm Creative</th>
          <td class="text-ellipsis">
           <div class="valueshhow1">
          {{userMarketingInfo?.UtmCreative}}
          
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="" type="text" formControlName="utmcreative" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Utm Medium</th>
          <td class="text-ellipsis">
           <div class="valueshhow1">
          {{userMarketingInfo?.UtmMedium}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="" type="text" formControlName="utmmedium" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Google Keyword</th>
          <td class="text-ellipsis">
            <div class="valueshhow1">
          {{userMarketingInfo?.GoogleKeyword}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="" type="text" formControlName="googlekeyword" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Aff Transaction ID</th>
          <td class="text-ellipsis">
            <div class="valueshhow1">
          {{userMarketingInfo?.AffTransactionID}}
          </div>
             <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="" type="text" formControlName="afftransactionid" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">AffiliateUser</th>
          <td class="text-ellipsis">
            <div class="valueshhow1">
          {{userMarketingInfo?.AffiliateUser}}
          </div>
             <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="" type="text" formControlName="affiliateuser" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt"></th>
          <td class="text-ellipsis"></td>
        </tr>
       


      </tbody>
    </table>
  </form>
  </div>
</div>


<!-- <tr>
  <th>Utm Source</th>
  <td></td>
  <th>Utm Campaign</th>
  <td></td>
</tr>
<tr>
  <th>Utm Creative</th>
  <td></td>
  <th>Utm Medium</th>
  <td></td>
</tr>
<tr>
  <th>Google Keyword</th>
  <td></td>
  <th>Aff Transaction ID</th>
  <td></td>
</tr>
<tr>
  <th>AffiliateUser</th>
  <td></td>
  <th></th>
  <td></td>
</tr> -->