<div class="container-fluid">
  <div class="row">

    <table class="table">
      <thead>
        <tr>
          <th class="tabletxt">Tag</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.Tag1}}
          </div>
          <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Tag1</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.Tag2}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="tabletxt">Campaign ID</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.CampaignID}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Affilate ID</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Sub Affiliate ID</th>
          <td class="text-ellipsis">
           <div class="valueshhow1">
   
          {{userMarketingInfo?.SubAffiliateID}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Source</th>
          <td class="text-ellipsis">
           <div class="valueshhow1">
   
          {{userMarketingInfo?.Source}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">IP Address</th>
          <td class="text-ellipsis">
              <div class="valueshhow1">
          {{userMarketingInfo?.IPAddress}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Referrer</th>
          <td class="text-ellipsis">
              <div class="valueshhow1">
          {{userMarketingInfo?.Referrer}}
          </div>
          <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">IP Country</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.IPCountry}}
</div>
<div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Utm Content</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.UtmContent}}
          </div>
          <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Utm Source</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.UtmSource}}
          </div>
         
 <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Utm Campaign</th>
          <td class="text-ellipsis">
          <div class="valueshhow1">
          {{userMarketingInfo?.UtmCampaign}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Utm Creative</th>
          <td class="text-ellipsis">
           <div class="valueshhow1">
          {{userMarketingInfo?.UtmCreative}}
          
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Utm Medium</th>
          <td class="text-ellipsis">
           <div class="valueshhow1">
          {{userMarketingInfo?.UtmMedium}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Google Keyword</th>
          <td class="text-ellipsis">
            <div class="valueshhow1">
          {{userMarketingInfo?.GoogleKeyword}}
          </div>
           <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Aff Transaction ID</th>
          <td class="text-ellipsis">
            <div class="valueshhow1">
          {{userMarketingInfo?.AffTransactionID}}
          </div>
             <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">AffiliateUser</th>
          <td class="text-ellipsis">
            <div class="valueshhow1">
          {{userMarketingInfo?.AffiliateUser}}
          </div>
             <div class="value-edit1" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt"></th>
          <td class="text-ellipsis"></td>
        </tr>
        <!-- <tr>
              <th></th>
              <td></td>
              <th></th>
              <td></td>
            </tr> -->


      </tbody>
    </table>
  </div>
</div>


<!-- <tr>
  <th>Utm Source</th>
  <td></td>
  <th>Utm Campaign</th>
  <td></td>
</tr>
<tr>
  <th>Utm Creative</th>
  <td></td>
  <th>Utm Medium</th>
  <td></td>
</tr>
<tr>
  <th>Google Keyword</th>
  <td></td>
  <th>Aff Transaction ID</th>
  <td></td>
</tr>
<tr>
  <th>AffiliateUser</th>
  <td></td>
  <th></th>
  <td></td>
</tr> -->