<div class="modal-header">
   <h4 class="modal-title pull-left">{{title}} </h4>
   <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
       <span aria-hidden="true">&times;</span>
   </button>
</div>
<div class="form-holder mt15">
    <form class="form-horizontal upload-photo" autocomplete="off" novalidate="novalidate" [formGroup]="newRegisterForm">
        <div class="row">
            <input class="form-control" name="Id" type="hidden" value="">
            <div class="form-group row">
               <div class="col-md-6">
                  <div class="form-group row fileupload-style01 fileupload">
                     <div class="col-md-4">
                        <div class="user-photo-control">
                           <div class="files">
                              <div class="image"><img src="assets/images/user-photo-default.png" alt="" data-container="image-holder"></div>
                              <div class="controls"></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-8">
                        
                        <div class="fileupload-control">
                           <div class="dropzone">
                              <div class="dropzone-inner"><i _ngcontent-kvh-c8="" aria-hidden="true" class="fa fa-upload">&nbsp;</i><br> Drag your document here or <a href="#" class="image-link">browse files</a><input type="file" accept="image/*" outocomplete="off" formControlName="image" onchange="file_name_show()" id="file-upload"></div>
                              <div id="files_name"></div>
                           </div>
                           <div class="general-error" style="display: none;"></div>
                        </div>
                     </div>
                     <input type="hidden" name="Avatar" value=""><input type="hidden" name="AvatarWasChanged" value="">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group row">
                     <div class="col-md-3"><label class="valign-label" for="FirstName"><span data-tooltip-el="">First Name</span></label></div>
                     <div class="col-md-9"><input class="form-control" formControlName="firstname" name="FirstName" type="text" aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                           <div *ngIf="f.firstname.errors.required">First Name is required</div>
                           <div *ngIf="f.firstname.errors.minlength">First Name must be at least 2 characters</div>
                         </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-md-3"><label class="valign-label" for="LastName"><span data-tooltip-el="">Last Name</span></label></div>
                     <div class="col-md-9"><input class="form-control" formControlName="lastname" name="LastName" type="text" aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                           <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                           <div *ngIf="f.lastname.errors.minlength">Last Name must be at least 3 characters</div>
                         </div>
                     </div>
                  </div>
                  <div class="form-group row">
                     <div class="col-md-3"><label class="valign-label" for="UserName"><span data-tooltip-el="">User Name</span></label></div>
                     <div class="col-md-9"><input class="form-control valid" formControlName="username" name="UserName" type="text" aria-required="true" aria-invalid="false" [ngClass]="{ 'is-invalid': submitted && f.username.errors,'form-control':true}">
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                           <div *ngIf="f.username.errors.required">User Name is required</div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="Email"><span data-tooltip-el="">Email</span></label></div>
                     <div class="col-md-9"><input class="form-control" formControlName="email" name="Email" type="text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" aria-required="true" >
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                           <div *ngIf="f.email.errors.required">Email is required</div>
                           <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                         </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="Phone"><span data-tooltip-el="">Phone</span></label></div>
                     <div class="col-md-9"><input class="form-control" formControlName="phone" appPhoneMask name="Phone" type="text" [ngClass]="{ 'is-invalid': submitted && f.phone.errors,'form-control':true}" aria-required="true">
                        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                           <div *ngIf="f.phone.errors.required">Phone is required</div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="LockoutEnabled"><span data-tooltip-el="">Disabled</span></label></div>
                     <div class="col-md-9">
                        <div class="checkbox-inline">
                           <div class="input-checkbox"><span class=""><input class="form-control" formControlName="disabled" name="LockoutEnabled" type="checkbox"  value="true"></span></div>
                           &nbsp;
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="DeskId"><span data-tooltip-el="">Desk</span></label></div>
                     <div class="col-md-9">
                      
                           
                           <select class="form-control" name="DeskId" data-container="body" data-live-search="true" [ngClass]="{ 'is-invalid': submitted && f.desk.errors,'form-control':true}" aria-required="true" tabindex="-98" formControlName="desk">
                              <option value="">Select...</option>
                              <option value="206" value="{{getdesks?.Id}}" *ngFor="let getdesks of notshared">{{getdesks?.Name}}</option>
                           </select>
                           <div *ngIf="submitted && f.desk.errors" class="invalid-feedback">
                              <div *ngIf="f.desk.errors.required">Desk is required</div>
                            </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="Roles"><span data-tooltip-el="">Roles</span></label></div>
                     <div class="col-md-9">
                     
                          
                           <select class="form-control" name="DeskId" data-container="body" data-live-search="true"  aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.roles.errors,'form-control':true}" tabindex="-98" formControlName="roles">
                              <option value="">Select</option>
                              <option value="" value="{{getroles?.Id}}" *ngFor="let getroles of Roles">{{getroles?.Name}}</option>
                           </select>
                           <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
                              <div *ngIf="f.roles.errors.required">Roles is required</div>
                            </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="Department"><span data-tooltip-el="">Department</span></label></div>
                     <div class="col-md-9">
                      
                          
                           <select class="form-control" name="Department" data-container="body" data-live-search="true" tabindex="-98" formControlName="department">
                              <option value="">Select...</option>
                              <option value="0" value="{{getdepartments?.Id}}" *ngFor="let getdepartments of Departments">{{getdepartments?.Name}}</option>
                           </select>
                        </div>
                 
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="SharedDesks"><span data-tooltip-el="">SharedDesks</span></label></div>
                     <div class="col-md-9">
                        
                        <select class="form-control" name="DeskId" data-container="body" data-live-search="true"  aria-required="true" tabindex="-98" formControlName="shareddesks">
                           <option value="">Select...</option>
                           <option value="" value="{{shared?.Id}}" *ngFor="let shared of isshared">{{shared?.Name}}</option>
                        </select>
                        </div>
                    
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="TimeZoneId"><span data-tooltip-el="">Time Zone Id</span></label></div>
                     <div class="col-md-9">
                     
                        <ngx-select-dropdown (change)="selectionChanged($event)" [multiple]="true" [(ngModel)]="dataModel" [config]="config" [options]="dropdownOptions" formControlName="timezone">
                           <!-- <select class="form-control" name="TimeZoneId" data-container="body" data-live-search="true" aria-required="true" tabindex="-98" formControlName="timezone" id="my-select"> -->
                              <option value="">Select...</option>
                              <option value="{{gettimezones?.DisplayName}}"  *ngFor="let gettimezones of TimeZones">{{gettimezones?.DisplayName}}</option>
                           <!-- </select> -->
                        </ngx-select-dropdown>
                     
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="CultureCode"><span data-tooltip-el="">Culture Code</span></label></div>
                     <div class="col-md-9">
                        
                          
                           <select class="form-control" name="CultureCode" data-container="body" data-live-search="true" aria-required="true" tabindex="-98" formControlName="culturecode">
                              <option value="">Select...</option>
                              <option value="" value="{{getculturecode?.CultureCodeName}}" *ngFor="let getculturecode of CultureCode">{{getculturecode?.CultureCodeName}}</option>
                           </select>
                     
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label" for="UiCultureCode"><span data-tooltip-el="">Ui Culture Code</span></label></div>
                     <div class="col-md-9">
                        
                         
                           <select class="form-control" name="UiCultureCode" data-container="body" data-live-search="true" aria-required="true" tabindex="-98" formControlName="uiculturecode">
                              <option value="">Select...</option>
                              <option value="{{getculturecode?.UICultureCodeName}}"  *ngFor="let getculturecode of CultureCode">{{getculturecode?.UICultureCodeName}}</option>
                           </select>
                        
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label text-ellipsis" for="StartModuleId" data-original-title="" title=""><span data-tooltip-el="" tooltip="StartModuleId">StartModuleId</span></label></div>
                     <div class="col-md-9">
                        <select class="form-control" name="StartModuleId" data-container="body" data-live-search="true" tabindex="-98" formControlName="startmodule">
                           <option value="">Select...</option>
                           <optgroup label="Clients">
                              <option value="Clients">Clients</option>
                              <option value="Trade Accounts">Trade Accounts</option>
                           </optgroup>
                           <optgroup label="Activities">
                              <option value="Monetary Transactions">Monetary Transactions</option>
                              <option value="Tasks">Tasks</option>
                              <option value="Cases">Cases</option>
                              <option value="Documents">Documents</option>
                              <option value="Commonjournal"> Commonjournal</option>
                              <option value="Opened Orders">Opened Orders</option>
                              <option value="Closed Orders">Closed Orders</option>
                              <option value="Pending Orders">Pending Orders</option>
                           </optgroup>
                           <optgroup label="Reports">
                              <option value="Reports">Reports</option>
                              <option value="Trading Journal">Trading Journal</option>
                           </optgroup>
                           <optgroup label="Settings">
                              <option value="Crm Users">Crm Users</option>
                              <option value="Additional Fields">Additional Fields</option>
                              <option value="Affiliate Fields">Affiliate Fields</option>
                           </optgroup>
                        </select>
                          
                           <!-- <select class="form-control" name="StartModuleId" data-container="body" data-live-search="true" id="a4ce8f266-eedd-3524-ddc4-291dd07b7e36" tabindex="-98" formControlName="startmodule">
                              <option value="">Select...</option>
                        
                              <optgroup label="Clients">
                                 <option value="" *ngFor="let Clients of Modules">{{Clients?.Name}}</option>
                                 
                              </optgroup>
                              <optgroup label="Activities">
                                 <option value="" *ngFor="let Activities of Modules">{{Activities?.Name}}</option>
                              </optgroup>
                              <optgroup label="Reports">
                                 <option value="" *ngFor="let Reports of Modules">{{Reports?.Name}}</option>
                              </optgroup>
                              <optgroup label="Settings">
                                 <option value="" *ngFor="let Settings of Modules">{{Settings?.Name}}</option>
                              </optgroup>
                           </select> -->
                       
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label text-ellipsis" for="DefaultSenderSetting" data-original-title="" title=""><span data-tooltip-el="" tooltip="DefaultSenderSetting">DefaultSenderSetting</span></label></div>
                     <div class="col-md-9">
                      
                          
                        <select class="form-control" name="DeskId" data-container="body" data-live-search="true"  aria-required="true" tabindex="-98" formControlName="defaultsendersetting" [ngClass]="{ 'is-invalid': submitted && f.defaultsendersetting.errors,'form-control':true}">
                           <option value="">Select</option>
                           <option value="{{getsndrsettings?.SenderMailId}}"  *ngFor="let getsndrsettings of notsharedsender">{{getsndrsettings?.SenderMailId}}</option>
                        </select>
                        <div *ngIf="submitted && f.defaultsendersetting.errors" class="invalid-feedback">
                           <div *ngIf="f.defaultsendersetting.errors.required">DefaultSenderSetting is required</div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group row">
               <div class="col-md-6">
                  <div class="row">
                     <div class="col-md-3"><label class="valign-label text-ellipsis" for="SharedSenderSettings" data-original-title="" title=""><span data-tooltip-el="" tooltip="SharedSenderSettings">SharedSenderSettings</span></label></div>
                     <div class="col-md-9">
                       
                        <select class="form-control" name="TimeZoneId" data-container="body" data-live-search="true" aria-required="true" tabindex="-98" formControlName="sharedsendersettings">
                           <option value="">Select...</option>
                           <option value="{{getsndrsettings?.SenderMailId}}"  *ngFor="let getsndrsettings of isharedsender">{{getsndrsettings?.SenderMailId}}</option>
                        </select>
                        </div>
                    
                  </div>
               </div>
            </div>
            <div class="form-group row" id="passwords-area">
               <div class="switcheble-area row">
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-3"><label class="valign-label" for="Password"><span data-tooltip-el="">Password</span></label></div>
                        <div class="col-md-9">
                           <div class="input-control">
                              <input class="form-control valid " name="Password" type="password" id="pass_log_id" aria-required="true" aria-invalid="false" formControlName="password" pattern="^[A-Za-z0-9]*$"
                              [ngClass]="{ 'is-invalid': submitted && f.password.errors,'form-control':true }">
                              <a href="javascript:void(0);" class="input-button show-password">
                                 <i class="fa fa-eye fa-eye1" aria-hidden="true" ></i>
                              </a>
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                 <div *ngIf="f.password.errors.required">Password is required</div>
                                 <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                 <div *ngIf="f.password.errors.pattern">Password should not contain special characters</div>
                               </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-3"><label class="valign-label" for="RepeatPassword"><span data-tooltip-el="">Repeat Password</span></label></div>
                        <div class="col-md-9">
                           <div class="input-control">
                              <input class="form-control " name="RepeatPassword" type="password" id="pass_log_id1" aria-required="true" formControlName="repeatpassword" pattern="^[A-Za-z0-9]*$"
                              [ngClass]="{ 'is-invalid': submitted && f.repeatpassword.errors,'form-control':true }">
                              <a href="javascript:void(0);" class="input-button show-password1">
                                 <i class="fa fa-eye fa-eye1" aria-hidden="true" ></i>
                              </a>
                              <div *ngIf="submitted && f.repeatpassword.errors" class="invalid-feedback">
                                 <div *ngIf="f.repeatpassword.errors.required">Password is required</div>
                                 <div *ngIf="f.repeatpassword.errors.mustMatch">Passwords must match</div>
                               </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="message">{{response}}</div>
            <div _ngcontent-nra-c16="" class="col-md-12 padd0"><div _ngcontent-nra-c16="" _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center"><div _ngcontent-nra-c16="" _ngcontent-xfs-c7="" class="text-center"><div _ngcontent-nra-c16="" class="form-group ng-untouched ng-pristine ng-invalid" ng-reflect-form="[object Object]"><a _ngcontent-nra-c16="" _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);" (click)="svingDtls()">Save</a><a _ngcontent-nra-c16="" _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);" (click)=" hideModal()">Cancel</a></div></div></div></div>
         </div>
    </form>
</div>