.dashboard-boxes, .dashboard-info-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -8px;
}
.dashboard-info-boxes .item {
    padding: 0 0 8px 8px;
    width: 12.5%;
    flex-grow: 0;
    flex-basis: auto;
}
.dashboard-boxes .box, .dashboard-info-boxes .box {
    height: 100%;
    margin: 0;
}

.dashboard-info-box {
    height: 100%;
    margin: 0;
    font: 11px/16px Poppins,Arial,sans-serif;
    color: #8c9bb3;
}
.box02 {
    box-shadow: none;
}
.dashboard-info-box .box-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.box-content:after, .box-content:before, .box-footer:after, .box-heading:after, .box-heading:before, .box:after, .box:before {
    display: table;
    content: "";
    clear: both;
}
.dashboard-info-box.leads [class*=icon-] {
    color: #12baee;
    background: linear-gradient(45deg,#55ebff 0,#60adff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard-info-box [class*=icon-] {
    font-size: 35px;
    margin: 0 15px 0 0;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dashboard-info-box .text {
    text-align: center;
    text-transform: uppercase;
}
.dashboard-info-box.leads strong {
    color: #12baee;
}

.dashboard-info-box .text strong {
    display: block;
    white-space: nowrap;
    font: 700 20px/34px Poppins,Arial,sans-serif;
}

.dashboard-info-box {
    height: 100%;
    margin: 0;
    font: 11px/16px Poppins,Arial,sans-serif;
    color: #8c9bb3;
}

.box02 {
    box-shadow: none;
}
.box02, .box03 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    margin: 0 0 25px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}
.dashboard-info-box.retentiontarget {
    background: #49cbc9;
    background: -moz-linear-gradient(left,#49cbc9 0,#7decc1 100%);
    background: -webkit-linear-gradient(left,#49cbc9 0,#7decc1 100%);
    background: linear-gradient(to right,#49cbc9 0,#7decc1 100%);
    color: #fff;
}
.dashboard-info-box.salestarget {
    background: #ffe400;
    background: -moz-linear-gradient(left,#ffe400 0,#ffcc01 100%);
    background: -webkit-linear-gradient(left,#ffe400 0,#ffcc01 100%);
    background: linear-gradient(to right,#ffe400 0,#ffcc01 100%);
    color: #fff;
}
.dashboard-info-box.marketingtarget {
    background: #ff5c53;
    background: -moz-linear-gradient(left,#ff5c53 0,#f33233 100%);
    background: -webkit-linear-gradient(left,#ff5c53 0,#f33233 100%);
    background: linear-gradient(to right,#ff5c53 0,#f33233 100%);
    color: #fff;
}
.dashboard-info-box.onlinecustomers {
    background: #207cda;
    background: -moz-linear-gradient(left,#207cda 0,#60adff 100%);
    background: -webkit-linear-gradient(left,#207cda 0,#60adff 100%);
    background: linear-gradient(to right,#207cda 0,#60adff 100%);
    color: #fff;
}
.dashboard-info-box.totalnet [class*=icon-], .dashboard-info-box.totalnet strong {
    color: #8ec73f;
    background: linear-gradient(45deg,#8ec73f 0,#03b9e9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dashboard-data-box .box-heading {
    border: 1px solid #ecf1f8;
    border-width: 0 0 2px;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    color: #45596a;
    position: relative;
    padding: 0 30px;
}
.dashboard-data-box .box-heading .item {
    flex: 1;
}
.mr10 {
    margin-right: 10px;
}
.colsgrid:after {
    content: "";
    display: block;
    clear: both;
}
.dashboard-data-box .box-heading label {
    width: auto;
}

.dashboard-data-box label {
    font-weight: 500;
}
.colsgrid .col-md-6 {
    padding: 3px;
    margin: 0;
}
.colsgrid3 {
    margin-left: -5px;
    margin-right: -5px;
}
.colsgrid {
    margin-left: -15px;
    margin-right: -15px;
}
.dashboard-data-box .box-heading-button {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #dde7f9;
    border-radius: 3px;
    min-width: 35px;
    text-align: center;
    color: #dde7f9;
    font-size: 18px;
    line-height: 31px;
    height: 37px;
}
.dashboard-data-box .box-heading [class*=icon-trash] {
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
    color: #b3bac1;
    font-size: 18px;
}
a.box-heading-button.dropdown-toggle:after {
    content: none;
}
.dashboard-data-box .box-footer {
    padding: 15px 30px;
    border: 1px solid #ecf1f8;
    border-width: 2px 0 0;
}
.dashboard-boxes .box .box-content {
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    flex: 1;
}

.dashboard-data-box .box-content {
    padding: 15px 30px;
}
.dashboard-data-add .box-heading h2 {
    font-size: 24px;
}
.dashboard-data-box .add {
    display: table-cell;
    margin: 0 auto 70px;
    background: #f9fafe;
    border-radius: 50%;
    color: #adbcdb;
    width: 230px;
    text-align: center;
    height: 230px;
    vertical-align: middle;
    font-size: 57px;
}
.graphsection
{
    transform: translate(0, 50%);
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}