.dashboard-boxes, .dashboard-info-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -8px;
}
.dashboard-info-boxes .item {
    padding: 0 0 8px 8px;
    width: 12.5%;
    flex-grow: 0;
    flex-basis: auto;
}
.dashboard-boxes .box, .dashboard-info-boxes .box {
    height: 100%;
    margin: 0;
}

.dashboard-info-box {
    height: 100%;
    margin: 0;
    font: 11px/16px Poppins,Arial,sans-serif;
    color: #8c9bb3;
}
.box02 {
    box-shadow: none;
}
.dashboard-info-box .box-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}
.box-content:after, .box-content:before, .box-footer:after, .box-heading:after, .box-heading:before, .box:after, .box:before {
    display: table;
    content: "";
    clear: both;
}
.dashboard-info-box.leads [class*=icon-] {
    color: #12baee;
    background: linear-gradient(45deg,#55ebff 0,#60adff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard-info-box [class*=icon-] {
    font-size: 35px;
    margin: 0 15px 0 0;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dashboard-info-box .text {
    text-align: center;
    text-transform: uppercase;
}
.dashboard-info-box.leads strong {
    color: #12baee;
}

.dashboard-info-box .text strong {
    display: block;
    white-space: nowrap;
    font: 700 20px/34px Poppins,Arial,sans-serif;
}
.icon-users2:before {
    content: "\67";
}
.dashboard-info-box {
    height: 100%;
    margin: 0;
    font: 11px/16px Poppins,Arial,sans-serif;
    color: #8c9bb3;
}

.box02 {
    box-shadow: none;
}
.box02, .box03 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    margin: 0 0 25px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}