
@{
    ViewBag.Title = "Login";
}
<style>
    body {
        padding-top: 90px;
    }

    .panel-login {
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    }

        .panel-login > .panel-heading {
            color: #00415d;
            background-color: #fff;
            border-color: #fff;
            text-align: center;
        }

            .panel-login > .panel-heading a {
                text-decoration: none;
                color: #666;
                font-weight: bold;
                font-size: 15px;
                -webkit-transition: all 0.1s linear;
                -moz-transition: all 0.1s linear;
                transition: all 0.1s linear;
            }

                .panel-login > .panel-heading a.active {
                    color: #029f5b;
                    font-size: 18px;
                }

            .panel-login > .panel-heading hr {
                margin-top: 10px;
                margin-bottom: 0px;
                clear: both;
                border: 0;
                height: 1px;
                background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
                background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
                background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
                background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            }

        .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
            height: 45px;
            border: 1px solid #ddd;
            font-size: 16px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

        .panel-login input:hover,
        .panel-login input:focus {
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #ccc;
        }

    .btn-login {
        background-color: #59B2E0;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #59B2E6;
    }

        .btn-login:hover,
        .btn-login:focus {
            color: #fff;
            background-color: #53A3CD;
            border-color: #53A3CD;
        }

    .forgot-password {
        text-decoration: underline;
        color: #888;
    }

        .forgot-password:hover,
        .forgot-password:focus {
            text-decoration: underline;
            color: #666;
        }

    .btn-register {
        background-color: #1CB94E;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #1CB94A;
    }

        .btn-register:hover,
        .btn-register:focus {
            color: #fff;
            background-color: #1CA347;
            border-color: #1CA347;
        }
</style>
@*<div id="logindiv">
        <input type="text" data-bind="value:uservm.username"/>
        <input type="text" data-bind="value:uservm.password"/>
        <button id="btnSubmit">Login</button>
    </div>*@
<div class="container" id="logindiv">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="login-form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" data-bind="value:UserVM.Login.UserName">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" data-bind="value: UserVM.Login.Password">
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="register-form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="FirstName" id="firstName" tabindex="1" class="form-control" placeholder="FirstName" data-bind="value:UserVM.Register.FirstName">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="LastName" id="firstName" tabindex="1" class="form-control" placeholder="LastName" value="" data-bind="value:UserVM.Register.LastName">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="Email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" data-bind="value:UserVM.Register.Email">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Country" id="firstName" tabindex="1" class="form-control" placeholder="Country" value="" data-bind="value:UserVM.Register.Country">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Curreny" id="firstName" tabindex="1" class="form-control" placeholder="Curreny" value="" data-bind="value:UserVM.Register.Currency">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Promocode" id="firstName" tabindex="1" class="form-control" placeholder="Promocode" value="" data-bind="value:UserVM.Register.Promocode">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" data-bind="value:UserVM.Register.Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" data-bind="value:UserVM.Register.Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var UserVM = {}
        //UserVM.Login = {
        //    UserName: ko.observable('ravi@gmail.com'),
        //    Password: ko.observable('admin123')
        //};
        //UserVM.SelectedAccounts = ko.observableArray([
        //    20, 21, 22, 23
        //]);
        //UserVM.ClientS = {

          
        //    IsStarred: ko.observable(0),
        //    ClientId: ko.observable(62),
        //};


        UserVM.CreatEmail = {

            To: ko.observable('kk84singh@gmail.com'),
            Subject: ko.observable('hdfdf'),
            Body: ko.observable('Lead'),
            Sender: ko.observable('dgdg'),
            OwnerId: ko.observable(2),
            UserId: ko.observable(2),
        };

        // UserVM.CreatEmail = {
           
        //    To: ko.observable('kk84singh@gmail.com'),
        //    Subject: ko.observable('hdfdf'),
        //    Body: ko.observable('Lead'),
        //    Sender: ko.observable('dgdg'),
        //    OwnerId: ko.observable(2),
        //};

        //UserVM.UserInsert = {

        //    FirstName: ko.observable('ghgtt ggf'),
        //    LastName: ko.observable('Ldgdgdead'),
        //    Email: ko.observable('dfgg@gmail.com'),
        //    Phone: ko.observable(0),
        //    Password: ko.observable('hdfdf'),
        //    OwnerId: ko.observable(2),
        //    DeskId: ko.observable(1),
        //    IsDisabled: ko.observable(0),
        //    UserName: ko.observable('wewew'),
        //    IsAffiliateUser: ko.observable(1),
        //    ImageName: ko.observable('3'),
        //    LockoutEnabled: ko.observable(0),
        //    CampaignCode: ko.observable('24234224'),
        //    AffiliateFieldId: ko.observable(1),
        //    AffiliateFieldName: ko.observable('wewew'),
        //    DeskName: ko.observable('wewew'),
        //    RoleId: ko.observable(1),
        //    RoleName: ko.observable('85'),
        //    DepartmentId: ko.observable(1),
        //    DepartmentName: ko.observable('fdfd'),
        //    SharedDeskId: ko.observable(1),
        //    SharedDeskName: ko.observable('1'),
        //    TimezoneId: ko.observable(1),
        //    TimezoneName: ko.observable('hdfdf'),
        //    CultureCode: ko.observable('Lead'),
        //    CultureCodeId: ko.observable(1),
        //    UiCultureCode: ko.observable('wewew'),
        //    UiCultureCodeId: ko.observable(1),
        //    StartModuleId: ko.observable(1),
        //    StartModuleName: ko.observable('3'),
        //    DefaultSenderId: ko.observable(1),
        //    DefaultSenderName: ko.observable('24234224'),
        //    SharedSenderId: ko.observable(1),
        //    SharedSenderName: ko.observable('wewew'),
        //};
        //UserVM.UserEdit = {
              
        //      FirstName: ko.observable('fdfd'),
        //      LastName: ko.observable('Ldgdgdead'),
        //      Email: ko.observable('tomnick@gmail.com'),
        //      Phone: ko.observable(0),
        //      Password: ko.observable('hdfdf'),
        //      OwnerId: ko.observable('Lead'),
        //      DeskId: ko.observable(1),
        //      IsDisabled: ko.observable(0),
        //      UserName: ko.observable('wewew'),
        //      IsAffiliateUser: ko.observable(1),
        //      ImageName: ko.observable('3'),
        //      LockoutEnabled: ko.observable(0),
        //      CampaignCode: ko.observable('24234224'),
        //      AffiliateFieldId: ko.observable(1),
        //      AffiliateFieldName: ko.observable('wewew'),
        //      DeskName: ko.observable('wewew'),
        //      RoleId: ko.observable(1),
        //      RoleName: ko.observable('85'),
        //      DepartmentId: ko.observable(1),
        //      DepartmentName: ko.observable('fdfd'),
        //      SharedDeskId: ko.observable(1),
        //      SharedDeskName: ko.observable('1'),
        //      TimezoneId: ko.observable(1),
        //      TimezoneName: ko.observable('hdfdf'),
        //      CultureCode: ko.observable('Lead'),
        //      CultureCodeId: ko.observable(1),
        //      UiCultureCode: ko.observable('wewew'),
        //      UiCultureCodeId: ko.observable(1),
        //      StartModuleId: ko.observable(1),
        //      StartModuleName: ko.observable('3'),
        //      DefaultSenderId: ko.observable(1),
        //      DefaultSenderName: ko.observable('24234224'),
        //      SharedSenderId: ko.observable(1),
        //      SharedSenderName: ko.observable('wewew'),
        //};

        //  UserVM.AdditionInfo = {
             
        //      AcceptedTermConditions: ko.observable(0),
        //      Description: ko.observable('dfhdf'),
        //      OwnerId: ko.observable('3'),             
        //      IsOnline: ko.observable(0),
        //      PromoCode: ko.observable('ghd'),
        //      SubscribedNewsletter: ko.observable(1),
        //      SuppliedDocs: ko.observable(1),
        //};
        //UserVM.MarketingInfo = {
        //    AffiliateID: ko.observable('fdfd'),
        //    AffiliateUser: ko.observable('Ldgdgdead'),
        //    AffiliateUserId: ko.observable('1'),
        //    AffTransactionID: ko.observable(0),
        //    CampaignID: ko.observable('hdfdf'),
        //    IPAddress: ko.observable('Lead'),
        //    IPCountry: ko.observable('dgdg'),
        //    Referrer: ko.observable('wewew'),
        //    Source: ko.observable(0),
        //    SubAffiliateID: ko.observable(1),
        //    OwnerId: ko.observable('3'),
        //    Tag1: ko.observable('85'),
        //    Tag2: ko.observable('24234224'),
        //    UtmCampaign: ko.observable('wewew'),
        //    UtmContent: ko.observable(0),
        //    UtmCreative: ko.observable(1),
        //    UtmMedium: ko.observable('1'),
        //    UtmSource: ko.observable('85'),
        //    GoogleKeyword: ko.observable('24234224'),
        //};
        //UserVM.Register = {
        //    Description: ko.observable('jgjj'),
        //    Name: ko.observable('kk gg'),
        //    CurrencyId: ko.observable(1),           
        //    CurrencyName: ko.observable('phd'),
        //    Id: ko.observable('1'),
        //};
        //UserVM.Register = {
        //    FirstName: ko.observable('fdfd'),
        //    LastName: ko.observable('Ldgdgdead'),
        //    Email: ko.observable('kk84singh@gmail.com'),
        //    CountryId: ko.observable(0),
        //    GroupName: ko.observable('hdfdf'),
        //    AccountType: ko.observable('Lead'),
        //    Password: ko.observable('dgdg'),
        //    CountryName: ko.observable('wewew'),
        //    GroupId: ko.observable(0),
        //    ISendEmail: ko.observable(1),
        //    OwnerId: ko.observable('1'),
        //    Id: ko.observable('85'),
        //    Phone: ko.observable('24234224'),
        //};


        $(document).ready(function () {

            $.ajax({
                type: 'Post',
                 url: apiURl + "api/Client/GetClientInfoDetailById/43",
                contentType: 'application/json',
                processData: false,
                success: function (result) {
                    alert(result);
                }
            });
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/EmailToAllClients",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.CreatEmail),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/UpdateClientStarred",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.ClientS),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});

            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/GetUserById/5",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.UserInsert),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
             //$.ajax({
             //   type: 'Post',
             //    url: apiURl + "api/User/RegisterUser",
             //   contentType: 'application/json',
             //   processData: false,
             //   data: ko.toJSON(UserVM.UserInsert),
             //   success: function (result) {
             //       alert(result);
             //   }
             //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/User/UpdateUserDetail",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.UserEdit),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});

            //$.ajax({
            //    type: "get",
            //     url: 'http://localhost:59122/api/Common/GetAllDepartments',
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (data) {
            //        alert(data);
            //    },
            //    error: function (data) {
            //        shownotification(10000, 'info', 'Error', 'Something went wrong');
            //    }
            // });
            //$.ajax({
            //    type: "get",
            //    url: 'http://localhost:59122/api/Common/GetAllDesks',
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (data) {
            //        alert(data);
            //    },
            //    error: function (data) {
            //        shownotification(10000, 'info', 'Error', 'Something went wrong');
            //    }
            //});
            //$.ajax({
            //    type: "get",
            //    url: 'http://localhost:59122/api/Common/GetAllModuleGroups',
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (data) {
            //        alert(data);
            //    },
            //    error: function (data) {
            //        shownotification(10000, 'info', 'Error', 'Something went wrong');
            //    }
            //});
            //$.ajax({
            //    type: "get",
            //    url: 'http://localhost:59122/api/Common/GetAllModules',
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (data) {
            //        alert(data);
            //    },
            //    error: function (data) {
            //        shownotification(10000, 'info', 'Error', 'Something went wrong');
            //    }
            //});
            //$.ajax({
            //    type: "get",
            //    url: 'http://localhost:59122/api/Common/GetAllRoles',
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (data) {
            //        alert(data);
            //    },
            //    error: function (data) {
            //        shownotification(10000, 'info', 'Error', 'Something went wrong');
            //    }
            //});
            //$.ajax({
            //    type: "get",
            //    url: 'http://localhost:59122/api/Common/GetAllTimeZones',
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (data) {
            //        alert(data);
            //    },
            //    error: function (data) {
            //        shownotification(10000, 'info', 'Error', 'Something went wrong');
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/InsertUpdateAdditionalInfo",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.AdditionInfo),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});


            // $.ajax({
            //    type: 'Post',
            //     url: apiURl + "api/TradeGroup/UpdateTradeGroup",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.Register),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});

            // $.ajax({
            //    type: 'Post',
            //     url: apiURl + "api/Client/InsertUpdateMarketingInfo",
            //     contentType: 'application/json',
            //     processData: false,
            //     data: ko.toJSON(UserVM.MarketingInfo),
            //     success: function (result) {
            //        alert(result);
            //    }
            //});

            // $.ajax({
            //    type: 'Post',
            //     url: apiURl + "api/TradeGroup/GetTradeGroupDetailById/2",
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (result) {
            //        alert(result);
            //    }
            //});

            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/TradeGroup/InsertTradeGroup",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.Register),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});

            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/UpdateClient",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.Register),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});

            ////$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/DeleteClient/82",
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            //$.ajax({
            //    type: "get",
            //    url: 'http://localhost:59122/api/Client/GetRegistrationTypeEnum',
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (data) {
            //        alert(data.id);
            //    },
            //    error: function (data) {
            //        shownotification(10000, 'info', 'Error', 'Something went wrong');
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/InsertUpdateAddress",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.Register),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/AddClient",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.Register),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/GetTradeAccountByType",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.Login),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/GetAllClientsByOwnerId/1",
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            //$.ajax({
            //    type: "get",
            //    url: 'http://localhost:59122/api/Client/GetClientDetailById/1',
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (data) {
            //        alert(data.id);
            //    },
            //    error: function (data) {
            //        shownotification(10000, 'info', 'Error', 'Something went wrong');
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/GetCommentByOwnerId/1",
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/GetAddressByOwnerId/1",
            //    contentType: 'application/json',
            //    processData: false,
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            //$.ajax({
            //    type: 'Post',
            //    url: apiURl + "api/Client/InsertComment",
            //    contentType: 'application/json',
            //    processData: false,
            //    data: ko.toJSON(UserVM.Login),
            //    success: function (result) {
            //        alert(result);
            //    }
            //});
            $('#login-submit').on('click', function () {
                //$.ajax({
                //    url: "http://localhost:59122/api/User/UserList",
                //    success: function (result) {
                //        alert(result);
                //    }
                //});
                $.ajax({
                    type: 'Post',
                    url: apiURl + "api/User/IsAuthenticated",
                    contentType: 'application/json',
                    processData: false,
                    data: ko.toJSON(UserVM.Login),
                    success: function (result) {
                        alert(result);
                    }
                });
                //$.ajax({
                //    url: apiURl + "api/User/UserList",
                //    method: 'Get',
                //    async: false,
                //    contentType: 'application/json; charset=utf-8',
                //    data: ko.toJSON(UserVM),
                //    success: function (result) {
                //        alert(result);
                //    }
                //});
            });
            //$('#register-submit').on('click', function () {
            //    $.ajax({
            //        type: 'Post',
            //        url: apiURl + "api/User/RegisterUser",
            //        contentType: 'application/json',
            //        processData: false,
            //        data: ko.toJSON(UserVM.Register),
            //        success: function (result) {
            //            alert(result);
            //        }
            //    });
            //});
        });
    </script>

}