<app-header></app-header>
<!--------------Subheader---->
<div class="subheader">
  <div class="account-panel">
    <div class="main-holder">
      <div class="account-main-details">
        <p>ID: {{userGenralinfo?.ItemId}}<span class="type">{{userGenralinfo?.TypeName}}</span>
          <!-- <div class="dropdown ">
            TP: 102921
            <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <span class="caret"></span>
            </span>
            <ul class="dropdown-menu pull-right">
               <li>TP: 102921</li>
            </ul> -->
        <!-- </div> -->
        </p>
        <h2>{{userGenralinfo?.FirstName}} {{userGenralinfo?.LastName}}</h2>
      </div>
      <div class="account-details">
        <dl>
           <dt>Open P&amp;L</dt>
           <dd><span class="color06">$ -202.79</span></dd>
        </dl>
        <dl>
           <dt>CloseP&amp;L</dt>
           <dd><span class="color05">$ 8.70</span></dd>
        </dl>
        <dl>
           <dt>Deposit</dt>
           <dd><span class="color05">$ 1'105.93</span></dd>
        </dl>
        <dl>
           <dt>Withdrawal</dt>
           <dd><span class="">$ 0.00</span></dd>
        </dl>
        <dl>
           <dt>Net Deposit</dt>
           <dd><span class="color05">$ 1'105.93</span></dd>
        </dl>
        <dl>
           <dt>Credit</dt>
           <dd><span class="">$ 0.00</span></dd>
        </dl>
     </div>
    </div>
    <a class="history-back-link page-prev" href="">
      <i class="fa fa-chevron-left"></i></a>
  </div>
  <div class="account-nav-panel">
    <div class="main-holder">
      <div class="account-nav">
        <ul id="navPanel" style="    padding: 14px;
    padding-left: 0;">
          <li>
            <a href="#tasks" class="common">Tasks</a>
          </li>
          <li>
            <a href="#" class="common">Trade Accounts</a>
          </li>
          <li>
            <a href="#emails" class="common">Emails</a>
          </li>
          <li>
            <a href="#" class="common">Financial Transactions</a>
          </li>
          <li>
            <a href="#" class="common">Documents</a>
          </li>
          <li>
            <a href="#sent-sms" class="common">Sms</a>
          </li>
          <li>
            <a href="#" class="common">Cases</a>
          </li>
          <li>
            <a href="#registrationHistorys" class="common">RegistrationHistory</a>
          </li>
        </ul>
      </div>

      <div class="account-switcher">
        <ul>
           <li><a class=" no-events link-prev" href="#"><i class="fa fa-chevron-left"></i></a></li>
           <li>
              <a aria-expanded="true" class="link-control dropdown-toggle dropdown-toggle1" data-toggle="dropdown" href="#" role="button">
                <i class="fa fa-equals" style="font-size: 33px;top:8px;left: 13px;">=</i>
              </a>
              <div class="dropdown-menu pull-right">
                 <p>Jump to clients:</p>
                 <ul *ngFor="let data of rowData">
                    <li class="active"><a href="">{{data.FirstName}} {{data.LastName}}</a></li>
                    <!-- <li><a href="">BARTOLOMEO ALVERA</a></li>
                    <li><a href="">MATTEO GUARNIERI</a></li>
                    <li><a href="">Linus Test</a></li> -->
                 </ul>
              </div>
           </li>
           <li><a class="link-next disabled" href=""><i class="fa fa-chevron-right"></i></a></li>
        </ul>
     </div>
    </div>
  </div>
</div>

<!--------------------------->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9 col-md-8">
      <!-- <a href="headingSeven">Tasks</a> -->
    </div>
    <div class="col-xs-3 col-md-4">

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9 col-md-8">
      <div id="accordion" role="tablist">
        
        <div class="card mb20">
          <div class="card-header1 container" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a class="box-heading" data-toggle="" aria-expanded="true" aria-controls="collapseOne">
                <h2>General Info
                </h2>

              </a>
              <div class="box-control pull-right">
                <div class="pencil" id="edit" >
                  <i class="fa fa-pencil " aria-hidden="true"></i>
                </div>
                
                <div class="edit-data-options">
                  <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
                    data-action="apply">
                    <i class="fa fa-check dark">&nbsp;</i>Apply</a>
                  <a class="btn-type01 " id="gfg" data-rule="button" data-action="cancel">Cancel</a></div>
              </div>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">

              <app-general-info></app-general-info>
            </div>
          </div>
        </div>
        <div class="card-bodynew mb20"> <app-comments></app-comments></div>
        <!-- <div class="card mb20">
          <div class="card-header1 container" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="box-heading" data-toggle="" aria-expanded="true" aria-controls="collapseTwo">
                <h2> Comments </h2>
              </a>
              <div class="box-control pull-right">
                <a href="javascript:void(0);" class="btn-type02 dim no-events">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  Delete all
                </a>
                <a href="#addNewComment" class="btn-type02 collapsed" data-toggle="collapse"
                  aria-controls="addNewComment" aria-expanded="false">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Add
                </a>
                <a href="#" class="btn-type02 dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  All

                </a>
                <ul class="dropdown-menu dropdown-menu2">
                  <li><a href="javascript:void(0);" name="filterOption">All</a></li>
                  <li><a href="javascript:void(0);" name="filterOption">Last 5</a></li>
                  <li><a href="javascript:void(0);" name="filterOption">Mine</a></li>
                </ul>
              </div>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body">
              <app-comments></app-comments>

            </div>
          </div>
        </div> -->

        <div class="card mb20">
          <div class="card-header1 container" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed box-heading" data-toggle="" aria-expanded="false" aria-controls="collapseThree">
                <h2> Marketing Info</h2>
              </a>
              <div class="box-control pull-right">
                <div class="pencil1" id="edit1">
                  <i class="fa fa-pencil " aria-hidden="true"></i>
                </div>
                <!---- <button class="" [routerLink]="['/generalinfo',userid]"> 
                 </button>-->
                <div class="edit-data-options1">
                  <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
                    data-action="apply">
                    <i class="fa fa-check dark">&nbsp;</i>Apply</a>
                  <a class="btn-type01 " id="gfg1" data-rule="button" data-action="cancel">Cancel</a></div>
              </div>
            </h5>
          </div>
          <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
              <app-marketing-info></app-marketing-info>
            </div>
          </div>
        </div>


        <!-- <div class="card mb20">
          <div class="card-header1 container" role="tab" id="headingFour">
            <h5 class="mb-0">
              <a class="collapsed box-heading" data-toggle="" aria-expanded="false" aria-controls="collapseFour">
                <h2> Address</h2>
              </a>
              <div class="box-control pull-right">
                <div class="pencil2" id="edit2">
                  <i class="fa fa-pencil " aria-hidden="true"></i>
                </div>
                <div class="edit-data-options2">
                  <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
                    data-action="apply" (click)="updateAddress()">
                    <i class="fa fa-check dark">&nbsp;</i>Apply</a>
                  <a class="btn-type01 " id="gfg1" data-rule="button" data-action="cancel">Cancel</a></div>
              </div>
            </h5>
          </div>
          <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-body">
              <app-address></app-address>
            </div>
          </div>
        </div> -->
        <div class="card-bodynew mb20"> <app-address></app-address></div>

        

        <div class="card mb20">
          <div class="card-header1 container" role="tab" id="headingSix">
            <h5 class="mb-0">
              <a class="collapsed box-heading" data-toggle="" aria-expanded="false" aria-controls="collapseSix">
                <h2> Additional Info
                </h2>
              </a>
              <div class="box-control pull-right">
                <div class="pencil3" id="edit3">
                  <i class="fa fa-pencil " aria-hidden="true"></i>
                </div>
                <!---- <button class="" [routerLink]="['/generalinfo',userid]"> 
                 </button>-->
                <div class="edit-data-options3">
                  <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
                    data-action="apply">
                    <i class="fa fa-check dark">&nbsp;</i>Apply</a>
                  <a class="btn-type01 " id="gfg3" data-rule="button" data-action="cancel">Cancel</a></div>
              </div>
            </h5>
          </div>
          <div id="collapseSix" class="collapse show" role="tabpanel" aria-labelledby="headingSix">
            <div class="card-body">
              <app-additional-info></app-additional-info>
            </div>
          </div>
        </div>
        <!-- <div id="tasks"></div> -->
        <div class="card mb20"  id="tasks" style="padding: 15px;
    padding-left: 0;">
          <div class="card-header1 container" role="tab" id="headingSeven">

            <!-- <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false"
              aria-controls="collapseSeven" id="tasks" style="color:#000;">
              <h5 class="mb-0">

                Tasks
              </h5>
              <div class="box-control pull-right1">
                <div class="records-control-switcher" data-rule="count-record-selector" style="display: inline-block;">
                   <label>Records per page</label>
                   <select class="form-control" name="RecordsPerPageSelector" data-container="body" id="84a83566-f255-f870-c053-05a61106d08c">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                   </select>
                </div>
                <a href="javascript:void(0);" class="ico-add ico-sz3" >
                  <i class="fa fa-plus"></i>
                
                </a>
          
             </div>
              <i class="fa fa-chevron-down collpsicon"></i>

            </a> -->
            <div class="box-heading" style="width:100%;">
              <div class="box-control pull-right">
                 <div class="records-control-switcher showrcrd" data-rule="count-record-selector" style="display: none;">
                    <label>Records per page</label>
                    <select class="form-control" name="RecordsPerPageSelector" data-container="body" id="84a83566-f255-f870-c053-05a61106d08c">
                       <option value="5">5</option>
                       <option value="10">10</option>
                       <option value="15">15</option>
                       <option value="20">20</option>
                       <option value="50">50</option>
                       <option value="100">100</option>
                    </select>
                 </div>
                 <a href="javascript:void(0);" class="ico-add ico-sz3 showrcrd popupicon" data-rule="add-link" style="display:none;" data-toggle="modal" data-target="#createtask">
                  <i class="fa fa-plus "></i>
                </a>
                 <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false"
                 aria-controls="collapseSeven" id="tasks" style="color:#000;">
                 <i class="fa fa-chevron-down collpsicon"></i>
                </a>
              </div>
              <h2>Tasks</h2>
              <div class="records-control showrcrd" style="display: none;">Showing Records 
                <a href="javascript:void(0);" class="prev" style="visibility:hidden">Prev</a>
                 <a href="javascript:void(0);" class="next" style="visibility:hidden">Next</a>
                  <span style="width: 30px;">1 - 1</span> of <span style="width: 20px;">1</span></div>
           </div>
          </div>
          <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="card-body">
              <app-tasks-info></app-tasks-info>
            </div>
          </div>
        </div>
        <div> <app-trade-accounts></app-trade-accounts></div>
        <div class="card mb20" style="padding: 15px;padding-left: 0;">
    
          <div class="card-header1 container" role="tab" id="headingEight">

            <a class="collapsed" data-toggle="collapse" href="#collapseEight" aria-expanded="false"
              aria-controls="collapseEight" style="color:#000;">
              <h5 class="mb-0"> Email</h5>

              <i class="fa fa-chevron-down collpsicon"></i>
            </a>

          </div>
          <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
            <div class="card-body">
              <app-email></app-email>
            </div>
          </div>
        </div>

        <div><app-financial-transactions></app-financial-transactions></div>
         <div><app-info-documents></app-info-documents></div> 
        
        <div class="card mb20" style="padding: 15px;
    padding-left: 0;">
          <div class="card-header1 container" role="tab" id="headingNine">

            <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false"
              aria-controls="collapseNine" style="color:#000;">

              <h5 class="mb-0">
                Sms
              </h5>

              <i class="fa fa-chevron-down collpsicon"></i>
            </a>

          </div>
          <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="card-body">
              <!-- <app-sms></app-sms> -->
            </div>
          </div>
        </div>
         <div><app-info-cases></app-info-cases></div> 
        <div class="card mb20 mb4" style="padding: 15px;
    padding-left: 0;">
          <div class="card-header1 container" role="tab" id="headingTen">

            <a class="collapsed" data-toggle="collapse" href="#collapseTen" aria-expanded="false"
              aria-controls="collapseTen" style="color:#000;">

              <h5 class="mb-0">
                Registration History
              </h5>
              <i class="fa fa-chevron-down collpsicon"></i>
            </a>

          </div>
          <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
            <div class="card-body">
              <app-reg-his></app-reg-his>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-xs-3 col-md-4">
      <div id="sidebar">
        <div class="sidenav" style="display: block;">
          <h2>Actions</h2>
          <ul style="display: block;">
            <li><a href="javascript:void(0);"><i class="fa fa-user-o">&nbsp;</i>Create Account</a></li>
          </ul>
          <ul style="display: block;">
            <li><a href="javascript:void(0);"><i class="fa fa-refresh">&nbsp;</i>Add task</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-envelope">&nbsp;</i>Send email</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-envelope">&nbsp;</i>Send Sms</a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-history">&nbsp;</i>View history</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------create task model------------->
<div class="modal" id="createtask">
  <div class="modal-dialog modal750">
    <div class="modal-content">
      <div class="modal-header" style="height: 4rem;">
        <h1 class="modal-title popupheader">
          <i _ngcontent-jvq-c1="" class="fa fa-plus "></i>
          <span>
          CREATE TASK
          </span>
        </h1>
        <button type="button" class="close" data-dismiss="modal" #myModalClose style="outline:none">×</button>
      </div>
      <div class="modal-body">
        <app-create-task></app-create-task>


      </div>
    </div>
  </div>
</div>



<!--------------End create task model--------------->
<app-footer></app-footer>