<app-header></app-header>
<!--------------Subheader---->
<div class="subheader">
  <div class="account-panel">
    <div class="main-holder">
      <div class="account-main-details">
        <p>ID: {{userGenralinfo?.Id}}<span class="type">{{userGenralinfo?.TypeName}}</span>
         
        </p>
        <h2>{{userGenralinfo?.FirstName}} {{userGenralinfo?.LastName}}</h2>
      </div>
      <div class="account-details" *ngIf="realAccountSection">
        <dl *ngFor = "let userGenralinfo of userinfo">
           <dt>Open P&amp;L</dt>
           <dd><span class="color06">$ {{userGenralinfo?.OpenProfit}}</span></dd>
        </dl>
        <dl>
           <dt>CloseP&amp;L</dt>
           <dd><span class="color05">$ {{userGenralinfo?.CloseLoss}}</span></dd>
        </dl>
        <dl>
           <dt>Deposit</dt>
           <dd><span class="color05">$ {{userGenralinfo?.TotalDeposit}}</span></dd>
        </dl>
        <dl>
           <dt>Withdrawal</dt>
           <dd><span class="">$ {{userGenralinfo.TotalWithdrawal}}</span></dd>
        </dl>
        <dl>
           <dt>Net Deposit</dt>
           <dd><span class="color05">$ {{userGenralinfo?.NetDeposit}}</span></dd>
        </dl>
        <dl>
           <dt>Credit</dt>
           <dd><span class="">$ {{userGenralinfo?.Credit}}</span></dd>
        </dl>
     </div>
    </div>
    <a class="history-back-link page-prev" href="javascript:void(0);">
      <i class="fa fa-chevron-left"></i></a>
  </div>
  <div class="account-nav-panel">
    <div class="main-holder">
      <div class="account-nav">
        <ul id="navPanel" style="padding: 14px;
    padding-left: 0;">
          <li>
            <a href="javascript:void(0);" class="common" >Tasks</a>
          </li>
          <li *ngIf="realAccountSection">
            <a href="javascript:void(0);" class="common">Trade Accounts</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="common">Emails</a>
          </li>
          <li *ngIf="realAccountSection">
            <a href="javascript:void(0);" class="common">Financial Transactions</a>
          </li>
          <li *ngIf="realAccountSection">
            <a href="javascript:void(0);" class="common">Documents</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="common">Sms</a>
          </li>
          <li *ngIf="realAccountSection">
            <a href="javascript:void(0);" class="common">Cases</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="common">RegistrationHistory</a>
          </li>
        </ul>
      </div>

      <div class="account-switcher">
        <ul>
           <li><a class=" no-events link-prev" routerLink=""><i class="fa fa-chevron-left" ></i></a></li>
           <li>
              <a aria-expanded="true" class="link-control dropdown-toggle dropdown-toggle1" data-toggle="dropdown" href="#" role="button">
                <i class="fa fa-equals" style="font-size: 33px;top:8px;left: 13px;">=</i>
              </a>
              <div class="dropdown-menu pull-right">
                 <p>Jump to clients:</p>
                 <ul *ngFor="let data of rowData">
                    <li class="active" (click)="sendData(data.Id)"><a href="javascript:void(0);">{{data.FirstName}} {{data.LastName}}</a></li>
                    
                 </ul>
              </div>
           </li>
           <li><a class="link-next disabled" href=""><i class="fa fa-chevron-right"></i></a></li>
        </ul>
     </div>
    </div>
  </div>
</div>

<!--------------------------->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9 col-md-8">
     
    </div>
    <div class="col-xs-3 col-md-4">

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9 col-md-8">
      <div id="accordion" role="tablist">
        
        <div><app-general-info></app-general-info></div>
        <div class="card-bodynew mb20"> <app-comments></app-comments></div>
        <div><app-marketing-info></app-marketing-info></div>


        <div class="card-bodynew mb20"> <app-address></app-address></div>

        <div><app-additional-info></app-additional-info></div>

        <div><app-tasks-info></app-tasks-info></div>
        
        <div *ngIf="realAccountSection"> <app-trade-accounts></app-trade-accounts></div>

        <div><app-email></app-email></div>
        <div *ngIf="realAccountSection"><app-financial-transactions></app-financial-transactions></div>
         <div *ngIf="realAccountSection"><app-info-documents></app-info-documents></div> 
        
        <div class="card mb20" style="padding: 15px;
    padding-left: 0;">
          <div class="card-header1 container " role="tab" id="headingNine">

            <a class="collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false"
              aria-controls="collapseNine" style="color:#000;">

              <h5 class="mb-0">
                Sms
              </h5>

              <i class="fa fa-chevron-down collpsicon"></i>
            </a>

          </div>
          <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="card-body">
              <!-- <app-sms></app-sms> -->
            </div>
          </div>
        </div>
         <div *ngIf="realAccountSection"><app-info-cases></app-info-cases></div> 

        <div *ngIf="realAccountSection"><app-reg-his></app-reg-his></div> 
      </div>
    </div>

    <div class="col-xs-3 col-md-4">
      <div id="sidebar">
        <div class="sidenav" style="display: block;">
          <h2>Actions</h2>
          <ul style="display: block;">
            <li *ngIf="leadAccountSection"><a href="javascript:void(0);" (click)="crtacc(userGenralinfo.Id)"><i class="fa fa-user-o">&nbsp;</i>Create Account</a></li>
            <li *ngIf="realAccountSection"><a href="javascript:void(0);" (click)="crtacc(userGenralinfo.Id)"><i class="fa fa-user-o">&nbsp;</i>Create TP Account</a></li>
          </ul>
          <ul style="display: block;">
            <li><a href="javascript:void(0);" (click)="createtask()"><i class="fa fa-refresh" style="font-size: 21px;">&nbsp;</i>Add task</a></li>
            <li><a href="javascript:void(0);" (click)="sendemail(userGenralinfo.Id)"><i class="fa fa-envelope">&nbsp;</i>Send email</a></li>
            <li><a href="javascript:void(0);" (click)="sendsms(userGenralinfo.Id)"><i class="fa fa-envelope">&nbsp;</i>Send Sms</a></li>
            <li><a href="javascript:void(0);" (click)="viewhistory(userGenralinfo.Id)"><i class="fa fa-history">&nbsp;</i>View history</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 52px;"></div>
 <!-- move from bottom to top -->
<button (click)="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>



<!--------------End create task model--------------->
<app-footer></app-footer>

