[class*=icomark-]::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    background: url(/assets/images/sprite.png) -9999px no-repeat;
}
.content-tabs .nav-tabs>li>a:after, .content-tabs:after, .main-tabs .nav-tabs>li>a:after, .main-tabs:after, .switcher .checkcontrol:before, [class*=icomark-]:after {
    content: "";
}
.email-cell-content {
    width: 89px;
}
td.email-cell {
    width: 88px;
}
.roles-hierarchy {
    padding: 50px;    margin-bottom: 50px;
}
.whitearea {
    background: #fff;
}
.roles-hierarchy>ul {
    padding: 0 10px;
}
.roles-hierarchy ul {
    margin: 0 0 -30px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.roles-hierarchy>ul>li {
    padding: 0;
    margin: 0 0 30px;
}

.roles-hierarchy ul li ul li {
    position: relative;
    padding: 0 30px;
    margin: 30px 0;
}
.roles-hierarchy ul li>div {
    display: inline-block;
    vertical-align: top;
    min-width: 160px;
    position: relative;
    background: #fff;
    padding: 12px 15px;
    border: 1px solid #dde7f9;
    border-radius: 3px;
    color: #8c9bb3;
    font-size: 11px;
    line-height: 1.72727;
    text-transform: uppercase;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.07);
    -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.07);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.07);
}
.roles-hierarchy ul li>div>span {
    display: inline-block;
    vertical-align: top;
}
.roles-hierarchy ul li>div>span {
    display: inline-block;
    vertical-align: top;
}
.roles-hierarchy ul li>div>em {
    display: inline-block;
    vertical-align: middle;
    margin: -1px 10px;
    background: #dde7f9;
    border-radius: 50%;
    min-width: 18px;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    font-style: normal;
}
.roles-hierarchy ul li>div>i.add {
    bottom: auto;
    top: 4px;
    left: -8px;
    background: #12eea3;
}

.roles-hierarchy ul li>div>i {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.roles-hierarchy ul li>div:hover, .roles-hierarchy ul li>div:hover+ul li div {
    background: #f5f8fd;
}
.roles-hierarchy ul li:before {
    left: 0;
    bottom: 100%;
    margin-bottom: -22px;
    height: 1000%;
    width: 1px;
}

.roles-hierarchy ul li ul li:after, .roles-hierarchy ul li ul li:before {
    content: "";
    position: absolute;
    background: #dde7f9;
}
.roles-hierarchy ul li:after {
    left: 0;
    top: 22px;
    height: 1px;
    width: 30px;
}
.roles-hierarchy ul li>div>i.edt:before {
    width: 10px;
    height: 10px;
    background: url(/assets/images/sprite.png) -50px -645px no-repeat;
}

.roles-hierarchy ul li>div>i:before {
    width: 6px;
    height: 2px;
    background: #fff;
}
.roles-hierarchy ul li>div>i:after, .roles-hierarchy ul li>div>i:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.roles-hierarchy ul li>div:hover i {
    display: block;
}
.roles-hierarchy ul li>div>i.del {
    top: auto;
    bottom: 4px;
    left: -8px;
    background: #8c9bb3;
}
.roles-hierarchy ul li>div>i.edt {
    right: -8px;
    background: #3d75e1;
}
.roles-hierarchy ul li>div>.add:after {
    width: 2px;
    height: 6px;
    background: #fff;
}
.scrtabs-tab-container>* {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.scrtabs-tabs-fixed-container {
    float: left;
    height: 47px;
    overflow: hidden;
    width: 100%;
}
.scrtabs-tab-container * {
    box-sizing: border-box;
}
.roles-permissions .content-tabs .nav-tabs {
    margin: 0 0 -1px;
}

.content-tabs3 .nav-tabs {
    border-color: #c9d4e7;
}
.roles-permissions .content-tabs .nav-tabs>li>a {
    min-width: 1px;
    padding: 13px 35px;
}

.content-tabs3 .nav-tabs>li.active>a, .content-tabs3 .nav-tabs>li.active>a:focus, .content-tabs3 .nav-tabs>li.active>a:hover {
    border-color: #c9d4e7 #c9d4e7 transparent;
    background: #fff;
}
.content-tabs3 .nav-tabs>li.active>a, .content-tabs3 .nav-tabs>li.active>a:focus, .content-tabs3 .nav-tabs>li.active>a:hover, .content-tabs3 .nav-tabs>li>a:focus, .content-tabs3 .nav-tabs>li>a:hover {
    color: #12baee;
    border: 1px solid transparent;
}
.content-tabs .nav-tabs>li.active>a, .content-tabs .nav-tabs>li.active>a:focus, .content-tabs .nav-tabs>li.active>a:hover {
    color: #3d75e1;
    background: #f9fbfd;
    border: 0;
}
.content-tabs3 .nav-tabs>li>a {
    color: #97a5bb;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.content-tabs .nav-tabs>li>a {
    text-align: center;
    margin: 0;
    color: #8da5ba;
    padding: 13px 20px;
    min-width: 170px;
    line-height: 1.35714;
    line-height: 19px;
    border-radius: 2px 2px 0 0;
    border: 0;
    -webkit-box-shadow: 0 -2px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,.1);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-color: #dde7f9 #dde7f9 transparent;
}
.roles-permissions .item {
    margin: -1px 0 0;
    border: 1px solid #c9d4e7;
    border-width: 1px 0 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 20px;
}
.roles-permissions .item .cols {
    display: table;
    width: 100%;
}
.roles-permissions .item:first-child .item-heading .col {
    font-weight: 500;
}

.roles-permissions .item .col:first-child {
    border-width: 0;
    width: 345px;
    font-weight: 500;
}
.roles-permissions .item-heading .col {
    padding: 15px 40px;
    min-width: 175px;
}
.roles-permissions .item .col {
    display: table-cell;
    vertical-align: top;
    border: 1px solid #c9d4e7;
    border-width: 0 0 0 1px;
}
.roles-permissions .item-heading .checkbox-inline {
    margin: 0 0 15px;
    padding: 0;
    min-width: 175px;
    cursor: default;
}
.roles-permissions .item-heading .checkboxes {
    margin-bottom: -15px;
}
.roles-permissions .item-heading .checkbox-inline {
    margin: 0 0 15px;
    padding: 0;
    min-width: 175px;
    cursor: default;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
}
.input-checkbox .checked {
    background-position: 0 -240px;
}
.input-checkbox span {
    background-position: 0 -220px;
}
.input-checkbox input, .input-radio input {
    right: auto!important;
    left: 0!important;
    top: 0!important;
    width: 16px!important;
    height: 16px!important;
    opacity: 1;
    margin: 0!important;
}
.roles-permissions .item-heading .checkbox-inline {
    margin: 0 0 15px;
    padding: 0;
    min-width: 175px;
    cursor: default;
}
/* .input-checkbox span, .input-radio span {
    display: block;
    width: 16px;
    height: 16px;

    background: url(/assets/images/sprite.png) -9999px -9999px no-repeat;
} */
.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover, .form-control, .navbar-toggle, .open>.dropdown-toggle.btn-danger, .open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-info, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-warning {
    background-image: none;
}
.checkbox-inline label {
    display: inline-flex;
    /* vertical-align: middle; */
    padding-right: ;
}
.roles-permissions .item-content {
    border: 1px solid #dee5f2;
    border-width: 1px 0 0;
    padding: 10px 0;
    width: 100%!important;
}
.roles-permissions .item-body .toprow {
    margin: 0 0 15px;
}
.roles-permissions .item-body .form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}
.roles-permissions .item .col:first-child {
    border-width: 0;
   min-width: 345px;
    font-weight: 500;
}
.roles-permissions .iconmeans>div {
    margin: 0 0 0 20px;
}

.el-inline-block {
    display: inline-block!important;
}

[class*=icomark-].icomark-invisible.active, [class*=icomark-].icomark-visible.active, a[class*=icomark-].icomark-invisible:hover, a[class*=icomark-].icomark-visible:hover {
    background: #12baee;
}
[class*=icomark-].icomark-glasses.active, a[class*=icomark-].icomark-glasses:hover {
    background: #eeb812;
}
[class*=icomark-] {
    text-indent: -9999px;
    overflow: hidden;
    width: 21px;
    height: 21px;
    margin: 0 5px 0 0;
    border-radius: 50%;
}
.iconset, [class*=icomark-] {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
[class*=icomark-].icomark-invisible.active:after, a[class*=icomark-].icomark-invisible:hover:after {
    background-position: -15px -910px;
}
[class*=icomark-].icomark-invisible:after {
    background-position: -15px -865px;
}
.roles-permissions .item .iconset {
    margin-right: 15px;
}

.form-horizontal .iconset {
    margin: -2px 0;
}
.iconset {
    background: #dde7f9;
    height: 25px;
    margin: 4px 0;
    padding: 2px 0;
    border-radius: 12px;
    text-align: center;
    font-size: 0;
    line-height: 0;
}
[class*=icomark-].icomark-glasses.active:after, a[class*=icomark-].icomark-glasses:hover:after {
    background-position: -30px -910px;
}
[class*=icomark-].icomark-pen:after {
    background-position: -45px -865px;
}
[class*=icomark-].icomark-pen.active, a[class*=icomark-].icomark-pen:hover {
    background: #0fc285;
}
[class*=icomark-].icomark-asterisk.active, a[class*=icomark-].icomark-asterisk:hover {
    background: #e25732;
}
[class*=icomark-].icomark-glasses:after {
    background-position: -30px -865px;
}
.tab-content>.active {
    display: block;
    margin-bottom: 60px;
}