<div class="card-bodynew mb20">
<div class="card1 mb20"  id="tasks" style="padding: 15px;
padding-left: 0;">
      <div class="card-header1 container" role="tab" id="headingSeven">
        <div class="box-heading" style="width:100%;">
          <div class="box-control pull-right">
             <div class="records-control-switcher showrcrd" data-rule="count-record-selector" style="display: none;">
                <label>Records per page</label>
                <select class="form-control" name="RecordsPerPageSelector" data-container="body" id="84a83566-f255-f870-c053-05a61106d08c">
                   <option value="5">5</option>
                   <option value="10">10</option>
                   <option value="15">15</option>
                   <option value="20">20</option>
                   <option value="50">50</option>
                   <option value="100">100</option>
                </select>
             </div>
             <!-- <a href="javascript:void(0);" class="ico-add ico-sz3 showrcrd popupicon " data-rule="add-link" style="display:none;" data-toggle="modal" data-target="#createtask" (click)="createtask()">
              <i class="fa fa-plus"></i>
            </a> -->
            <a href="javascript:void(0);" class="ico-add ico-sz3 showrcrd popupicon " data-rule="add-link" style="display:none;" (click)="createtask()">
               <i class="fa fa-plus" ></i>
             </a>
             <a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false"
             aria-controls="collapseSeven" id="taskss" style="color:#000;">
             <i class="fa fa-chevron-down collpsicon"></i>
            </a>
          </div>
          <h2>Tasks</h2>
          <div class="records-control showrcrd" style="display: none;">Showing Records 
            <a href="javascript:void(0);" class="prev" style="visibility:hidden">Prev</a>
             <a href="javascript:void(0);" class="next" style="visibility:hidden">Next</a>
              <span style="width: 30px;">1 - 1</span> of <span style="width: 20px;">1</span></div>
       </div>
      </div>
      <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="card-body">
         <div class="box-content">
            <div class="table-type02 margin-bottom-0">
               <div  class="scroll-area" data-rule="scroll-area" style="min-height: 120px; max-height: 500px;">
                  <table class="table-style01 dataTable">
                     <thead>
                        <tr data-rule="titles">
                           <th>Owner<span class="fixel"><span><span></span></span></span></th>
                           <th>Type<span class="fixel" ><span><span></span></span></span></th>
                           <th>Status<span class="fixel"><span><span></span></span></span></th>
                           <th>Date<span class="fixel"><span><span></span></span></span></th>
                           <th>Description<span class="fixel"><span><span></span></span></span></th>
                           <th>Created By<span class="fixel"><span><span><br class="visible-xs visible-sm visible-md"> </span></span></span></th>
                           <th>Task<span class="fixel"><span><span></span></span></span></th>
                           <th>Created Date<span class="fixel"><span><span><br class="visible-xs visible-sm visible-md"> </span></span></span></th>
                           <th></th>
                        </tr>
                     </thead>
                     <tfoot></tfoot>
                     <tbody>
                        <tr *ngIf = notasks class="nofield">No Tasks</tr>
                        <tr *ngFor="let trade of getInfoTasks" data-index="0" data-rule="body">
                           <td style="max-width: 300px;">
                              <div data-display-for="16_UserId">
                                 <div class="text-ellipsis" tooltip="{{bindLoginData?.FullName}}">{{bindLoginData?.FullName}}</div>
                              </div>
                           </td>
                           <td style="max-width: 300px;">
                              <div data-display-for="16_Type">
                                 <div class="text-ellipsis" tooltip="{{trade?.TaskType}}">{{trade?.TaskType}}</div>
                              </div>
                           </td>
                           <td style="max-width: 300px;">
                              <div data-display-for="16_Status">
                                 <div class="text-ellipsis" tooltip="{{trade?.TaskStatus}}">{{trade?.TaskStatus}}</div>
                              </div>
                           </td>
                           <td style="max-width: 300px;">
                              <div data-display-for="16_Date">{{trade?.CreatedAt|date}}</div>
                           </td>
                           <td style="max-width: 200px;">
                              <div data-display-for="16_Description">
                                 <div class="text-ellipsis" data-field="Description" data-original-value="info">{{trade?.Description}}</div>
                              </div>
                           </td>
                           <td style="max-width: 300px;">
                              <div data-display-for="16_CreatedBy">
                                 <div class="text-ellipsis" tooltip="{{bindLoginData?.FullName}}">{{bindLoginData?.FullName}}</div>
                              </div>
                           </td>
                           <td style="max-width: 300px;">
                              <div data-display-for="16_ItemId">
                                 <div class="text-ellipsis"><a href="javascript:void(0);" (click)="edittask(trade)"><span>TSK{{trade?.Id}}</span></a></div>
                              </div>
                           </td>
                           <td style="max-width: 300px;">
                              <div data-display-for="16_CreatedDate">{{trade?.CreatedAt|date}}</div>
                           </td>
                           <td class="nowrap"></td>
                        </tr>
                     </tbody>
                  </table>
                 
                 
               </div>
            </div>
         </div>
        </div>
      </div>
    </div>
   

</div>
 <!------------------create task model------------->
<!-- <div class="modal" id="createtask">
   <div class="modal-dialog modal750">
     <div class="modal-content">
       <div class="modal-header" style="height: 4rem;">
         <h1 class="modal-title popupheader">
           <i _ngcontent-jvq-c1="" class="fa fa-plus "></i>
           <span>
           CREATE TASK
           </span>
         </h1>
         <button type="button" class="close" data-dismiss="modal" #myModalClose style="outline:none">×</button>
       </div>
       <div class="modal-body">
         <app-create-task></app-create-task>
 
 
       </div>
     </div>
   </div>
 </div> -->
