.cstm-search-btn-trigger {
    padding: 2px;
    left: 0;
    color: #fff;
    text-align: center;
    background: #a9c1d5;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 6px;
    left: 6px;
    overflow: hidden;
    cursor: pointer;
    z-index: 4;
    font-size: 7px;
}
.headingwidth
{
    width: 18.9%;
}
.text-ellipsis {
    
    width: 182px;
}
