<!-- <div class="jsgrid-items-counter">
   <span>{{GroupLength}} items</span>
 </div> -->
<div class="container-fluid">
        <div class="row">
          <div class="col-md-12 subheader">
            <div class="container-fluid container-padd">
             <div class="row">
                <div class="tools-panel-addon">
                  <div _ngcontent-ubb-c3="" class="jsgrid-items-counter"><span _ngcontent-ubb-c3="">{{GroupLength}} item</span></div>
                   <div class="breadcrumbs">
                      <ul>
                         <li itemscope="">
                            <span itemprop="title">Settings</span>
                         </li>
                         <li itemscope="">
                            <span itemprop="title">Groups</span>
                         </li>
                      </ul>
                   </div>
               </div>
             </div>
          </div>
             <div class="container-fluid container-padd">
              <div class="row subhedarpadd">
                <div _ngcontent-mew-c3="" class="col-md-5 main-tab">
                   <ul _ngcontent-mew-c3="" class="nav nav-pills tablist" role="tablist">
                      <li _ngcontent-mew-c3="" class="nav-item">
                         <a _ngcontent-mew-c3="" class="nav-link active" data-toggle="pill" href="#">
                            Groups</a>
                         </li>
                      
                   </ul>
                </div>
                <div _ngcontent-boj-c6="" class="col-md-7 rightsubopt displayend">
                  <div _ngcontent-boj-c6="" aria-label="Toolbar with button groups" class="btn-toolbar searchbtn" role="toolbar">
                     <div _ngcontent-boj-c6="" aria-label="First group" class="btn-group mr-2" role="group"><a _ngcontent-boj-c6="" routerlink="" ng-reflect-router-link="" href="javascript:void(0);" (click)="getGroups()"><i _ngcontent-boj-c6="" class="fa fa-refresh"></i></a></div>
                     <div _ngcontent-boj-c6="" aria-label="Second group" class="btn-group mr-2" role="group">
                        <div _ngcontent-boj-c6="" class="input-group selecticon grpselect">
                           <select _ngcontent-boj-c6="" class="selectpicker form-control" data-live-search="true" data-live-search-placeholder="All" id="all" title="Please select ">
                              <option _ngcontent-boj-c6="">Groups</option>
                              
                           </select>
                           <span _ngcontent-boj-c6="" class="serachicon brdr-right"><a _ngcontent-boj-c6="" class="" href="#"><i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-plus bg-primary1 fa-lg" style="color: white;"></i></a></span><span _ngcontent-boj-c6="" class="serachicon"><a _ngcontent-boj-c6="" href="#"><i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-pencil bg-primary1 fa-lg"></i></a></span>
                        </div>
                     </div>
                     <div _ngcontent-boj-c6="" aria-label="Third group" class="btn-group mr-2 serachicon " role="group"><a _ngcontent-boj-c6="" class="brdr-right" data-target="#createitem" (click)="newGroup()" data-toggle="modal" href="#"><i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-user-plus bg-primary1 fa-lg" style="color: white"></i></a><a _ngcontent-boj-c6="" class="brdr-right" href="#"><i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-pencil bg-primary1 fa-lg" disabled=""></i></a><a _ngcontent-boj-c6="" href="#"><i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-trash bg-primary1 fa-lg" disabled=""></i></a></div>
                     <!-- <div _ngcontent-boj-c6="" aria-label="Four group" class="btn-group mr-2 holder" role="group">
                        <i _ngcontent-boj-c6="" aria-expanded="false" aria-haspopup="true" aria-hidden="true" class="fa fa-ellipsis-h" data-toggle="dropdown" id="clientcret"></i>
                        <ul _ngcontent-boj-c6="" aria-labelledby="clientcret" class="dropdown-menu impdrp ">
                           <li _ngcontent-boj-c6=""><a _ngcontent-boj-c6="" class="link-import" data-target="#importclient" data-toggle="modal" title="Import Clients"><i _ngcontent-boj-c6="" class="fa fa-arrow-up"></i>Import Clients</a></li>
                           <li _ngcontent-boj-c6=""><a _ngcontent-boj-c6="" class="link-export" data-target="#exportclient" data-toggle="modal" href="#" title="Export Clients"><i _ngcontent-boj-c6="" class="fa fa-arrow-down"></i>Export Clients</a></li>
                           <li _ngcontent-boj-c6="" class="no-events disabled"><a _ngcontent-boj-c6="" class="link-sms" href="javascript:void(0);" title="Sms"><i _ngcontent-boj-c6="" class="fa fa-envelope"></i>Sms to selected</a></li>
                           <li _ngcontent-boj-c6="" class="no-events disabled"><a _ngcontent-boj-c6="" class="link-sms-all" data-target="#sms-all" data-toggle="modal" href="#" title="Sms"><i _ngcontent-boj-c6="" class="fa fa-sticky-note-o"></i>Sms to all</a></li>
                           <li _ngcontent-boj-c6="" class="no-events disabled"><a _ngcontent-boj-c6="" class="link-email" href="#" title="Emails"><i _ngcontent-boj-c6="" class="fa fa-envelope"></i>Email to selected</a></li>
                           <li _ngcontent-boj-c6="" class="no-events disabled"><a _ngcontent-boj-c6="" class="link-email-all" data-target="#email-all" data-toggle="modal" href="#" title="Emails"><i _ngcontent-boj-c6="" class="fa fa-envelope"></i>Email to all</a></li>
                           <li _ngcontent-boj-c6=""><a _ngcontent-boj-c6="" class="link-account" href="javascript:void(0);"><i _ngcontent-boj-c6="" class="fa fa-user"></i>Create Account</a></li>
                        </ul>
                     </div> -->
                  </div>
               </div>
             </div>
             
          </div>
 
         </div>
            
        </div>
        <div class="main-holder">
         <div id="content">
            <div class="tab-content main-tabs-content">
               <div role="tabpanel" class="tab-pane active fade in" id="filter">
               </div>
               <div class="content-area">
               </div>
               <div>
                  <div id="email" class="email">
                     <div class="email-grid-header email-header-scrollbar">
                       
                        <table class="email-table JColResizer" id="JColResizer0">
                           <tbody>
                              <tr class="email-header-row">
                                 <th class="email-header-cell email-align-center" >
                                    <div class="email-cell-content1">
                                       <div class="input-checkbox"><span><input type="checkbox"></span></div>
                                    </div>
                                 </th>
                                 <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc">
                                    <div class="email-cell-content">
                                       <div class="text-ellipsis"><span>Name</span></div>
                                    </div>
                                 </th>
                                 <th class="email-header-cell email-header-sortable" >
                                    <div class="email-cell-content">
                                       <div class="text-ellipsis"><span>Description</span></div>
                                    </div>
                                 </th>
                                 <th class="email-header-cell email-header-sortable">
                                    <div class="email-cell-content">
                                       <div class="text-ellipsis"><span>Initial Deposit</span></div>
                                    </div>
                                 </th>
                                 <th class="email-header-cell email-align-center email-header-sortable">
                                    <div class="email-cell-content">
                                       <div class="text-ellipsis"><span>Demo</span></div>
                                    </div>
                                 </th>
                                 <th class="email-header-cell email-align-left email-header-sortable">
                                    <div class="email-cell-content">
                                       <div class="text-ellipsis"><span>Currency</span></div>
                                    </div>
                                 </th>
                                 <th class="email-header-cell email-align-center email-header-sortable">
                                    <div class="email-cell-content">
                                       <div class="text-ellipsis"><span>Allow Trade</span></div>
                                    </div>
                                 </th>
                                 <th class="email-header-cell email-control-field email-align-center" >
                                    <div _ngcontent-bog-c3="" class="nospace">
                                       <i _ngcontent-bog-c3="" class="fa fa-sort-asc"></i><br _ngcontent-bog-c3="">
                                       <i _ngcontent-bog-c3="" class="fa fa-sort-desc"></i></div>
                                
                                 </th>
                              </tr>
                              <tr class="email-filter-row">
                                 <td class="email-cell email-align-center" style="width: 20px;">
                                    <div class="email-cell-content1">
                                       <i class="custom-close" title="Clear filter"><span>x</span></i>
                                    </div>
                                 </td>
                                 <td class="email-cell headingwidth" >
                                    <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="email-cell-content">
                                       <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="cstm-search input-control empty">
                                          <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="checkbox-dd">
                                             <i _ngcontent-obi-c12="" _ngcontent-eql-c3="" aria-expanded="false" aria-haspopup="true" class="fa fa-chevron-down comparation-type-3 cstm-search-btn-trigger" data-toggle="dropdown" id="firstid"></i>
                                             <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" aria-labelledby="firstid" class="drop dropdown-menu radiondrop">
                                                <form _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="ng-untouched ng-pristine ng-valid" novalidate="">
                                                   <ul _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="5"></span></div>
                                                            Contains 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="6"></span></div>
                                                            Not Contains 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="1"></span></div>
                                                            Equals 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="2"></span></div>
                                                            Not Equals 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="checked"><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="3"></span></div>
                                                            Starts With 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="4"></span></div>
                                                            End With 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="11"></span></div>
                                                            Empty 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="12"></span></div>
                                                            NotEmpty 
                                                         </label>
                                                      </li>
                                                   </ul>
                                                </form>
                                             </div>
                                          </div>
                                          <input _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="form-control emailinpt" data-comparation-type="3" name="ItemId_condition" type="text"><i _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="clear cstm-search-btn-clear"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""></span></i>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell headingwidth" >
                                    <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="email-cell-content">
                                       <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="cstm-search input-control empty">
                                          <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="checkbox-dd">
                                             <i _ngcontent-obi-c12="" _ngcontent-eql-c3="" aria-expanded="false" aria-haspopup="true" class="fa fa-chevron-down comparation-type-3 cstm-search-btn-trigger" data-toggle="dropdown" id="secondid"></i>
                                             <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" aria-labelledby="secondtid" class="drop dropdown-menu radiondrop">
                                                <form _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="ng-untouched ng-pristine ng-valid" novalidate="">
                                                   <ul _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="5"></span></div>
                                                            Contains 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="6"></span></div>
                                                            Not Contains 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="1"></span></div>
                                                            Equals 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="2"></span></div>
                                                            Not Equals 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="checked"><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="3"></span></div>
                                                            Starts With 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="4"></span></div>
                                                            End With 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="11"></span></div>
                                                            Empty 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="12"></span></div>
                                                            NotEmpty 
                                                         </label>
                                                      </li>
                                                   </ul>
                                                </form>
                                             </div>
                                          </div>
                                          <input _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="form-control emailinpt" data-comparation-type="3" name="ItemId_condition" type="text"><i _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="clear cstm-search-btn-clear"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""></span></i>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell headingwidth" >
                                    <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="email-cell-content">
                                       <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="cstm-search input-control empty">
                                          <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="checkbox-dd">
                                             <i _ngcontent-obi-c12="" _ngcontent-eql-c3="" aria-expanded="false" aria-haspopup="true" class="fa fa-equals comparation-type-3 cstm-search-btn-trigger1" data-toggle="dropdown" id="thirdid"></i>
                                             <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" aria-labelledby="thirdid" class="drop dropdown-menu radiondrop">
                                                <form _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="ng-untouched ng-pristine ng-valid" novalidate="">
                                                   <ul _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="5"></span></div>
                                                            Contains 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="6"></span></div>
                                                            Not Contains 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="1"></span></div>
                                                            Equals 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="2"></span></div>
                                                            Not Equals 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="active">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="checked"><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="3"></span></div>
                                                            Starts With 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="4"></span></div>
                                                            End With 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="11"></span></div>
                                                            Empty 
                                                         </label>
                                                      </li>
                                                      <li _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                         <label _ngcontent-obi-c12="" _ngcontent-eql-c3="">
                                                            <div _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="input-radio fistinpt"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""><input _ngcontent-obi-c12="" _ngcontent-eql-c3="" data-ignore-validation="true" name="filterparam" type="radio" value="12"></span></div>
                                                            NotEmpty 
                                                         </label>
                                                      </li>
                                                   </ul>
                                                </form>
                                             </div>
                                          </div>
                                          <input _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="form-control emailinpt" data-comparation-type="3" name="ItemId_condition" type="text"><i _ngcontent-obi-c12="" _ngcontent-eql-c3="" class="clear cstm-search-btn-clear"><span _ngcontent-obi-c12="" _ngcontent-eql-c3=""></span></i>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell email-align-center headingwidth" >
                                    <div _ngcontent-eme-c5="" class="email-cell-content">
                                       <select _ngcontent-eme-c5="" class="btn-group bootstrap-select form-control emailinpt">
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">All</span></a></option>
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">Yes</span></a></option>
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">No</span></a></option>
                                       </select>
                                    </div>
                                 </td>
                                 <td class="email-cell email-align-left headingwidth" >
                                    <div _ngcontent-eme-c5="" class="email-cell-content">
                                       <select _ngcontent-eme-c5="" class="btn-group bootstrap-select form-control emailinpt">
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">All</span></a></option>
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">Yes</span></a></option>
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">No</span></a></option>
                                       </select>
                                    </div>
                                 </td>
                                 <td class="email-cell email-align-center headingwidth" >
                                    <div _ngcontent-eme-c5="" class="email-cell-content">
                                       <select _ngcontent-eme-c5="" class="btn-group bootstrap-select form-control emailinpt">
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">All</span></a></option>
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">Yes</span></a></option>
                                          <option _ngcontent-eme-c5="" class="selected " data-original-index="1"><a _ngcontent-eme-c5="" aria-disabled="false" aria-selected="true" class="" data-tokens="null" role="option" tabindex="0"><span _ngcontent-eme-c5="" class="text">No</span></a></option>
                                       </select>
                                    </div>
                                 </td>
                                 <td class="email-cell email-control-field email-align-center email-cell-content" >
                                    
                                    <span _ngcontent-lrx-c3=""><i _ngcontent-lrx-c3="" _ngcontent-pje-c3="" _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search greyiconn"></i></span>
                                    </td>
                              </tr>
                              <!-- <tr class="email-insert-row" style="display: none;">
                                 <td class="email-cell email-align-center" style="width: 20px;">
                                    <div class="input-checkbox"><span><input type="checkbox"></span></div>
                                 </td>
                                 <td class="email-cell" style="width: 100px;">
                                    <div class="cstm-search input-control empty"><input type="text" class="form-control" placeholder="Search"></div>
                                 </td>
                                 <td class="email-cell" style="width: 100px;">
                                    <div class="email-cell-content"><textarea name="Description" class="form-control" id="1850e432-9bc7-420b-0578-b8ccff7aefa0"></textarea></div>
                                 </td>
                                 <td class="email-cell" style="width: 100px;">
                                    <div class="cstm-search input-control empty"><input type="text" class="form-control" placeholder="Search"></div>
                                 </td>
                                 <td class="email-cell email-align-center" style="width: 100px;">
                                    <div class="input-checkbox" id="uniform-ca03bb32-a61d-8946-f2a9-7ec3f482a77b"><span><input class="form-control" name="IsDemo" type="checkbox" id="ca03bb32-a61d-8946-f2a9-7ec3f482a77b" value="true"></span></div>
                                 </td>
                                 <td class="email-cell email-align-left" style="width: 100px;">
                                    <div class="btn-group bootstrap-select form-control">
                                       <button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="1fe6ba24-0d40-b43a-f859-9ea990f280ae" title="Select..."><span class="filter-option pull-left">Select...</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                                       <div class="dropdown-menu open" role="combobox">
                                          <div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search"></div>
                                          <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                             <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="checkbox  check-mark"></span><span class="text">Select...</span></a></li>
                                             <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">USD</span></a></li>
                                             <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">EUR</span></a></li>
                                             <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">GBP</span></a></li>
                                             <li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">BTC</span></a></li>
                                          </ul>
                                       </div>
                                       <select class="form-control" name="Currency" data-container="body" data-live-search="true" id="1fe6ba24-0d40-b43a-f859-9ea990f280ae" data-empty-checker="true" tabindex="-98">
                                          <option value="">Select...</option>
                                          <option value="1">USD</option>
                                          <option value="2">EUR</option>
                                          <option value="3">GBP</option>
                                          <option value="22">BTC</option>
                                       </select>
                                    </div>
                                 </td>
                                 <td class="email-cell email-align-center" style="width: 100px;">
                                    <div class="input-checkbox" id="uniform-977defdc-d80f-57e8-9458-147e584a1c3f"><span><input class="form-control" name="AllowTrade" type="checkbox" id="977defdc-d80f-57e8-9458-147e584a1c3f" value="true"></span></div>
                                 </td>
                                 <td class="email-cell email-control-field email-align-center" style="width: 100px;">
                                    <div _ngcontent-oov-c3="" class="dropleft droptop">
                                       <a _ngcontent-oov-c3="" class="ico-sz3 ico-link dh reverse" data-jsgrid-rule="link" href="#" target="_blank" title="Open in new tab">
                                          <i _ngcontent-oov-c3="" aria-hidden="true" class="fa fa-link greyiconnn"></i></a>
                                          <a _ngcontent-oov-c3="" class="ico-sz3 ico-link dh" data-jsgrid-rule="link" href="#" target="_blank" title="Open in new tab">
                                             <i _ngcontent-oov-c3="" _ngcontent-ktw-c1="" aria-hidden="true" class="fas fa-pencil-alt greyiconnn" disabled=""></i></a>
                                            </div>
                                 </td>
                              </tr> -->
                           </tbody>
                        </table>
                     </div>
                     <div class="email-grid-body jsgrid-grid-body" >
                        <table class="email-table table-striped" >
                           <tbody>
                              <tr class="email-row" *ngFor="let group of Group">
                                 <td class="email-cell email-align-center">
                                    <div class="email-cell-content1">
                                       <div class="input-checkbox"><span>
                                          
                                          <input type="checkbox" data-item-selector="true"></span>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell"  (click)="getGeneralInfo(group.Id)">
                                    <div class="email-cell-content">
                                       <div class="text-ellipsis" data-original-title="" title=""><a href="javascript:void(0);"><span>{{group.Name}}</span></a></div>
                                    </div>
                                 </td>
                                 <td class="email-cell" >
                                    <div class="email-cell-content">
                                       <div data-display-for="10_Description">
                                          <div class="text-ellipsis" data-field="Description" data-original-value="TradePro Markets Limited USD" data-original-title="" title="">{{group.Description}}</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell" >
                                    <div class="email-cell-content">
                                       <div data-display-for="10_InitialDeposit">
                                          <div class="text-ellipsis" data-field="InitialDeposit" data-original-value="0">{{group.InitialDeposit}}</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell email-align-center" >
                                    <div class="email-cell-content">
                                       <div data-display-for="10_IsDemo">
                                          <div class="text-center"><i _ngcontent-nih-c3="" aria-hidden="true" class="fa fa-check-circle" [ngStyle]="{'color': group.Demo ? 'green':'gray' }"></i></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell email-align-left" >
                                    <div class="email-cell-content">
                                       <div data-display-for="10_Currency">
                                          <div class="text-ellipsis">{{group.CurrencyName}}</div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell email-align-center" >
                                    <div class="email-cell-content">
                                       <div data-display-for="10_AllowTrade">
                                          <div class="text-center"><i _ngcontent-ixd-c3="" _ngcontent-nih-c3="" aria-hidden="true" class="fa fa-check-circle" [ngStyle]="{'color': group.AllowTrade ? 'green':'gray' }"></i></div>
                                       </div>
                                    </div>
                                 </td>
                                 <td class="email-cell email-control-field email-align-center" >
                                    <div _ngcontent-oov-c3="" class="dropleft droptop">
                                       <a _ngcontent-oov-c3="" class="ico-sz3 ico-link dh reverse" data-jsgrid-rule="link" href="javascript:void(0);"  title="Open in new tab" (click)="getGeneralInfo(group.Id)">
                                          <i _ngcontent-oov-c3="" aria-hidden="true" class="fa fa-link greyiconnn"></i></a>
                                          <a _ngcontent-oov-c3="" class="ico-sz3 ico-link dh" data-jsgrid-rule="link" href="#" title="Open in new tab">
                                             <i _ngcontent-oov-c3="" _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil-alt greyiconnn" disabled=""></i></a>
                                            </div>
                                 </td>
                              </tr>
                              
                              
                              
                           </tbody>
                        </table>
                     </div>
                    
                     <div class="email-load-shader" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1000; display: none;"></div>
                     <div class="email-load-panel" style="position: absolute; top: 50%; left: 50%; z-index: 1000; margin-top: -37.5px; margin-left: -112.5px; display: none;">Please, wait...</div>
                  </div>
                  <div class="row padd18 fxdpsn">
                     <div class="col-md-6">
                     <div class="copy">
                        <p>© 2020 Trade Fx CRM </p>
                     </div>
                  </div>
                     <div class="col-md-6 end">
                        <div class="email-pager-perpage" style="display: block;">
                           <label>
                              Records per page
                                 
                                 <select autocomplete="off" class="count-records-list form-control" tabindex="-98">
                                    <option value="20">20</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="250">250</option>
                                 </select>
                              
                           </label>
                        </div>
                        </div>
                     </div>
               </div>
            </div>
         </div>
        
      </div>
    </div> 

    <ng4-loading-spinner> </ng4-loading-spinner>
    
    <!------------------create item model------------->
<!-- <div class="modal" id="createitem">
   <div class="modal-dialog modal930">
     <div class="modal-content">
       <div class="modal-header" style="height: 4rem;">
         <h1 class="modal-title popupheader">
           
           <span>
            CREATE ITEM
           </span>
         </h1>
         <button type="button" class="close" data-dismiss="modal" #myModalClose style="outline:none">×</button>
       </div>
       <div class="modal-body modal-bodypadd">
         <app-create-item></app-create-item>
 
 
       </div>
     </div>
   </div>
 </div>
  -->
 
 
 <!--------------End create item model--------------->
    
    
    