/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
/* @import '~materialize-css/dist/css/materialize.min.css'; */
/***********************CSS****************************/
body {
    /* font: 13px/1.53845 Poppins,Arial,sans-serif; */
    color: #45596a;
    background: #e0e8f3;
    min-width: 1263px;
    font-family: Poppins,Arial,sans-serif;
}
.popupheader
{
    text-transform: uppercase;
    color: #000;
    font: 700 21px Poppins,Arial,sans-serif;
    letter-spacing: 1px;
}

.text-center {
    text-align: center;
}
.submit-button
{
    position: relative;
    padding: 11px 39px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46666;
    text-align: center;
    background: #12baee;
    color: #fff;
    border-radius: 3px;
    min-width: 125px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.submit-button:hover{
    color:#fff;
}
.modal-footernew {
    display: flex;
    justify-content: center;
}

.modal750
{
    width:750px!important;
    max-width:750px!important;
}
.modal930
{
    width:930px!important;
    max-width:930px!important;
}
.modal1250
{
    width:1250px!important;
    max-width:1250px!important;
}
.nopadd
{
    padding: 0!important;
}
.margin17
{
    margin-top:17px;
}
.steps-style01 {
    display: flex;
    justify-content: center;
    padding: 17px 30px;
}
.steps-style01 .item.active {
    color: #18bcee;
}
.steps-style01 .item {
    padding: 0 40px;
    color: #b9c0c6;
    font: 9px Poppins,Arial,sans-serif;
}
.steps-style01 .item-inner {
    position: relative;
    padding: 0 0 0 35px;
}
.steps-style01 .item.active .item-inner:before {
    border-color: #12baee;
}

.steps-style01 .item-inner:before {
    border: 1px solid #94a0a9;
    border-radius: 50%;
}
.steps-style01 .item-inner:after, .steps-style01 .item-inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin: -10px 0 0;
    width: 20px;
    height: 20px;
}
.steps-style01 .item.active strong {
    font-weight: 600;
    color: #45596a;
}

.steps-style01 .item strong {
    display: block;
    font: 13px Poppins,Arial,sans-serif;
    color: #94a0a9;
}
.line {
    border-top: 1px solid #dde7f9;
    height: 1px;
    overflow: hidden;
}
.main-holder {
    margin: 0 auto;
    padding: 0 30px;
}

.comparation-type-3
{
    left: 0;
    color: #a9c1d5;
    text-align: center;
    position: absolute;
    width: 33px;
    height: 100%;
    top: 7px;
    overflow: hidden;
    cursor: pointer;
    z-index: 4;
    font-size:12px;
}
.dropform
{
    height: 27px;
    width:69px;
}
.cstm-search
{
        position: relative;
}
.radiondrop
{
    padding: 0;
    margin: 5px 0 0;
    font-size: 13px;
    border: 1px solid #dde7f9;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.15);
    box-shadow: 0 3px 7px rgba(0,0,0,.15);
    width:100%;
}
.radiondrop  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.radiondrop  ul label {
    font-weight: 400;
    display: flex;
    margin: 0;
    padding: 3px 15px 3px 33px;
    color: #45596a;
}

.radiondrop  ul label span {
    display: block;
    width: 16px;
    height: 16px;
  
}
.fistinpt {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: 1px 0 0 -20px;
    padding: 0;
    width: 16px;
    height: 16px;
}
.greyiconn {
    color: #bdc3ca;
    text-align: -webkit-center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    opacity: 1.6;
    cursor: pointer;
}

.greyiconn:hover
{
    color:#2175bb;
    opacity: 1;
}
.greenbtn
{
    color:#12eea3;
}
.box-heading {
    width: 100%;
}
.box-control {
    position: relative;
    min-height: 30px;
    margin: -4px 0;
}
.records-control-switcher {
    margin-top: 2px;
    margin-bottom: 2px;
}
.records-control-switcher label {
    font: 14px/26px Poppins,Arial,sans-serif;
    vertical-align: top;
    color: #95abbf;
    margin: 0 15px;
}
.records-control-switcher .form-control {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 26px!important;
    background: #d2dbe8;
    color: #45596a;
    border-color: transparent;
    font-size: 14px;
    padding: 2px 26px;
    margin: 0;
    border-radius: 3px;
    margin-right: 20px;
}
.box-heading h2+.records-control {
    padding-left: 80px;
    display: inline-block;
    vertical-align: middle;
}
.records-control {
    display: inline-block;
    vertical-align: middle;
    color: #8da5ba;
    line-height: 22px;
}
.box-heading h2 {
    display: inline-block;
    margin: 0;
}
.box-pd01 .table-type01, .box-pd01 .table-type02, .box-pd01 .table-type04 {
    margin: 0 -40px 35px;
}
.scroll-area {
    overflow: auto;
}
.valign-label {
    display: table;
    display: flex;
    align-items: center;
    height: 33px;
    width: 100%;
    margin-bottom: 0;
}
.valign-label>span {
    display: table-cell;
    vertical-align: middle;
}
.bootstrap-select>.btn.dropdown-toggle {
    font-size: 13px;
    background: #fff;
    border-color: #dde7f9;
    text-shadow: none;
    height: 100%;
    opacity: 1;
    border-radius: 2px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
    border-radius: 0;
    border-color: transparent transparent #dde7f9;
    padding-left: 38px;
    text-align: left;
}
.button {
    margin: 0 3px!important;
}
.itembutton1{
    background: 0 0;
    color: #45596a;
    position: relative;
    padding: 11px 39px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46666;
    text-align: center;
    border-radius: 3px;
    min-width: 125px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    margin: 0 5px;
}
/*****************************************************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
        /* body:not(.page-client) {
            font: 15px/1.53845 Poppins,Arial,sans-serif;
            -moz-transform: scale(.8,.8);
            transform-origin: 50% 0;
            zoom: .8;
            zoom: 80%;
        } */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
