<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
 </div>
<div>
    <div _ngcontent-drw-c5="" class=" mt15" >
        <div _ngcontent-drw-c5="" class="form-holder">
           <form _ngcontent-drw-c5="" class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" [formGroup] = "workflowsForm">
              <div _ngcontent-drw-c5="" class="form-group">
                 <div _ngcontent-drw-c5="" class="row">
                    <div _ngcontent-drw-c5="" class=" col-md-6">
                        <div class="row">
                    <div _ngcontent-drw-c5="" class="col-xs-2 col-md-3"><label _ngcontent-drw-c5="" class="valign-label" for="Name"><span _ngcontent-drw-c5="" data-tooltip-el=""  style="line-break: anywhere;width:100%;">WorkflowName</span></label></div>
                    <div _ngcontent-drw-c5="" class="col-xs-10 col-md-9"><input _ngcontent-drw-c5="" aria-required="true" class="form-control" id="95040634-3c7c-0ef6-2ac1-143b8ad12967" name="Name" type="text" formControlName="workflowname"></div>
                </div>
            </div>
                    <div _ngcontent-drw-c5="" class=" col-md-6">
                        <div _ngcontent-drw-c5="" class="row">
                    <div _ngcontent-drw-c5="" class="col-xs-2 col-md-3"><label _ngcontent-drw-c5="" class="valign-label" for="Subject"><span _ngcontent-drw-c5="" data-tooltip-el="">Enabled</span></label></div>
                    <div _ngcontent-drw-c5="" class="col-xs-10 col-md-9">
                        <div _ngcontent-svd-c10="" class="checkbox-inline">
                            <div _ngcontent-svd-c10="" class="switch_box box_1">
                                
                                
                                <input _ngcontent-svd-c10="" class="switch_1" type="checkbox" formControlName="enabled">
                            
                            </div></div>
                    </div>
                 </div>
                </div>
                </div>
                 <div _ngcontent-drw-c5=""></div>
              </div>
              <div class="form-group">
                <div _ngcontent-bsq-c15="" class="row">
                    <div _ngcontent-bsq-c15="" class="col-md-6">
                        <div class="row">
                    <div _ngcontent-bsq-c15="" class="col-md-3"><label _ngcontent-bsq-c15="" class="valign-label" for="Roles"><span _ngcontent-bsq-c15="" data-tooltip-el="">Module</span></label></div>
                    <div _ngcontent-bsq-c15="" class="col-md-9">
                       <select class="form-control" name="Currency" formControlName="module" data-container="body" data-live-search="true" id="8c2d4afd-3b62-6e48-c4d0-06592bc5c526" aria-required="true">
                        <option value="">Select</option>
                        <option value="Trade Accounts">Trade Accounts</option>
                        <option value="Monetary Transactions">Monetary Transactions</option>
                        <option value="Clients">Clients</option>
                        <option value="Documents">Documents</option>
                     </select>
                    </div>
                </div>
                </div>
                <div _ngcontent-bsq-c15="" class="col-md-6">
                    <div class="row">
                <div _ngcontent-bsq-c15="" class="col-md-3"><label _ngcontent-bsq-c15="" class="valign-label" for="Roles"><span _ngcontent-bsq-c15="" data-tooltip-el="">Event</span></label></div>
                <div _ngcontent-bsq-c15="" class="col-md-9">
                   <select class="form-control" name="Currency" formControlName="event" data-container="body" data-live-search="true" id="8c2d4afd-3b62-6e48-c4d0-06592bc5c526" aria-required="true">
                     <option value="">Select</option>
                     <option value="AfterCreate">AfterCreate</option>
                     <option value="AfterUpdate">AfterUpdate</option>
                  </select>
                </div>
            </div>
            </div>
                 </div>
              </div>
           </form>
        </div>
        <div _ngcontent-drw-c5="" class="col-md-12 padd0">
           <div _ngcontent-drw-c5="" _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center">
              <div _ngcontent-drw-c5="" _ngcontent-xfs-c7="" class="text-center"><a _ngcontent-drw-c5="" _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);" (click)="crttheWorkflow()">Save</a><a _ngcontent-drw-c5="" _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);" (click)="hideModal()">Cancel</a></div>
           </div>
        </div>
     </div>
</div>