<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
 </div>
 <!-- cretae user ---------------------------------------------------------->
<div *ngIf = crtusr>
     <div class="form-holder mt15">
         <form class="form-horizontal upload-photo" autocomplete="off" novalidate="novalidate" [formGroup]="newRegisterForm">
             <!-- <div class="row"> -->
                 <div class="form-group row">
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="Email"><span data-tooltip-el="">User Name</span></label></div>
                          <div class="col-md-9"><input class="form-control" formControlName="username" name="Email" type="text"  [ngClass]="{ 'is-invalid': submitted && f.username.errors,'form-control':true}" aria-required="true">
                           <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                              <div *ngIf="f.username.errors.required">User Name is required</div>
                            </div>
                        </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="Phone"><span data-tooltip-el="">First Name</span></label></div>
                          <div class="col-md-9"><input class="form-control" formControlName="firstname" name="Phone" type="text"  aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                           <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                              <div *ngIf="f.firstname.errors.required">First Name is required</div>
                              <div *ngIf="f.firstname.errors.minlength">First Name must be at least 2 characters</div>
                            </div>
                        </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="LockoutEnabled"><span data-tooltip-el="">Last Name</span></label></div>
                          <div class="col-md-9">
                            <input class="form-control" formControlName="lastname" name="Phone" type="text" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" aria-required="true">
                            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                              <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                              <div *ngIf="f.lastname.errors.minlength">Last Name must be at least 3 characters</div>
                            </div>
                               
                          </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="DeskId"><span data-tooltip-el="">Email</span></label></div>
                          <div class="col-md-9">
                           
                                
                           <input class="form-control" formControlName="email" name="Phone" type="text"  aria-required="true" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                           <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="Roles"><span data-tooltip-el="">Phone</span></label></div>
                          <div class="col-md-9">
                          
                               
                           <input class="form-control" formControlName="phone"  [ngClass]="{ 'is-invalid': submitted && f.phone.errors,'form-control':true}" appPhoneMask name="Phone" type="text"  aria-required="true">
                           <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                              <div *ngIf="f.phone.errors.required">Phone is required</div>
                            </div>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="Department"><span data-tooltip-el="">
                           RoleId</span></label></div>
                          <div class="col-md-9">
                           
                               
                                <select class="form-control" name="Department" data-container="body" data-live-search="true" tabindex="-98" formControlName="roles" [ngClass]="{ 'is-invalid': submitted && f.roles.errors,'form-control':true}">
                                   <option value="">Select...</option>
                                   <option value="0" value="Affilate">Affilate</option>
                                </select>
                                <div *ngIf="submitted && f.roles.errors" class="invalid-feedback">
                                 <div *ngIf="f.roles.errors.required">RoleId is required</div>
                               </div>
                             </div>
                      
                       </div>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="SharedDesks"><span data-tooltip-el="">Lockout Enabled</span></label></div>
                          <div class="col-md-9">
                             
                           <div _ngcontent-djg-c12="" class="checkbox-inline">
                              <div _ngcontent-djg-c12="" class="switch_box box_1">
                                 <label _ngcontent-djg-c12="" class="switchboxtext">No</label>
                                 <input _ngcontent-djg-c12="" class="switch_1" type="checkbox" formControlName="lockoutenabled">
                              <label _ngcontent-djg-c12="" class="switchboxtext">Yes</label>
                           </div>
                        </div>
                             </div>
                         
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="TimeZoneId"><span data-tooltip-el="">Time Zone Id</span></label></div>
                          <div class="col-md-9">
                          
                               
                                <select class="form-control" name="TimeZoneId" data-container="body" data-live-search="true" aria-required="true" tabindex="-98" formControlName="timezone">
                                   <option value="">Select...</option>
                                   <option value="{{gettimezones?.DisplayName}}"  *ngFor="let gettimezones of TimeZones">{{gettimezones?.DisplayName}}</option>
                                </select>
                          
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="CultureCode"><span data-tooltip-el="">Ui Culture Code</span></label></div>
                          <div class="col-md-9">
                             
                               
                                <select class="form-control" name="CultureCode" data-container="body" data-live-search="true" aria-required="true" tabindex="-98" formControlName="culturecode">
                                   <option value="">Select...</option>
                                   <option value="" value="{{getculturecode?.CultureCodeName}}" *ngFor="let getculturecode of CultureCode">{{getculturecode?.CultureCodeName}}</option>
                                </select>
                          
                          </div>
                       </div>
                    </div>
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label" for="UiCultureCode"><span data-tooltip-el="">Culture Code</span></label></div>
                          <div class="col-md-9">
                             
                              
                                <select class="form-control" name="UiCultureCode" data-container="body" data-live-search="true" aria-required="true" tabindex="-98" formControlName="uiculturecode">
                                   <option value="">Select...</option>
                                   <option value="{{getculturecode?.UICultureCodeName}}"  *ngFor="let getculturecode of CultureCode">{{getculturecode?.UICultureCodeName}}</option>
                                </select>
                             
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="form-group row">
                   
                     <div class="col-md-6">
                        <div class="row">
                           <div class="col-md-3">
                              <label class="valign-label" for="Roles">
                                 <span data-tooltip-el="" tooltip="CampaignCode">CampaignCode</span></label>
                              </div>
                           <div class="col-md-9">
                           
                                
                            <input class="form-control" formControlName="campaigncode" name="Phone" type="text"  aria-required="true">
                                 
                           </div>
                        </div>
                     </div>
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label text-ellipsis" for="DefaultSenderSetting" data-original-title="" title=""><span data-tooltip-el="" tooltip="">Owner</span></label></div>
                          <div class="col-md-9">
                           
                               
                             <select class="form-control" name="DeskId" data-container="body" data-live-search="true"  aria-required="true" tabindex="-98" formControlName="owner">
                                <option value="">Select</option>
                                <option value="{{bindLoginData?.FullName}}">{{bindLoginData?.FullName}}</option>
                             </select>
                             
                          </div>
                       </div>
                    </div>
                  </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                       <div class="row">
                          <div class="col-md-3"><label class="valign-label text-ellipsis" for="SharedSenderSettings" data-original-title="" title=""><span data-tooltip-el="" tooltip="Password">Password</span></label></div>
                          <div class="col-md-9">
                            
                           <div class="input-control">
                              <input class="form-control valid" name="Password" type="password"  aria-required="true" aria-invalid="false" formControlName="password" pattern="^[A-Za-z0-9]*$"
                              [ngClass]="{ 'is-invalid': submitted && f.password.errors,'form-control':true }" id="pass_log_id">
                              <a href="javascript:void(0);" class="input-button show-password">
                                 <i class="fa fa-eye fa-eye1" aria-hidden="true"></i>
                              </a>
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                 <div *ngIf="f.password.errors.required">Password is required</div>
                                 <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                 <div *ngIf="f.password.errors.pattern">Password should not contain special characters</div>
                               </div>
                           </div>
                             </div>
                         
                       </div>
                    </div>
                    <div class="col-md-6">
                     <div class="row">
                        <div class="col-md-3"><label class="valign-label" for="Password"><span data-tooltip-el="">Repeat Password
                         
                          </span></label></div>
                        <div class="col-md-9">
                           <div class="input-control">
                              <input class="form-control valid" name="Password" type="password"  aria-required="true" aria-invalid="false" formControlName="repeatpassword" pattern="^[A-Za-z0-9]*$"
                              [ngClass]="{ 'is-invalid': submitted && f.password.errors,'form-control':true }" id="pass_log_id1">
                              <a href="javascript:void(0);" class="input-button show-password1">
                                 <i class="fa fa-eye fa-eye1" aria-hidden="true"></i>
                              </a>
                              <div *ngIf="submitted && f.repeatpassword.errors" class="invalid-feedback">
                                 <div *ngIf="f.repeatpassword.errors.required">Password is required</div>
                                 <div *ngIf="f.repeatpassword.errors.mustMatch">Passwords must match</div>
                               </div>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
                 
                 <div class="form-group row">
                  <div class="col-md-12">
                 <div class="line mt25 mlm30 mrm30">&nbsp;</div>
               </div>
            </div>
                 <!------------------------------------------->
                 <div class="box-content" affiliate-conditions="">
                  <div>
                     <div class="item form-horizontal specific-filter condition-builder" data-conditions-container="">
                        <div class="advanced-filter">
                           <div class="groups">
                              <h4 class="el-inline-block valign-t mr10">Conditions</h4>
                              <div class="mb10">
                                 <a href="javascript:void(0);" class="link-add-control link-add-group">
                                    <i class="fa fa-plus"></i>NEW GROUP</a></div>
                              <div data-groups-container="">
                                 <div class="group" data-group-container="" data-group-index="1">
                                    <div class="text-center form-inline logic-operator">
                                       <div class="form-group row">
                                          <div class="text-center">
                                            
                                             <select class="form-control" name="Conditions[1].LogicOperator" data-container="body" data-live-search="true" id="aabb2a20e-1298-b466-e6e4-73205eee7cbf" tabindex="-98">
                                                <option value="1">And</option>
                                                <option value="0">Or</option>
                                             </select>
                                          </div>
                                       </div>
                                    </div>
                                   
                                  
                                  
                                    <div class="groupset ">
                                       <div class="groupset-header">
                                          <a href="javascript:void(0);" class="link-remove-group custom-close"><span>x</span></a>
                                       </div>
                                       <div class="">

                                       <div data-id="items-container" class="condition-rows" data-rows-container="">
                                          <div class="item" data-row-container="">
                                             <div class="row">
                                                <div class="col-md-3">
                                                   <div class="">
                                                     
                                                      <select class="form-control" name="Conditions[1].Conditions[0].FieldId" data-container="body" data-live-search="true" id="a595d6acb-7776-1d38-e967-349a0f1a87a9" tabindex="-98" aria-required="true">
                                                         <option value="">Select...</option>
                                                        
                                                      </select>
                                                   </div>
                                                </div>
                                                <div class="col-md-5" data-field-condition=""></div>
                                                <div class="col-md-3">
                                                   <div class="text-center">
                                                      
                                                      <select class="form-control select-join" name="Conditions[1].Conditions[0].LogicOperator" data-container="body" data-live-search="true" id="a22405f13-6ce7-8388-17dc-0a97375670d2" tabindex="-98">
                                                         <option value="1">And</option>
                                                         <option value="0">Or</option>
                                                      </select>
                                                   </div>
                                                </div>
                                                <div class="col-md-1" data-field-condition="">
                                                <a href="javascript:void(0);" class="link-remove-group ico-sz2 "><i class="fa fa-trash" aria-hidden="true"></i></a>
                                             </div>
                                          </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                    <div class="groupset groupset2 text-center">
                                       <div class="groupset-body"><a href="javascript:void(0);" class="link-add-control link-add-condition"><i class="fa fa-plus"></i>New row</a></div>
                                    </div>
                                 </div>
                                 <div class="group" data-group-container="" data-group-index="2">
                                    <div class="text-center form-inline logic-operator">
                                       <div class="form-group row">
                                          <div class="text-center">
                                             
                                             <select class="form-control valid" name="Conditions[2].LogicOperator" data-container="body" data-live-search="true" id="a604f3246-a1e3-1a8f-52c5-f6faf6937c12" tabindex="-98" aria-invalid="false">
                                                <option value="1">And</option>
                                                <option value="0">Or</option>
                                             </select>
                                          </div>
                                       </div>
                                    </div>
                                   
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                 <!----------------------------------------------->
                 <div class="message">{{response}}</div>
                 <div _ngcontent-nra-c16="" class="col-md-12 padd0">
                    <div _ngcontent-nra-c16="" _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center"><div _ngcontent-nra-c16="" _ngcontent-xfs-c7="" class="text-center">
                       <div _ngcontent-nra-c16="" class="form-group ng-untouched ng-pristine ng-invalid" ng-reflect-form="[object Object]">
                          <a _ngcontent-nra-c16="" _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);" (click)="crtaffilateuser()">Save</a>
                          <a _ngcontent-nra-c16="" _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);" (click)="hideModal()">Cancel</a>
                        </div>
                     </div>
                  </div>
               <!-- </div> -->
              </div>
         </form>
     </div>
</div>

<!-- add role------------------------------------------------------------------ -->
<div *ngIf = adrole>
    role
</div>
