<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6">
          <table class="table">
            <tr>
                <th>Supplied Docs</th>
                <td></td>
              </tr>
              <tr>
                <th>Accepted Terms & Conditions</th>
                <td></td>
              </tr>
              <tr>
                <th>Subscribed Newsletter</th>
                <td></td>
              </tr>
              <tr>
                <th>IsOnline</th>
                <td></td>
              </tr>
              <tr>
                  <th>Description</th>
                  <td></td>
              </tr>
            </table>
        </div>
    </div>
</div>