<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <form [formGroup]="additionalForm">
        <table class="table" id="additionalinfo">
          <tr>
            <th class="tabletxt">Supplied Docs</th>
            <td>
              <div class="valueshhow3">
                {{userAdditionalInfo?.SuppliedDocs}}
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <input class="form-control" formControlName="supplieddocs" type="text" aria-required="true">

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">Accepted Terms & Conditions</th>
            <td>
              <div class="valueshhow3">
                {{userAdditionalInfo?.AcceptedTermConditions}}
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <input class="form-control" name="acceptedtermsconditions" formControlName="acceptedtermsconditions"
                  type="text" aria-required="true">

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">Subscribed Newsletter</th>
            <td>
              <div class="valueshhow3">
                {{userAdditionalInfo?.SubscribedNewsletter}}
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <input class="form-control" name="subscribednewsletter" formControlName="subscribednewsletter"
                  type="text" aria-required="true">

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">IsOnline</th>
            <td>
              <div class="valueshhow3">
                {{userAdditionalInfo?.IsOnline}}
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <input class="form-control" name="isonline" formControlName="isonline" type="text" aria-required="true">

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">Description</th>
            <td>
              <div class="valueshhow3">
                {{userAdditionalInfo?.Description}}
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <input class="form-control" name="description" formControlName="description" type="text"
                  aria-required="true">

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">Promocode</th>
            <td>
              <div class="valueshhow3">
                {{userAdditionalInfo?.Description}}
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <input class="form-control" name="description" formControlName="description" type="text"
                  aria-required="true">

              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>


<!-------------------------------------->
<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-xs-6 col-md-6">
        <table class="table">
          <tr>
              <th>Supplied Docs</th>
              <td></td>
            </tr>
            <tr>
              <th>Accepted Terms & Conditions</th>
              <td></td>
            </tr>
            <tr>
              <th>Subscribed Newsletter</th>
              <td></td>
            </tr>
            <tr>
              <th>IsOnline</th>
              <td></td>
            </tr>
            <tr>
                <th>Description</th>
                <td></td>
            </tr>
          </table>
      </div>
  </div>
</div> -->