<div class="card-bodynew mb20" *ngIf="AdditionalInfo">
<div class="card1 mb20">
  <div class="card-header1 container" role="tab" id="headingSix">
    <h5 class="mb-0">
      <a class="collapsed box-heading" data-toggle="" aria-expanded="false" aria-controls="collapseSix">
        <h2> Additional Info
        </h2>
      </a>
      <div class="box-control pull-right">
        <div class="pencil3" id="edit3" (click)="showhide()">
          <i class="fa fa-pencil " aria-hidden="true"></i>
        </div>
        
        <!-- <div class="edit-data-options3">
          <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
            data-action="apply">
            <i class="fa fa-check dark">&nbsp;</i>Apply</a>
          <a class="btn-type01 " id="gfg3" data-rule="button" data-action="cancel">Cancel</a></div> -->
      </div>
    </h5>
  </div>
  <div id="collapseSix" class="collapse show" role="tabpanel" aria-labelledby="headingSix">
    <div class="card-body">
      <!-- <app-additional-info></app-additional-info> -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <form [formGroup]="additionalForm">
        <table class="table" id="additionalinfo">
          <tr>
            <th class="tabletxt">Supplied Docs</th>
            <td>
              <div class="valueshhow3">
                <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true"
                    [ngStyle]="{'color': userAdditionalInfo?.SuppliedDocs ? 'green':'gray' }"></i>
                <!-- {{userAdditionalInfo?.SuppliedDocs}} -->
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <!-- <input class="form-control" formControlName="supplieddocs" type="text" aria-required="true"> -->
                <label class="switch ">
                  <input type="checkbox" formControlName="supplieddocs" class="primary">
                  <span class="slider round" ></span>
                </label>

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">Accepted Terms & Conditions</th>
            <td>
              <div class="valueshhow3">
                <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true"
                [ngStyle]="{'color': userAdditionalInfo?.AcceptedTermConditions ? 'green':'gray' }"></i>
                 <!-- {{userAdditionalInfo?.AcceptedTermConditions}}  -->
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <!-- <input class="form-control" name="acceptedtermsconditions" formControlName="acceptedtermsconditions"
                  type="text" aria-required="true"> -->
                  <label class="switch ">
                    <input type="checkbox" formControlName="acceptedtermsconditions" class="primary">
                    <span class="slider round" ></span>
                  </label>

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">Subscribed Newsletter</th>
            <td>
              <div class="valueshhow3">
                <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true"
                [ngStyle]="{'color': userAdditionalInfo?.SubscribedNewsletter ? 'green':'gray'}"></i>
                <!-- {{userAdditionalInfo?.SubscribedNewsletter}} -->
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <!-- <input class="form-control" name="subscribednewsletter" formControlName="subscribednewsletter"
                  type="text" aria-required="true"> -->
                  <label class="switch ">
                    <input type="checkbox" class="form-control" formControlName="subscribednewsletter" class="primary">
                    <span class="slider round" name="subscribednewsletter" ></span>
                  </label>

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">IsOnline</th>
            <td>
              <div class="valueshhow3">
                <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true"
                [ngStyle] = "{'color': userAdditionalInfo?.IsOnline ? 'green':'gray'}"></i>
                <!-- {{userAdditionalInfo?.IsOnline}} -->
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <!-- <input class="form-control" name="isonline" formControlName="isonline" type="text" aria-required="true"> -->
                <label class="switch">
                  <input type="checkbox" name="isonline" formControlName="isonline" disabled class="primary">
                  <span class="slider round" ></span>
                </label>

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">Description</th>
            <td>
              <div class="valueshhow3">
                {{userAdditionalInfo?.Description}}
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <input class="form-control" name="description" formControlName="description" type="text"
                  aria-required="true">

              </div>
            </td>
          </tr>
          <tr>
            <th class="tabletxt">Promocode</th>
            <td>
              <div class="valueshhow3">
                {{userAdditionalInfo?.PromoCode}}
              </div>
              <div class="value-edit3" data-rule="valueEdit" style="display:none;">
                <input class="form-control" name="description" formControlName="promocode" type="text"
                  aria-required="true">

              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
</div>
<div _ngcontent-fvr-c7="" class="card-bodynew mb20" *ngIf=additionalInfoEdit>
  <div _ngcontent-fvr-c7="" class="card1 mb20">
     <div _ngcontent-fvr-c7="" class="card-header1 container" id="headingSix" role="tab">
        <h5 _ngcontent-fvr-c7="" class="mb-0">
           <a _ngcontent-fvr-c7="" aria-controls="collapseSix" aria-expanded="false" class="collapsed box-heading" data-toggle="">
              <h2 _ngcontent-fvr-c7=""> Additional Info </h2>
           </a>
           <div _ngcontent-fvr-c7="" class="box-control pull-right">
              <!-- <div _ngcontent-fvr-c7="" class="pencil3" id="edit3" style="display: none;">
                <i _ngcontent-fvr-c7="" aria-hidden="true" class="fa fa-pencil "></i></div> -->
              <div _ngcontent-fvr-c7="" class="edit-data-options3"><a _ngcontent-fvr-c7="" class="btn-type01 btn02 submit-button" data-action="apply" data-rule="button" href="javascript:void(0);" (click)="saveShowHide()"><i _ngcontent-fvr-c7="" class="fa fa-check dark">&nbsp;</i>Apply</a>
                <a _ngcontent-fvr-c7="" class="btn-type01 " data-action="cancel" data-rule="button" id="gfg3" (click)="cancel()">Cancel</a></div>
           </div>
        </h5>
     </div>
     <div _ngcontent-fvr-c7="" aria-labelledby="headingSix" class="collapse show" id="collapseSix" role="tabpanel">
        <div _ngcontent-fvr-c7="" class="card-body"></div>
     </div>
  </div>
  <div _ngcontent-fvr-c7="" class="container-fluid">
     <div _ngcontent-fvr-c7="" class="row">
        <div _ngcontent-fvr-c7="" class="col-xs-6 col-md-12">
           <form _ngcontent-fvr-c7="" [formGroup]="additionalForm" novalidate="" ng-reflect-form="[object Object]" class="ng-untouched ng-pristine ng-valid">
              <table _ngcontent-fvr-c7="" class="table" id="additionalinfo">
                 <tr _ngcontent-fvr-c7="">
                    <th _ngcontent-fvr-c7="" class="tabletxt" style="border: none;">Supplied Docs</th>
                    <td _ngcontent-fvr-c7="" style="border: none;">
                       <div _ngcontent-fvr-c7="" class="valueshhow3" style="display: none;"><i _ngcontent-fvr-c7="" aria-hidden="true" class="fa fa-check-circle" style="font-size: 17px; color: green;" ng-reflect-ng-style="[object Object]"></i></div>
                       <!-- <div _ngcontent-fvr-c7="" class="value-edit3" data-rule="valueEdit" style="">
                         <label _ngcontent-fvr-c7="" class="switch "><input _ngcontent-fvr-c7="" class="primary ng-untouched ng-pristine ng-valid" formcontrolname="supplieddocs" type="checkbox" ng-reflect-name="supplieddocs"><span _ngcontent-fvr-c7="" class="slider round"></span></label>
                        </div> -->
                        <div class="value-edit3" data-rule="valueEdit">
                          <!-- <input class="form-control" name="isonline" formControlName="isonline" type="text" aria-required="true"> -->
                          <!-- <label class="switch">
                            <input type="checkbox" name="isonline" formControlName="supplieddocs"  class="primary">
                            <span class="slider round" ></span>
                          </label> -->
                          <div _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="checkbox-inline">
                          <div _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switch_box box_1">
                            <label _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switchboxtext">No</label>
                            <input _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switch_1" type="checkbox" name="isonline" formControlName="supplieddocs">
                            <label _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switchboxtext">Yes</label></div>
                          </div>
                        </div>
                    </td>
                 </tr>
                 <tr _ngcontent-fvr-c7="">
                    <th _ngcontent-fvr-c7="" class="tabletxt" style="border: none;">Accepted Terms &amp; Conditions</th>
                    <td _ngcontent-fvr-c7="" style="border: none;">
                       <div _ngcontent-fvr-c7="" class="valueshhow3" style="display: none;"><i _ngcontent-fvr-c7="" aria-hidden="true" class="fa fa-check-circle" style="font-size: 17px; color: green;" ng-reflect-ng-style="[object Object]"></i></div>
                       <!-- <div _ngcontent-fvr-c7="" class="value-edit3" data-rule="valueEdit" style="">
                         <label _ngcontent-fvr-c7="" class="switch "><input _ngcontent-fvr-c7="" class="primary ng-untouched ng-pristine ng-valid" formcontrolname="acceptedtermsconditions" type="checkbox" ng-reflect-name="acceptedtermsconditions"><span _ngcontent-fvr-c7="" class="slider round"></span></label>
                      </div> -->
                      <div class="value-edit3" data-rule="valueEdit" >
                        <!-- <input class="form-control" name="isonline" formControlName="isonline" type="text" aria-required="true"> -->
                        <!-- <label class="switch">
                          <input type="checkbox" name="isonline" formControlName="acceptedtermsconditions"  class="primary">
                          <span class="slider round" ></span>
                        </label> -->
                        <div _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="checkbox-inline">
                          <div _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switch_box box_1">
                            <label _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switchboxtext">No</label>
                            <input _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switch_1" name="isonline" type="checkbox" formControlName="acceptedtermsconditions">
                            <label _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switchboxtext">Yes</label></div>
                          </div>
                      </div>
                    </td>
                 </tr>
                 <tr _ngcontent-fvr-c7="">
                    <th _ngcontent-fvr-c7="" class="tabletxt" style="border: none;">Subscribed Newsletter</th>
                    <td _ngcontent-fvr-c7="" style="border: none;">
                       <div _ngcontent-fvr-c7="" class="valueshhow3" style="display: none;"><i _ngcontent-fvr-c7="" aria-hidden="true" class="fa fa-check-circle" style="font-size: 17px; color: green;" ng-reflect-ng-style="[object Object]"></i></div>
                       <!-- <div _ngcontent-fvr-c7="" class="value-edit3" data-rule="valueEdit" style="">
                         <label _ngcontent-fvr-c7="" class="switch "><input _ngcontent-fvr-c7="" class="primary ng-untouched ng-pristine ng-valid" formcontrolname="subscribednewsletter" type="checkbox" ng-reflect-name="subscribednewsletter"><span _ngcontent-fvr-c7="" class="slider round" name="subscribednewsletter"></span></label>
                      </div> -->
                      <div class="value-edit3" data-rule="valueEdit">
                        <!-- <input class="form-control" name="isonline" formControlName="isonline" type="text" aria-required="true"> -->
                        <!-- <label class="switch">
                          <input type="checkbox" name="isonline" formControlName="subscribednewsletter"  class="primary">
                          <span class="slider round" ></span>
                        </label> -->
                        <div _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="checkbox-inline">
                          <div _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switch_box box_1">
                            <label _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switchboxtext">No</label>
                            <input _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switch_1" name="isonline" type="checkbox" formControlName="subscribednewsletter">
                            <label _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switchboxtext">Yes</label></div>
                          </div>
                      </div>
                    </td>
                 </tr>
                 <tr _ngcontent-fvr-c7="">
                    <th _ngcontent-fvr-c7="" class="tabletxt" style="border: none;">IsOnline</th>
                    <td _ngcontent-fvr-c7="" style="border: none;">
                       <div _ngcontent-fvr-c7="" class="valueshhow3" style="display: none;"><i _ngcontent-fvr-c7="" aria-hidden="true" class="fa fa-check-circle" style="font-size: 17px; color: green;" ng-reflect-ng-style="[object Object]"></i></div>
                       <!-- <div _ngcontent-fvr-c7="" class="value-edit3" data-rule="valueEdit" style="">
                         <label _ngcontent-fvr-c7="" class="switch"><input _ngcontent-fvr-c7="" class="primary ng-untouched ng-pristine ng-valid" disabled="" formcontrolname="isonline" name="isonline" type="checkbox" ng-reflect-name="isonline" ng-reflect-is-disabled=""><span _ngcontent-fvr-c7="" class="slider round"></span></label>
                        </div> -->
                        <div class="value-edit3" data-rule="valueEdit">
                          
                          <!-- <label class="switch">
                            <input type="checkbox" name="isonline" formControlName="isonline"  class="primary">
                            <span class="slider round" ></span>
                          </label> -->
                          <div _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="checkbox-inline">
                            <div _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switch_box box_1">
                              <label _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switchboxtext">No</label>
                              <input _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switch_1" name="isonline" type="checkbox" formControlName="isonline" >
                              <label _ngcontent-kdq-c13="" _ngcontent-vpp-c22="" class="switchboxtext">Yes</label></div>
                            </div>
                        </div>
                    </td>
                 </tr>
                 <tr _ngcontent-fvr-c7="">
                    <th _ngcontent-fvr-c7="" class="tabletxt" style="border: none;">Description</th>
                    <td _ngcontent-fvr-c7="" style="border: none;">
                       <div _ngcontent-fvr-c7="" class="valueshhow3" style="display: none;"> test desc </div>
                       <!-- <div _ngcontent-fvr-c7="" class="value-edit3" data-rule="valueEdit" style=""><input _ngcontent-fvr-c7="" aria-required="true" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="description" name="description" type="text" ng-reflect-name="description"></div> -->
                       <div class="value-edit3" data-rule="valueEdit" >
                        <input class="form-control" name="description" formControlName="description" type="text"
                          aria-required="true">
        
                      </div>
                    </td>
                 </tr>
                 <tr _ngcontent-fvr-c7="">
                    <th _ngcontent-fvr-c7="" class="tabletxt" style="border: none;">Promocode</th>
                    <td _ngcontent-fvr-c7="" style="border: none;">
                       <div _ngcontent-fvr-c7="" class="valueshhow3" style="display: none;"> pr c </div>
                       <!-- <div _ngcontent-fvr-c7="" class="value-edit3" data-rule="valueEdit" style="">
                         <input _ngcontent-fvr-c7="" aria-required="true" class="form-control ng-untouched ng-pristine ng-valid" formcontrolname="promocode" name="description" type="text" ng-reflect-name="promocode">
                        </div> -->
                        <div class="value-edit3" data-rule="valueEdit" >
                          <input class="form-control" name="description" formControlName="promocode" type="text"
                            aria-required="true">
          
                        </div>
                    </td>
                 </tr>
              </table>
           </form>
        </div>
     </div>
  </div>
</div>
<!-------------------------------------->
<ng4-loading-spinner> </ng4-loading-spinner>
