<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
 </div>
 <!-- add clnt -->
 <div *ngIf = addclnt>
    <div _ngcontent-qnx-c33="">
        <div _ngcontent-qnx-c33="" class="form-holder mt40">
           <form _ngcontent-qnx-c33="" novalidate="" class="ng-untouched ng-pristine ng-valid">
              <div _ngcontent-qnx-c33="" class="form-horizontal">
                 <div _ngcontent-qnx-c33="" class="form-group row">
                    <div _ngcontent-qnx-c33="" class="col-md-3"><label _ngcontent-qnx-c33="" class="valign-label" for="SettingId"><span _ngcontent-qnx-c33="" data-tooltip-el="">Module ID</span></label></div>
                    <div _ngcontent-qnx-c33="" class="col-md-9">
                       <div _ngcontent-qnx-c33="" class="">
                          <select _ngcontent-qnx-c33="" aria-required="true" class="form-control" data-container="body" data-live-search="true" id="abea5caaa-1a55-8e20-fa13-7ef1560dca13" name="SettingId" tabindex="-98">
                             <option _ngcontent-qnx-c33="" value="" ng-reflect-value="">Select...</option>
                          </select>
                       </div>
                    </div>
                 </div>
                 <div _ngcontent-qnx-c33="" class="form-group row">
                    <div _ngcontent-qnx-c33="" class="col-md-3"><label _ngcontent-qnx-c33="" class="valign-label" for="Phone"><span _ngcontent-qnx-c33="" data-tooltip-el="">Type</span></label></div>
                    <div _ngcontent-qnx-c33="" class="col-md-9">
                        <select _ngcontent-qnx-c33="" aria-required="true" class="form-control" data-container="body" data-live-search="true" id="abea5caaa-1a55-8e20-fa13-7ef1560dca13" name="SettingId" tabindex="-98">
                            <option _ngcontent-qnx-c33="" value="" ng-reflect-value="">Select...</option>
                         </select>
                    </div>
                 </div>
                 <div _ngcontent-qnx-c33="" class="form-group row">
                    <div _ngcontent-qnx-c33="" class="col-md-3"><label _ngcontent-qnx-c33="" class="valign-label" for="Message"><span _ngcontent-qnx-c33="" data-tooltip-el="">Localisation Key</span></label></div>
                    <div _ngcontent-qnx-c33="" class="col-md-9">
                        <input _ngcontent-mmt-c20="" aria-required="true" class="form-control" id="aaa7aef8f-11fe-950f-93de-bb0700b29cd6" name="Phone" type="text"></div>
                 </div>
                 <div _ngcontent-qnx-c33="" class="form-group row">
                    <div _ngcontent-qnx-c33="" class="col-md-3"></div>
                    <div _ngcontent-qnx-c33="" class="col-md-9">
                        <span _ngcontent-mmt-c33="" class="">
                            <input _ngcontent-mmt-c33="" class=" ng-pristine ng-valid ng-touched" formcontrolname="disabled" name="LockoutEnabled" type="checkbox" value="true" ng-reflect-name="disabled"></span>
                        Make Quick Editable
                    </div>
                 </div>
              </div>
           </form>
        </div>
        <div _ngcontent-qnx-c33="" _ngcontent-npk-c14="" _ngcontent-rew-c17="" class="col-md-12 padd0">
           <div _ngcontent-qnx-c33="" _ngcontent-npk-c14="" _ngcontent-rew-c17="" _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center">
              <div _ngcontent-qnx-c33="" _ngcontent-npk-c14="" _ngcontent-rew-c17="" _ngcontent-xfs-c7="" class="text-center">
                 <div _ngcontent-qnx-c33="" _ngcontent-npk-c14="" _ngcontent-rew-c17="" class="form-group ng-untouched ng-pristine ng-invalid" ng-reflect-form="[object Object]"><a _ngcontent-qnx-c33="" _ngcontent-npk-c14="" _ngcontent-rew-c17="" _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);">Save</a><a _ngcontent-qnx-c33="" _ngcontent-npk-c14="" _ngcontent-rew-c17="" _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);">Cancel</a></div>
              </div>
           </div>
        </div>
     </div>
</div>
<!-- edit client -->
 <div *ngIf = edtclnt>
     <!-- edit additional module code -->
 </div>
 
