<!-- <div *ngIf = userinformation> -->
<div class="card-bodynew mb20" *ngIf="frontGeneralInfo">
<div class="card1 mb20 ">
  <div class="card-header1 container" role="tab" id="headingOne">
    <h5 class="mb-0">
      <a class="box-heading" data-toggle="" aria-expanded="true" aria-controls="collapseOne">
        <h2>General Info
        </h2>

      </a>
      <div class="box-control pull-right">
        <div class="pencil" id="edit" (click)="hideshow()">
          <i class="fa fa-pencil " aria-hidden="true"></i>
        </div>
        
      
      </div>
    </h5>
  </div>

  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-body11">

      <!-- <app-general-info></app-general-info> -->
    </div>
  </div>
</div>

<!-- General Info -->
<div class="container-fluid">
  <div class="row">
    <form [formGroup]="userInfoForm" class="width100 ">
    <table class="table" id="generalinfo">
      <thead>
        <tr>
          <th class="tabletxt">First Name</th>
          <td class="text-ellipsis ">
          <div class="valueshhow">
          {{userGenralinfo?.FirstName}}
          </div> 
          </td>
          <th class="tabletxt">Last Name</th>
          <td class="text-ellipsis">
           <div class="valueshhow">
          {{userGenralinfo?.LastName}}
          </div> 
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="tabletxt">Citizenship</th>
          <td>
          
            <div class="valueshhow">
              {{userGenralinfo?.CountryName}}

            </div>
          </td>
          <th class="tabletxt">Date of Birth</th>
          <td>
           <div class="valueshhow">          
              {{userGenralinfo?.DateOfBirth}}
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Email</th>
          <td>
           <div class="valueshhow">
          {{userGenralinfo?.Email}}
          </div>
          </td>
          <th class="tabletxt">Phone</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.Phone}}
              <!-- {{userGenralinfo?.CountryISDCode}} {{userGenralinfo?.Phone}} -->
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Mobile</th>
          <td>
            <div class="valueshhow">
          {{userGenralinfo?.Mobile}}
          </div>
          </td>
          <th class="tabletxt">Second Email</th>
          <td>
            <div class="valueshhow">
          {{userGenralinfo?.SecondEmail}}
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Item ID</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.ItemId}}
            </div>
          </td>
          <th class="tabletxt">Owner</th>
          <td>
           <div class="valueshhow">          
          {{bindLoginData?.FullName}}
          </div>          
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Status</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.ResponseStatus}}
            </div>
          </td>
          <th class="tabletxt">Created Date</th>
          <td>
           <div class="valueshhow">
          {{userGenralinfo?.CreatedAt}}
            </div>

          </td>
        </tr>
        <tr>
          <th class="tabletxt">LastCommentDate</th>
          <td>
          </td>
          <th class="tabletxt">Modified Date</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.UpdatedAt}}
            </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Convention Owner</th>
          <td>
           <div class="valueshhow">
            {{userGenralinfo?.ConvertionOwner}}
          </div>
          </td>
          <th class="tabletxt">Retention Owner</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.RetentionOwner}}
          </div>
          </td>
        </tr>
     
        <tr>
          <th class="tabletxt">FTD</th>
          <td>
           <div class="valueshhow">
             <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true" [ngStyle]="{'color': userGenralinfo?.ftd ? 'green':'gray' }"></i>          
          </div>
           <div class="value-edit list-group-item no-border" data-rule="valueEdit" style="display:none;">
             <label class="switch ">
               <input type="checkbox" class="primary">
               <span class="slider round" name="Ftd"></span>
             </label>
           </div>
          </td>
          <th class="tabletxt">FTD Date</th>
          <td>
          
           <div class="valueshhow">
          {{userGenralinfo?.FTDDate}}
          </div> 
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Enabled</th>
          <td>
          <div class="valueshhow">
            <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true" [ngStyle]="{'color': userGenralinfo?.Enabled ? 'green':'gray' }"></i>
          </div>
          <div class="value-edit list-group-item no-border" data-rule="valueEdit" style="display:none;">
              <label class="switch ">
          <input type="checkbox" class="primary" >
          <span class="slider round" name="Enabled"></span>
        </label>
          </div>
          </td>
          <th class="tabletxt">ClientTime</th>
          <!-- <td>{{userGenralinfo?.}}</td> -->
          <td>
            <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Last Login Date</th>
          <td>
        </td>
          <th class="tabletxt">Desk</th>
          <td class="text-ellipsis ">
            <div class="valueshhow">
            {{userGenralinfo?.Desk}}
            </div>
          <td>
        </td>
        </tr>
        <tr>
          <th class="tabletxt">HasTasks</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">Task Created Date</th>
          <td> 
        </td>
        </tr>
        <tr>
          <th class="tabletxt">TaskDate</th>
          <td>
        </td>
          <th class="tabletxt">AssignedDate</th>
          <td class="text-ellipsis ">
            <div class="valueshhow">
            {{userGenralinfo?.AssignedDate}}
            </div>
          <td>
        </td>
        </tr>
        <tr>
          <th class="tabletxt">HasNotCompletedTasks</th>
          <td>
        </td>
          <th class="tabletxt">TotalDeposits</th>
          <td>
        </td>
        </tr>
        <tr>
          <th class="tabletxt">Ftd Amount</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">Total Withdrawals</th>
          <td>
        </td>
        </tr>
        <tr>
          <th class="tabletxt">NetDeposits</th>
          <td>
        </td>
          <th class="tabletxt">Type</th>
          <td class="text-ellipsis ">
            <div class="valueshhow">
            {{userGenralinfo?.TypeName}}
            </div>
          <td>
        </td>
        </tr>
        <tr>
          <th class="tabletxt">FirstRegistrationDate</th>
          <td>
        </td>
          <th class="tabletxt">RegistrationType</th>
          <td>          
            <div class="valueshhow">
          {{userGenralinfo?.RegistrationType}}
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">LastTaskDaysPast</th>
          <td>
           <div class="valueshhow">
          {{userGenralinfo?.LastTaskDaysPast}}
          </div> 
          </td>
          <th class="tabletxt">DaysAgoClientCreated
          </th>
          <td>
           <div class="valueshhow">
          {{userGenralinfo?.DaysAgoClientCreated}}
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  </div>
</div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<div class="card-bodynew mb20" *ngIf="editGeneralInfo">
  <div class="card1 mb20 ">
    <div class="card-header1 container" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a class="box-heading" data-toggle="" aria-expanded="true" aria-controls="collapseOne">
          <h2>General Info
          </h2>
  
        </a>
        <div class="box-control pull-right">
         
          
          <div class="edit-data-options">
            <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
              data-action="apply" (click)="savehideshow()">
              <i class="fa fa-check dark">&nbsp;</i>Apply</a>
            <a class="btn-type01 " id="gfg" data-rule="button" data-action="cancel" (click)="closehideshow()" >Cancel</a></div>
        </div>
      </h5>
    </div>
  
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body11">
  
        <!-- <app-general-info></app-general-info> -->
      </div>
    </div>
  </div>
<form [formGroup]="userInfoForm">
  <div class="container-fluid">
    <div class="row">

      <table class="table">
        <thead>
          <tr>
            <th class="tabletxt">First Name</th>
            <td><input type="text" class="form-control" formControlName="firstName"></td>
            <th class="tabletxt">Last Name</th>
            <td><input type="text"  class="form-control" formControlName="lastName"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="tabletxt">Citizenship</th>
            <td>
              <!-- <input type="text" formControlName="citizenship"> -->
              <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
          data-live-search="true" formControlName="citizenship" (change)="getPhoneCode($event.target.value)">
          <option ngcontent-qpo-c3="">Select</option>
          <option ngcontent-qpo-c3="" value="{{country.Id}}" *ngFor="let country of Country">
             {{country.Name}}</option>
            </select>
            </td>
            <th class="tabletxt">Date of Birth</th>
            <td><input type="date" class="form-control datetimepicker valid" formControlName="dob"></td>
          </tr>
          <tr>
            <th class="tabletxt">Email</th>
            <td><input type="text" class="form-control" formControlName="email"></td>
            <th class="tabletxt">Phone</th>
            <td> 
              <input formControlName="phoneCode"
              disabled />
              <input type="text" class="form-control" formControlName="phone" ></td>
          </tr>
          <tr>
            <th class="tabletxt">Mobile</th>
            <td><input type="text" class="form-control" formControlName="mobile" appPhoneMask></td>
            <th class="tabletxt">Second Email</th>
            <td><input type="text" class="form-control" formControlName="secondemail"></td>
          </tr>
          <tr>
            <th class="tabletxt">Item ID</th>
            <td><input type="text" class="form-control disabledd" formControlName="itemid" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">Owner</th>
            <td><input type="text" class="form-control disabledd" formControlName="owner" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">Status</th>
            <td>
              <!-- <input type="text"  class="form-control"formControlName="status"> -->
              <select class="form-control" name="Department" data-container="body" data-live-search="true" id="aecf73213-ba89-9750-cbde-42984704b916" tabindex="-98" formControlName="status">
                <option>Select...</option>
                <option value="0" value="{{status?.Name}}" *ngFor="let status of Status">{{status?.Name}}</option>
             </select>
            </td>
            <th class="tabletxt">Created Date</th>
            <td><input type="text" class="form-control disabledd" formControlName="createddate" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">LastCommentDate</th>
            <td><input type="text" class="form-control disabledd" formControlName="lastcommentdate" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">Modified Date</th>
            <td><input type="text"  class="form-control disabledd" formControlName="modifieddate" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">Convention Owner</th>
            <td><input type="text" class="form-control" formControlName="conventionowner"></td>
            <th class="tabletxt">Retention Owner</th>
            <td><input type="text"  class="form-control" formControlName="retentionowner"></td>
          </tr>

          <tr>
            <th class="tabletxt">FTD</th>
            <td>
              <!-- <input type="text" formControlName="ftd"> -->
              <!-- <label class="switch " >
                <input type="checkbox" formControlName="ftd" class="primary " disabled>
                <span class="slider round disabledd" name="Ftd" ></span>
              </label> -->
              <div _ngcontent-vpp-c22="" class="checkbox-inline">
                <div _ngcontent-vpp-c22="" class="switch_box box_1">
                  <label _ngcontent-vpp-c22="" class="switchboxtext" disabledd>No</label>
                  <input _ngcontent-vpp-c22="" class="switch_1" type="checkbox" formControlName="ftd" disabled>
                  <label _ngcontent-vpp-c22="" class="switchboxtext" disabledd>Yes</label></div></div>
            </td>
            <th class="tabletxt">FTD Date</th>
            <td><input type="text" class="form-control disabledd" formControlName="ftddate" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">Enabled</th>
            <td>
              <!-- <input type="text" formControlName="enabled"> -->
              <!-- <label class="switch " >
                
                <input type="checkbox" formControlName="enabled" class="primary">
                
                <span class="slider round" name="Ftd"></span>
              </label> -->
              <div _ngcontent-vpp-c22="" class="checkbox-inline">
                <div _ngcontent-vpp-c22="" class="switch_box box_1">
                <label _ngcontent-vpp-c22="" class="switchboxtext">No</label>
                <input _ngcontent-vpp-c22="" class="switch_1" type="checkbox" formControlName="enabled">
                <label _ngcontent-vpp-c22="" class="switchboxtext">Yes</label></div></div>
            </td>
            <th class="tabletxt">ClientTime</th>
            <td><input type="text" class="form-control disabledd" formControlName="clienttime" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">Last Login Date</th>
            <td><input type="text" class="form-control disabledd" formControlName="lastlogindate" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">Desk</th>
            <td><input type="text" class="form-control disabledd" formControlName="desk" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">HasTasks</th>
            <td><input type="text" class="form-control disabledd" formControlName="hastasks" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">Task Created Date</th>
            <td><input type="text" class="form-control disabledd" formControlName="taskcreateddate" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">TaskDate</th>
            <td><input type="text" class="form-control disabledd" formControlName="taskdate" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">AssignedDate</th>
            <td><input type="text" class="form-control" formControlName="assigneddate"></td>
          </tr>
          <tr>
            <th class="tabletxt">HasNotCompletedTasks</th>
            <td><input type="text" class="form-control disabledd" formControlName="hasnotcompletedtasks" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">TotalDeposits</th>
            <td><input type="text" class="form-control disabledd" formControlName="totaldeposits" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">Ftd Amount</th>
            <td>
              <input type="text" class="form-control disabledd" formControlName="ftdamount" onmousedown="return false" onselectstart="return false">
            </td>
            <th class="tabletxt">Total Withdrawals</th>
            <td><input type="text" class="form-control disabledd" formControlName="totalwithdrawals" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">NetDeposits</th>
            <td><input type="text" class="form-control disabledd" formControlName="netdeposits" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">Type</th>
           
            <td><input type="text"  class="form-control disabledd" formControlName="type" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th class="tabletxt">FirstRegistrationDate</th>
            <td><input type="text" class="form-control disabledd" formControlName="firstregistrationdate" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">RegistrationType</th>
            <td>
              <!-- <input type="text" formControlName="registrationtype"> -->
              <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
              data-live-search="true" formControlName="registrationtype">
              <option ngcontent-qpo-c3="">Select</option>
              <option ngcontent-qpo-c3="" value="{{type.Name}}" *ngFor="let type of registrationType">
                 {{type.Name}}</option>
                </select></td>
          </tr>
          <tr>
            <th class="tabletxt">LastTaskDaysPast</th>
            <td><input type="text" class="form-control disabledd" formControlName="lasttaskdayspast" onmousedown="return false" onselectstart="return false"></td>
            <th class="tabletxt">DaysAgoClientCreated
            </th>
            <td><input type="text" class="form-control disabledd" formControlName="daysagoclientcreated" onmousedown="return false" onselectstart="return false"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>

</div>
<!-- </div> -->
<!-- Activities -->
<!-- mONETARY TRANSACTIONS-------------------------------------------------------------------------- -->
<!-- <div *ngIf = monetarytransactions>
  hello
</div> -->