
<div class="card-bodynew mb20" *ngIf="frontGeneralInfo">
<div class="card1 mb20 ">
  <div class="card-header1 container" role="tab" id="headingOne">
    <h5 class="mb-0">
      <a class="box-heading" data-toggle="" aria-expanded="true" aria-controls="collapseOne">
        <h2>General Info
        </h2>

      </a>
      <div class="box-control pull-right">
        <div class="pencil" id="edit" (click)="hideshow()">
          <i class="fa fa-pencil " aria-hidden="true"></i>
        </div>
        
      
      </div>
    </h5>
  </div>

  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-body11">

      <!-- <app-general-info></app-general-info> -->
    </div>
  </div>
</div>

<!-- General Info -->
<div class="container-fluid">
  <div class="row">
    <form [formGroup]="userInfoForm" class="width100 ">
    <table class="table" id="generalinfo">
      <thead>
        <tr>
          <th class="tabletxt">First Name</th>
          <td class="text-ellipsis ">
          <div class="valueshhow">
          {{userGenralinfo?.FirstName}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text" formControlName="firstName" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Last Name</th>
          <td class="text-ellipsis">
           <div class="valueshhow">
          {{userGenralinfo?.LastName}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="LasttName" type="text" formControlName="lastName" aria-required="true">
          
          </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="tabletxt">Email</th>
          <td>
           <div class="valueshhow">
          {{userGenralinfo?.Email}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="Email" type="text" formControlName="email" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Phone</th>
          <td>
            <div class="valueshhow">
          {{userGenralinfo?.Phone}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="Phone" type="text" formControlName="phone" appPhoneMask aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Mobile</th>
          <td>
            <div class="valueshhow">
          {{userGenralinfo?.Mobile}}
          </div>
           <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="Mobile" type="text" formControlName="mobile" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Second Email</th>
          <td>
            <div class="valueshhow">
          {{userGenralinfo?.SecondEmail}}
          </div>
           <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="SecondEmail" type="text" formControlName="secondemail" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Item ID</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.Id}}
            </div>
            <div class="value-edit" data-rule="valueEdit" style="display:none;">
              <input class="form-control" name="ItemId" type="text" formControlName="itemid" aria-required="true">
            </div>
          </td>
          <th class="tabletxt">Owner</th>
          <td>
           <div class="valueshhow">          
          
            1
          </div>          
           <div class="value-edit" data-rule="valueEdit" style="display:none;">        
          <select id="cars" class="form-control">
            <option value="Krishankant">Krishankant</option> 
          </select>
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Status</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.ResponseStatus}}
            </div>
           <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="Status" type="text" formControlName="status"  aria-required="true">          
          </div>
          </td>
          <th class="tabletxt">Created Date</th>
          <td>
           <div class="valueshhow">
          {{userGenralinfo?.CreatedAt}}
            </div>
           <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="CretedDate" type="text" formControlName="createddate"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">LastCommentDate</th>
          <td>
          
            <div class="value-edit" data-rule="valueEdit" style="display:none;">
            <input class="form-control" name="LastCommentDate" type="text" formControlName="lastcommentdate" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">Modified Date</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.UpdatedAt}}
            </div>
            <div class="value-edit" data-rule="valueEdit" style="display:none;">
              <input class="form-control" name="CretedDate" type="text" formControlName="modifieddate" aria-required="true">
            </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Convention Owner</th>
          <td>
           <div class="valueshhow">
            {{userGenralinfo?.ConvertionOwner}}
          </div>
            <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="ConventionOwner" type="text" formControlName="conventionowner" aria-required="true">          
          </div>
          </td>
          <th class="tabletxt">Retention Owner</th>
          <td>
            <div class="valueshhow">
              {{userGenralinfo?.RetentionOwner}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="RetentionOwner" type="text" formControlName="retentionowner" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Citizenship</th>
          <td>
          
            <div class="valueshhow">
              {{userGenralinfo?.CountryName}}

            </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <!-- <input class="form-control" name="Citizenship" type="text" formControlName="citizenship" aria-required="true"> -->
          <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
          data-live-search="true" formControlName="citizenship">
          <option ngcontent-qpo-c3="">Select</option>
          <option ngcontent-qpo-c3="" value="{{country.Id}}" *ngFor="let country of Country">
             {{country.Name}}</option>
            </select>
          </div>
          </td>
          <th class="tabletxt">Date of Birth</th>
          <td>
           <div class="valueshhow">          
              {{userGenralinfo?.DateOfBirth}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="Dob" type="text" formControlName="dob" aria-required="true">          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">FTD</th>
          <td>
           <div class="valueshhow">
             <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true" [ngStyle]="{'color': userGenralinfo?.ftd ? 'green':'gray' }"></i>          
          </div>
           <div class="value-edit list-group-item no-border" data-rule="valueEdit" style="display:none;">
             <label class="switch ">
               <input type="checkbox" class="primary">
               <span class="slider round" name="Ftd"></span>
             </label>
           </div>
          </td>
          <th class="tabletxt">FTD Date</th>
          <td>
          
           <div class="valueshhow">
          {{userGenralinfo?.FTDDate}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FtdDate" type="text" formControlName="ftddate"  aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Enabled</th>
          <td>
          <div class="valueshhow">
            <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true" [ngStyle]="{'color': userGenralinfo?.enabled ? 'green':'gray' }"></i>
          </div>
          <div class="value-edit list-group-item no-border" data-rule="valueEdit" style="display:none;">
              <label class="switch ">
          <input type="checkbox" class="primary" >
          <span class="slider round" name="Enabled"></span>
        </label>
          </div>
          </td>
          <th class="tabletxt">ClientTime</th>
          <!-- <td>{{userGenralinfo?.}}</td> -->
          <td>
            <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text" aria-required="true">
          
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">Last Login Date</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">Desk</th>
          <td class="text-ellipsis ">
            <div class="valueshhow">
            {{userGenralinfo?.Desk}}
            </div>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="desk" formControlName="desk" type="text"  aria-required="true">
          
          </div></td>
        </tr>
        <tr>
          <th class="tabletxt">HasTasks</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">Task Created Date</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
        </tr>
        <tr>
          <th class="tabletxt">TaskDate</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">AssignedDate</th>
          <td class="text-ellipsis ">
            <div class="valueshhow">
            {{userGenralinfo?.AssignedDate}}
            </div>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="AssignedDate" formControlName="assigneddate" type="text"  aria-required="true">
          
          </div></td>
        </tr>
        <tr>
          <th class="tabletxt">HasNotCompletedTasks</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">TotalDeposits</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
        </tr>
        <tr>
          <th class="tabletxt">Ftd Amount</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">Total Withdrawals</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
        </tr>
        <tr>
          <th class="tabletxt">NetDeposits</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">Type</th>
          <td class="text-ellipsis ">
            <div class="valueshhow">
            {{userGenralinfo?.TypeName}}
            </div>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div></td>
        </tr>
        <tr>
          <th class="tabletxt">FirstRegistrationDate</th>
          <td><div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstRegistrationDate" formControlName="firstregistrationdate" type="text"  aria-required="true">
          
          </div></td>
          <th class="tabletxt">RegistrationType</th>
          <td>          
            <div class="valueshhow">
          {{userGenralinfo?.RegistrationType}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <!-- <input class="form-control" name="FirstName" type="text"  aria-required="true"> -->
          <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
          data-live-search="true" formControlName="registrationtype">
          <option ngcontent-qpo-c3="">Select</option>
          <option ngcontent-qpo-c3="" *ngFor="let type of registrationType">
             {{type.Name}}</option>
            </select>
          </div>
          </td>
        </tr>
        <tr>
          <th class="tabletxt">LastTaskDaysPast</th>
          <td>
           <div class="valueshhow">
          {{userGenralinfo?.LastTaskDaysPast}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="lasttaskdayspast" formControlName="lasttaskdayspast" type="text" aria-required="true">
          
          </div>
          </td>
          <th class="tabletxt">DaysAgoClientCreated
          </th>
          <td>
           <div class="valueshhow">
          {{userGenralinfo?.DaysAgoClientCreated}}
          </div>
          <div class="value-edit" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="DaysAgoClientCreated" formControlName="daysagoclientcreated" type="text"  aria-required="true">
          
          </div>
          </td>
        </tr>


      </tbody>
    </table>
  </form>
  </div>
</div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<div class="card-bodynew mb20" *ngIf="editGeneralInfo">
  <div class="card1 mb20 ">
    <div class="card-header1 container" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a class="box-heading" data-toggle="" aria-expanded="true" aria-controls="collapseOne">
          <h2>General Info
          </h2>
  
        </a>
        <div class="box-control pull-right">
         
          
          <div class="edit-data-options">
            <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
              data-action="apply" (click)="savehideshow()">
              <i class="fa fa-check dark">&nbsp;</i>Apply</a>
            <a class="btn-type01 " id="gfg" data-rule="button" data-action="cancel" (click)="closehideshow()" >Cancel</a></div>
        </div>
      </h5>
    </div>
  
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body11">
  
        <!-- <app-general-info></app-general-info> -->
      </div>
    </div>
  </div>
<form [formGroup]="userInfoForm">
  <div class="container-fluid">
    <div class="row">

      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <td><input type="text" class="form-control" formControlName="firstName"></td>
            <th>Last Name</th>
            <td><input type="text"  class="form-control" formControlName="lastName"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Email</th>
            <td><input type="text" class="form-control" formControlName="email"></td>
            <th>Phone</th>
            <td><input type="text" class="form-control" formControlName="phone" appPhoneMask></td>
          </tr>
          <tr>
            <th>Mobile</th>
            <td><input type="text" class="form-control" formControlName="mobile"></td>
            <th>Second Email</th>
            <td><input type="text" class="form-control" formControlName="secondemail"></td>
          </tr>
          <tr>
            <th>Item ID</th>
            <td><input type="text" class="form-control disabledd" formControlName="itemid" onmousedown="return false" onselectstart="return false"></td>
            <th>Owner</th>
            <td><input type="text" class="form-control" formControlName="owner"></td>
          </tr>
          <tr>
            <th>Status</th>
            <td><input type="text"  class="form-control"formControlName="status"></td>
            <th>Created Date</th>
            <td><input type="text" class="form-control disabledd" formControlName="createddate" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>LastCommentDate</th>
            <td><input type="text" class="form-control disabledd" formControlName="lastcommentdate" onmousedown="return false" onselectstart="return false"></td>
            <th>Modified Date</th>
            <td><input type="text"  class="form-control disabledd" formControlName="modifieddate" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>Convention Owner</th>
            <td><input type="text" class="form-control" formControlName="conventionowner"></td>
            <th>Retention Owner</th>
            <td><input type="text"  class="form-control" formControlName="retentionowner"></td>
          </tr>
          <tr>
            <th>Citizenship</th>
            <td>
              <!-- <input type="text" formControlName="citizenship"> -->
              <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
          data-live-search="true" formControlName="citizenship">
          <option ngcontent-qpo-c3="">Select</option>
          <option ngcontent-qpo-c3="" *ngFor="let country of Country">
             {{country.Name}}</option>
            </select>
            </td>
            <th>Date of Birth</th>
            <td><input type="text" class="form-control" formControlName="dob"></td>
          </tr>
          <tr>
            <th>FTD</th>
            <td>
              <!-- <input type="text" formControlName="ftd"> -->
              <label class="switch " >
                <input type="checkbox" formControlName="ftd" class="primary " disabled>
                <span class="slider round disabledd" name="Ftd" ></span>
              </label>
            </td>
            <th>FTD Date</th>
            <td><input type="text" class="form-control disabledd" formControlName="ftddate" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>Enabled</th>
            <td>
              <!-- <input type="text" formControlName="enabled"> -->
              <label class="switch " >
                
                <input type="checkbox" formControlName="enabled" class="primary">
                
                <span class="slider round" name="Ftd"></span>
              </label>
            </td>
            <th>ClientTime</th>
            <td><input type="text" class="form-control disabledd" formControlName="clienttime" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>Last Login Date</th>
            <td><input type="text" class="form-control disabledd" formControlName="lastlogindate" onmousedown="return false" onselectstart="return false"></td>
            <th>Desk</th>
            <td><input type="text" class="form-control disabledd" formControlName="desk" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>HasTasks</th>
            <td><input type="text" class="form-control disabledd" formControlName="hastasks" onmousedown="return false" onselectstart="return false"></td>
            <th>Task Created Date</th>
            <td><input type="text" class="form-control disabledd" formControlName="taskcreateddate" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>TaskDate</th>
            <td><input type="text" class="form-control disabledd" formControlName="taskdate" onmousedown="return false" onselectstart="return false"></td>
            <th>AssignedDate</th>
            <td><input type="text" class="form-control" formControlName="assigneddate"></td>
          </tr>
          <tr>
            <th>HasNotCompletedTasks</th>
            <td><input type="text" class="form-control disabledd" formControlName="hasnotcompletedtasks" onmousedown="return false" onselectstart="return false"></td>
            <th>TotalDeposits</th>
            <td><input type="text" class="form-control disabledd" formControlName="totaldeposits" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>Ftd Amount</th>
            <td><input type="text" class="form-control disabledd" formControlName="ftdamount" onmousedown="return false" onselectstart="return false"></td>
            <th>Total Withdrawals</th>
            <td><input type="text" class="form-control disabledd" formControlName="totalwithdrawals" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>NetDeposits</th>
            <td><input type="text" class="form-control disabledd" formControlName="netdeposits" onmousedown="return false" onselectstart="return false"></td>
            <th>Type</th>
           
            <td><input type="text"  class="form-control disabledd" formControlName="type" onmousedown="return false" onselectstart="return false"></td>
          </tr>
          <tr>
            <th>FirstRegistrationDate</th>
            <td><input type="text" class="form-control disabledd" formControlName="firstregistrationdate" onmousedown="return false" onselectstart="return false"></td>
            <th>RegistrationType</th>
            <td>
              <!-- <input type="text" formControlName="registrationtype"> -->
              <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
              data-live-search="true" formControlName="registrationtype">
              <option ngcontent-qpo-c3="">Select</option>
              <option ngcontent-qpo-c3="" *ngFor="let type of registrationType">
                 {{type.Name}}</option>
                </select></td>
          </tr>
          <tr>
            <th>LastTaskDaysPast</th>
            <td><input type="text" class="form-control disabledd" formControlName="lasttaskdayspast" onmousedown="return false" onselectstart="return false"></td>
            <th>DaysAgoClientCreated
            </th>
            <td><input type="text" class="form-control disabledd" formControlName="daysagoclientcreated" onmousedown="return false" onselectstart="return false"></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</form>

</div>