
<app-header></app-header>
<div class="subheader">
    <div class="account-panel">
      <div class="main-holder">
        <div class="account-main-details">
          <p>ID: <span class="type"></span>
           
          </p>
          
        </div>
        </div>
        </div>
</div>
<div class="card-header1 container" role="tab" id="headingOne">
  <h5 class="mb-0">
    <a class="box-heading" data-toggle="" aria-expanded="true" aria-controls="collapseOne">
      <h2>General Info
      </h2>

    </a>
    <div class="box-control pull-right">
      <div class="pencil" id="edit" >
        <i class="fa fa-pencil " aria-hidden="true"></i>
      </div>
      
      
    </div>
 


  <ng4-loading-spinner> </ng4-loading-spinner>
  