.sub-header{
    position: relative;
    z-index: 10;
    padding: 35px 0 0;
    background: url(/assets/images/bg-subheader.png) 100% 0 no-repeat #105996;
    color: #fff;
   height: 94px;
    margin:0px 15px;
}
.breadcrumb
{
    margin-left: 34px;
    margin-top:-32px;
    padding:0px;
    
}
/* .tab{
    border:0px solid;
    border-radius: 3px;
    text-align: center;
    width:836px;
    height:47px;
    margin-left: 34px;
    color: #3d75e1;
} */
.sub-header-bottom
{
  background-color: white;
  
  margin-left: 43px;
  white-space: initial;
  
  border-radius: 3px;
  width:100%;
  padding-top:9px;
}
.sub-header-bottom .nav ul li
{
    list-style-type: none;
    display:inline-block;
}

.sub-header-bottom .nav ul li a
{
  color:grey;
  margin-right:23px;
  margin-left: -12px;
  font-size: 15px;
  text-decoration-style: solid;
  
  text-align: center;
  text-decoration: none;
  text-shadow: darkgrey;
  font-weight: 50px;
  
}
.sub-header-bottom .nav ul li a:hover
{
  color:#3D55E1;
  font-weight: 50%;
  
}
