#body, .dashboard-calendar table, .jsgrid-table, .table-type01 table, .table-type03.table-style01 table, .table-type04 table {
  table-layout: fixed;
}
.headingwidth
{
  width: 18.9%;
}
/* .text-ellipsis {
  
  width:400px;
} */
.email-cell-content:first-child

{
  width: 300px;
}
td.email-cell {
  min-width:75px;
}
.email-cell-content

{
  width: 148px!important;
}
.form-control, .form-control:focus, .nav-tabs {
  border-color: #dde7f9;
}
.text-ellipsis {
  width: auto!important;
}
.email-alt-row {
  background: #f5f8fc;
}
tr.email-filter-row {
  background: #fff;
}
.jsgrid-header-scrollbar
{
  overflow-y: auto;
}
 .progress-bar.gold {
  background: url(/assets/images/bg-progressbar01.png) repeat-x #fad060;
  background-size: 24px 24px;
}
.button {
  position: relative;
  padding: 11px 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46666;
  text-align: center;
  background: #12baee;
  color: #fff;
  border-radius: 3px;
  min-width: 125px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
.button.btn-sm3 {
  font-size: 12px;
  min-width: 100px;
  line-height: 1.16666;
    padding: 4px 10px;
    border-radius: 2px;
}
tr.total-row td {
  position: relative;
  padding-top: 15px;
}