<!-- <app-header></app-header>

<div class="container-fluid">
  <div class="row fist">
    <div class="col-md-12 sub-header">
      <div class="row">
       
        <div class="col-md-10"></div>
      </div>
      <div class="row">
        <div class="col-md-5 main-tab">

          



        </div>

       
        <div class="col-md-7">
          <a routerLink=""><i class="fa fa-refresh"></i></a>
          <a routerLink=""><i class="fa fa-plus bg-primary fa-lg" aria-hidden="true" style="color: white;"></i></a>
          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true"
            style="padding-right:10px;margin-right:10px"></i>
          <i class="fa fa-" aria-hidden="true"></i>
          <a routerLink=""><i class="fa fa-user bg-primary fa-lg" aria-hidden="true" style="color: white"></i></a>
          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true"></i>
          <i class="fa fa-trash bg-primary fa-lg" disabled aria-hidden="true"></i>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>

        </div>

      </div>
    </div>
  </div>
</div>



<tabs>
  <tab tabTitle="ALL">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 grid">
          <ag-grid-angular style="width: 1335px; height: 300px;" class="ag-theme-balham" [enableSorting]="true"
            [enableFilter]="true"  (click)="userClick()" [pagination]="true" [rowData]="rowData" [columnDefs]="columnDefs" enableColResize=true
            suppressRowClickSelection=true, angularCompileRows=true, angularCompileHeaders=true rowHeight=50
            autoHeight=80>
          </ag-grid-angular>

        </div>
      </div>

    </div>
  </tab>
  <tab tabTitle="ACCOUNTS">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 grid">
          <ag-grid-angular style="width: 1335px; height: 300px;" class="ag-theme-balham" [enableSorting]="true"
            [enableFilter]="true" [pagination]="true" [rowData]="rowData" [columnDefs]="columnDefs" enableColResize=true
            suppressRowClickSelection=true, angularCompileRows=true, angularCompileHeaders=true rowHeight=50
            autoHeight=80>
          </ag-grid-angular>

        </div>
      </div>

    </div>
  </tab>
  <tab tabTitle="LEADS">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 grid">
          <ag-grid-angular style="width: 1335px; height: 300px;" class="ag-theme-balham" [enableSorting]="true"
            [enableFilter]="true" [pagination]="true" [rowData]="rowData" [columnDefs]="columnDefs" enableColResize=true
            suppressRowClickSelection=true, angularCompileRows=true, angularCompileHeaders=true rowHeight=50
            autoHeight=80>
          </ag-grid-angular>

        </div>
      </div>

    </div>
  </tab>
  <tabs> -->

<!-- ------------------------------------------------------------------------------------------ -->



<app-header></app-header>

<div class="container-fluid ">
  <div class="row fist1">
    <div class="col-md-12 sub-header">

      <div class="row container-padd">
        <div class="col-md-6 main-tab">
          <ul class="nav nav-pills tablist" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#all">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#account">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#leads">Leads</a>
            </li>
          </ul>
        </div>


        <div class="col-md-6 rightsubopt">
          <a routerLink=""><i class="fa fa-refresh"></i></a>
          <a routerLink="">
            <select class="browser-default custom-select" style="width:43%;">
              <option selected>All</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <i class="fa fa-plus bg-primary fa-lg" aria-hidden="true" style="color: white;"></i></a>
          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true"
            style="padding-right:10px;margin-right:10px"></i>
          <i class="fa fa-" aria-hidden="true"></i>
          <a routerLink=""><i class="fa fa-user bg-primary fa-lg" aria-hidden="true" style="color: white"></i></a>
          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true"></i>
          <i class="fa fa-trash bg-primary fa-lg" disabled aria-hidden="true"></i>
          <i class="fa fa-ellipsis-h" aria-hidden="true" style="padding-left: 12px;"></i>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
            <div class="row">
          <div class="col-md-12 grid">
            <ag-grid-angular
      style="width: 1335px; height: 300px;"
      class="ag-theme-balham"
      [enableSorting]="true"
      [enableFilter]="true"
      [pagination]="true"
    
    
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      enableColResize= true
      suppressRowClickSelection= true,
            angularCompileRows= true,
            angularCompileHeaders= true
            rowHeight=50
            autoHeight=80
    
    >
    </ag-grid-angular>
    
          </div>
        </div>
    
    </div> -->

<!--<tabs>
      <tab tabTitle="ALL">
       
        <div class="container-fluid">
          <div class="row">
        <div class="col-md-12 grid">
          <ag-grid-angular
    style="width: 1335px; height: 300px;"
    class="ag-theme-balham"
    [enableSorting]="true"
    [enableFilter]="true"
    [pagination]="true"
    
    
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    enableColResize= true
    suppressRowClickSelection= true,
          angularCompileRows= true,
          angularCompileHeaders= true
          rowHeight=50
          autoHeight=80
    
    >
    </ag-grid-angular>
    
        </div>
      </div>
    
    </div> 
      </tab>
      <tab tabTitle="ACCOUNTS">
        
        <div class="container-fluid">
          <div class="row">
        <div class="col-md-12 grid">
          <ag-grid-angular
    style="width: 1335px; height: 300px;"
    class="ag-theme-balham"
    [enableSorting]="true"
    [enableFilter]="true"
    [pagination]="true"
    
    
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    enableColResize= true
    suppressRowClickSelection= true,
          angularCompileRows= true,
          angularCompileHeaders= true
          rowHeight=50
          autoHeight=80
    
    >
    </ag-grid-angular>
    
        </div>
      </div>
    
    </div> 
      </tab>
      <tab tabTitle="LEADS">
        
        <div class="container-fluid">
          <div class="row">
        <div class="col-md-12 grid">
          <ag-grid-angular
    style="width: 1335px; height: 300px;"
    class="ag-theme-balham"
    [enableSorting]="true"
    [enableFilter]="true"
    [pagination]="true"
    
    
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    enableColResize= true
    suppressRowClickSelection= true,
          angularCompileRows= true,
          angularCompileHeaders= true
          rowHeight=50
          autoHeight=80
    
    >
    </ag-grid-angular>
    
        </div>
      </div>
    
    </div> 
      </tab>
    <tabs>-->


<!-- Tab panes -->
<div class="tab-content">
  <div id="all" class="container-fluid tab-pane active"><br>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr class="tablewidth">
          <th class="chkCol">
            <div class="cell-content">
              <div class=""><span class=""><input type="checkbox"></span></div>
            </div>
          </th>

          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Item ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>First Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Last Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Country</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Email</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Type</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Phone</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Owner</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Status</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Created Date</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Campaign ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag1</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>FTD</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Group</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Desk</span></div>
            </div>
          </th>
          <th class="">

          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="filterrow ">
          <td class="" style="width: 20px;">
            <div class=""><span>x</span><i class="fa fa-star" title="Clear filter"></i></div>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td>
            <i _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search tablesearch"></i>
          </td>
        </tr>
        <tr class="tablectn" *ngFor="let item of rowData">
          <td class="chkCol">
            <div class="jsgrid-cell-content">
              <div class="input-checkbox"><span>
                  <input type="checkbox" data-item-selector="true" class="tablecheckbox"></span>
                <span><i class="fa fa-star" title="Clear filter"></i></span></div>
            </div>
          </td>
          <td class="" (click)="userClick()">
            <div class="">
              <div class="text-ellipsis" data-original-title="" title="">
                <a>
                  <span>{{item.ItemId}}</span></a></div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_FirstName">
                <div class="text-ellipsis" data-field="FirstName" data-original-value="MASSIMO" data-original-title=""
                  title="">{{item.FirstName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_LastName">
                <div class="text-ellipsis" data-field="LastName" data-original-value="ZIZZA">{{item.LastName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Country">
                <div class="text-ellipsis"><span class="flag it"></span>{{item.CountryName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Email">
                <div class="text-ellipsis" data-original-title="" title=""><a
                    href=""><span>{{item.Email}}</span></a></div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Type">
                <div class="text-ellipsis">{{item.TypeName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Phone">
                <div class="text-ellipsis" data-field="Phone" data-original-value="3295385412" data-original-title=""
                  title="">{{item.Phone}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_OwnerId">
                <div class="text-ellipsis" data-original-title="" title="">{{item.OwnerName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_StatusId">
                <div class="text-ellipsis" data-original-title="" title="">{{item.ResponseStatus}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell" style="width:115px;">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CreatedDate">{{item.CreatedDate}}</div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CampaignId">
                <div class="text-ellipsis" data-field="CampaignId">{{item.CampaignId}}</div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_HasDeposit">
                <div><i class="ico-sz2 ico-status"></i></div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">{{item.Tag1}}</div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis" style="text-align:center">
                  <!--<div *ngIf="show"><p>Show this only if "show" is true</p></div>-->
                  <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true" [ngStyle]="{'color': item.FTD ? 'green':'gray' }"></i>
                </div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis"></div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">{{item.IMC}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center">
            <div class="dropleft droptop">
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  class="fa fa-link greyicon" aria-hidden="true"></i>
              </a>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" disabled=""></i></a>
              <br>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link"
                title="Open in new tab">&nbsp;&nbsp;<i class="fa fa-ellipsis-h greyicon" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>



      </tbody>
    </table>
  </div>
  <div id="account" class="container-fluid tab-pane fade"><br>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr class="tablewidth">
          <th class="">
            <div class="cell-content">
              <div class=""><span class=""><input type="checkbox"></span></div>
            </div>
          </th>

          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Item ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>First Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Last Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Country</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Email</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Type</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Phone</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Owner</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Status</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Created Date</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Campaign ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag1</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>FTD</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Group</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Desk</span></div>
            </div>
          </th>
          <th class="">

          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="filterrow ">
          <td class="" style="width: 20px;">
            <div class=""><span>x</span><i class="fa fa-star" title="Clear filter"></i></div>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td>
            <i _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search tablesearch"></i>
          </td>
        </tr>
        <tr class="tablectn">
          <td class="">
            <div class="jsgrid-cell-content">
              <div class="input-checkbox"><span>
                  <input type="checkbox" data-item-selector="true" class="tablecheckbox"></span>
                <span><i class="fa fa-star" title="Clear filter"></i></span></div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div class="text-ellipsis" data-original-title="" title="">
                <a href="/moduleitems/item?moduleId=27&amp;itemId=AC431251&amp;filterId=2683">
                  <span>AC431251</span></a></div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_FirstName">
                <div class="text-ellipsis" data-field="FirstName" data-original-value="MASSIMO" data-original-title=""
                  title="">MASSIMO</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_LastName">
                <div class="text-ellipsis" data-field="LastName" data-original-value="ZIZZA">ZIZZA</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Country">
                <div class="text-ellipsis"><span class="flag it"></span>Italy</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Email">
                <div class="text-ellipsis" data-original-title="" title=""><a
                    href="mailto:mailarc@aol.com"><span>mailarc@aol.com</span></a></div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Type">
                <div class="text-ellipsis">Lead</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Phone">
                <div class="text-ellipsis" data-field="Phone" data-original-value="3295385412" data-original-title=""
                  title="">3295385412</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_OwnerId">
                <div class="text-ellipsis" data-original-title="" title="">Anton Novak</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_StatusId">
                <div class="text-ellipsis" data-original-title="" title="">No answer 7</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell" style="width:115px;">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CreatedDate">12/9/2019 11:34:00 AM</div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CampaignId">
                <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">silver.aff</div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_HasDeposit">
                <div><i class="ico-sz2 ico-status"></i></div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">IMC</div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis"></div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis"></div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">IMC</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center">
            <div class="dropleft droptop">
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  class="fa fa-link greyicon" aria-hidden="true"></i>
              </a>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" disabled=""></i></a>
              <br>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link"
                title="Open in new tab">&nbsp;&nbsp;<i class="fa fa-ellipsis-h greyicon" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>



      </tbody>
    </table>
  </div>
  <div id="leads" class="container-fluid tab-pane fade"><br>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr class="tablewidth">
          <th class="">
            <div class="cell-content">
              <div class=""><span class=""><input type="checkbox"></span></div>
            </div>
          </th>

          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Item ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>First Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Last Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Country</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Email</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Type</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Phone</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Owner</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Status</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Created Date</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Campaign ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag1</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>FTD</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Group</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Desk</span></div>
            </div>
          </th>
          <th class="">

          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="filterrow ">
          <td class="" style="width: 20px;">
            <div class=""><span>x</span><i class="fa fa-star" title="Clear filter"></i></div>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td>
            <i _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search tablesearch"></i>
          </td>
        </tr>
        <tr class="tablectn">
          <td class="">
            <div class="jsgrid-cell-content">
              <div class="input-checkbox"><span>
                  <input type="checkbox" data-item-selector="true" class="tablecheckbox"></span>
                <span><i class="fa fa-star" title="Clear filter"></i></span></div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div class="text-ellipsis" data-original-title="" title="">
                <a href="/moduleitems/item?moduleId=27&amp;itemId=AC431251&amp;filterId=2683">
                  <span>AC431251</span></a></div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_FirstName">
                <div class="text-ellipsis" data-field="FirstName" data-original-value="MASSIMO" data-original-title=""
                  title="">MASSIMO</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_LastName">
                <div class="text-ellipsis" data-field="LastName" data-original-value="ZIZZA">ZIZZA</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Country">
                <div class="text-ellipsis"><span class="flag it"></span>Italy</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Email">
                <div class="text-ellipsis" data-original-title="" title=""><a
                    href="mailto:mailarc@aol.com"><span>mailarc@aol.com</span></a></div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Type">
                <div class="text-ellipsis">Lead</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Phone">
                <div class="text-ellipsis" data-field="Phone" data-original-value="3295385412" data-original-title=""
                  title="">3295385412</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_OwnerId">
                <div class="text-ellipsis" data-original-title="" title="">Anton Novak</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_StatusId">
                <div class="text-ellipsis" data-original-title="" title="">No answer 7</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell" style="width:115px;">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CreatedDate">12/9/2019 11:34:00 AM</div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CampaignId">
                <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">silver.aff</div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_HasDeposit">
                <div><i class="ico-sz2 ico-status"></i></div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">IMC</div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis"></div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis"></div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">IMC</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center">
            <div class="dropleft droptop">
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  class="fa fa-link greyicon" aria-hidden="true"></i>
              </a>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" disabled=""></i></a>
              <br>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link"
                title="Open in new tab">&nbsp;&nbsp;<i class="fa fa-ellipsis-h greyicon" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>



      </tbody>
    </table>
  </div>
</div>
