#body, .dashboard-calendar table, .jsgrid-table, .table-type01 table, .table-type03.table-style01 table, .table-type04 table {
    table-layout: fixed;
  }
  .headingwidth
  {
    width: 18.9%;
  }
  /* .text-ellipsis {
    
    width:400px;
  } */
  .email-cell-content:first-child
  
  {
    width: 300px;
  }
  td.email-cell {
    min-width:75px;
  }
  .email-cell-content
  
  {
    width: 77px!important;
  }
  .form-control, .form-control:focus, .nav-tabs {
    border-color: #dde7f9;
  }
  .text-ellipsis {
    width: 66px!important;
  }
  .color09 {
    color: #00943f;
}
  .email-alt-row {
    background: #f5f8fc;
  }
  tr.email-filter-row {
    background: #fff;
  }
  .jsgrid-header-scrollbar
  {
    overflow-y: auto;
  }
  
  tr.total-row td {
    position: relative;
    padding-top: 15px;
  }
  .jsgrid-header-extra-row th .jsgrid-cell-content {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-weight: 500;
}
 .jsgrid-header-extra-row .jsgrid-cell-content {
    padding-top: 11px;
    padding-bottom: 11px;
    position: relative;
}
.jsgrid-cell-border-left .jsgrid-cell-content:before, .jsgrid-reports .jsgrid-cell-border-right .jsgrid-cell-content:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: #e0e8f3;
    width: 2px;
}
.jsgrid-cell-border-left .jsgrid-cell-content:before {
    left: 0;
}