<div class="card-bodynew mb20">
    <div class="card1 mb20"  id="tasks" style="padding: 15px;
    padding-left: 0;">
          <div class="card-header1 container" role="tab" id="headingReg">
            <div class="box-heading" style="width:100%;">
              <div class="box-control pull-right">
                 <div class="records-control-switcher showrcrdreg" data-rule="count-record-selector" style="display: none;">
                    <label>Records per page</label>
                    <select class="form-control" name="RecordsPerPageSelector" data-container="body" id="84a83566-f255-f870-c053-05a61106d08c">
                       <option value="5">5</option>
                       <option value="10">10</option>
                       <option value="15">15</option>
                       <option value="20">20</option>
                       <option value="50">50</option>
                       <option value="100">100</option>
                    </select>
                 </div>
                 <a href="javascript:void(0);" class="ico-add ico-sz3 showrcrdreg popupicon " data-rule="add-link" style="display:none;">
                  <!-- <i class="fa fa-plus"></i> -->
                </a>
                 <a class="collapsed" data-toggle="collapse" href="#collapseReg" aria-expanded="false"
                 aria-controls="collapseReg" id="reg" style="color:#000;">
                 <i class="fa fa-chevron-down collpsicon"></i>
                </a>
              </div>
              <h2>RegistrationHistory</h2>
              <div class="records-control showrcrdreg" style="display: none;">Showing Records 
                <a href="javascript:void(0);" class="prev" style="visibility:hidden">Prev</a>
                 <a href="javascript:void(0);" class="next" style="visibility:hidden">Next</a>
                  <span style="width: 30px;">1 - 1</span> of <span style="width: 20px;">1</span></div>
           </div>
          </div>
          <div id="collapseReg" class="collapse" role="tabpanel" aria-labelledby="headingReg">
            <div class="card-body">
             <div class="box-content">
                <div class="table-type02 margin-bottom-0">
                   <div  class="scroll-area" data-rule="scroll-area" style="min-height: 120px; max-height: 500px;">
                      <table class="table-style01 dataTable">
                         <thead>
                            <tr data-rule="titles">
                               <th>First Name<span class="fixel"><span><span></span></span></span></th>
                               <th>Last Name<span class="fixel" ><span><span></span></span></span></th>
                               <th>Email<span class="fixel"><span><span></span></span></span></th>
                               <th>Phone<span class="fixel"><span><span></span></span></span></th>
                               <th>Tag<span class="fixel"><span><span></span></span></span></th>
                               <th>Item ID<span class="fixel"><span><span><br class="visible-xs visible-sm visible-md"> </span></span></span></th>
                               <th>Country<span class="fixel"><span><span></span></span></span></th>
                               <th>Status<span class="fixel"><span><span><br class="visible-xs visible-sm visible-md"> </span></span></span></th>
                               <th>Created Date</th>
                               <th>Type	</th>
                            </tr>
                         </thead>
                         <tfoot></tfoot>
                         <tbody>
                            <tr data-index="0" data-rule="body">
                               <td style="max-width: 300px;">
                                  <div data-display-for="16_UserId">
                                     <div class="text-ellipsis" >{{userGenralinfo?.FirstName}}</div>
                                  </div>
                               </td>
                               <td style="max-width: 300px;">
                                  <div data-display-for="16_Type">
                                     <div class="text-ellipsis" tooltip="{{userGenralinfo?.LastName}}">{{userGenralinfo?.LastName}}</div>
                                  </div>
                               </td>
                               <td style="max-width: 300px;">
                                  <div data-display-for="16_Status">
                                     <div class="text-ellipsis" tooltip="{{userGenralinfo?.Email}}"><a
                                       href="mailto:{{userGenralinfo?.Email}}">{{userGenralinfo?.Email}}</a></div>
                                  </div>
                               </td>
                               <td style="max-width: 300px;">
                                  <div data-display-for="16_Date">{{userGenralinfo?.Phone}}</div>
                               </td>
                               <td style="max-width: 200px;">
                                  <div data-display-for="16_Description">
                                     <div class="text-ellipsis" data-field="Description" data-original-value="info"></div>
                                  </div>
                               </td>
                               <td style="max-width: 300px;">
                                  <div data-display-for="16_CreatedBy">
                                     <div class="text-ellipsis" tooltip="{{userGenralinfo?.ItemId}}">{{userGenralinfo?.ItemId}}</div>
                                  </div>
                               </td>
                               <td style="max-width: 300px;">
                                  <div data-display-for="16_ItemId">
                                     <div class="text-ellipsis"><span>{{userGenralinfo?.CountryName}}</span></div>
                                  </div>
                               </td>
                               <td style="max-width: 300px;">
                                  <div data-display-for="16_CreatedDate">New</div>
                               </td>
                               <td style="max-width: 300px;">
                                <div data-display-for="16_CreatedDate">12/9/2019 11:34:00 AM</div>
                             </td>
                             <td style="max-width: 300px;">
                                <div data-display-for="16_CreatedDate">{{userGenralinfo?.TypeName}}
                                </div>
                             </td>
                            </tr>
                         </tbody>
                      </table>
                     
                     
                   </div>
                </div>
             </div>
            </div>
          </div>
        </div>
    </div>
