
.headingwidth
{
    width: 18.9%;
}
/* .text-ellipsis {
    
    width:400px;
} */
.email-cell-content:first-child

{
    width: 400px;
}
.email-cell-content

{
    width: 357px!important;
}
.form-control, .form-control:focus, .nav-tabs {
    border-color: #dde7f9;
}