
/* .headingwidth
{
    width: 18.9%;
} */
.text-ellipsis {
    
    width: 182px;
}
.input-checkbox {
    width: 22px;
    padding-left: 5px;
}
.email-cell-content
{
    width: 393px;
}
.tablecheckbox {
    width: 10px;
    height: 10px;
}
.icon
{
    position: absolute;
    padding-top: 12px;
    z-index: 99;
    font-size: 19px;
    padding-left: 10px;
    color: #a9b1bb;
}
input.input-field {
    height: 43px;
    margin-right: 12px;
    width: 24%;
}
.ip-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
#content
{
    background: #fff;
}
