.jsgrid-cell-content {
    width: auto;
    padding-right: 19px;
}
.text-ellipsis {
    width: 83px;
}
.email-cell-content {
    width: 83px;
}
.email-table1
{
    width: 100%;
}
td.email-cell {
    /* padding-right: 7px; */
    width: 269px;
}