<div class="form-holder">
    <form class="form-horizontal" novalidate="novalidate">
       <div class="form-group">
           <div class="row">
          <div class="col-xs-2 col-md-2 "><label class="valign-label" for="UserId"><span data-tooltip-el="">Owner</span></label></div>
          <div class="col-xs-10 col-md-10">
             <select class="btn-group bootstrap-select form-control valid createselect">
                   <!-- <div class="bs-searchbox">
                       <input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search"></div>
                  -->
                      
                        
                      <option data-original-index="1" class="selected ">
                          <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                              
                              <span class="text">Select....</span>
                            </a>
                        </option>
                        <option data-original-index="1" class="selected ">
                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                
                                <span class="text">Anton Novak</span>
                              </a>
                          </option>
                   
                        
                <!-- <select class="form-control valid" name="UserId" data-container="body" data-live-search="true" id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" aria-required="true" tabindex="-98" aria-invalid="false">
                   <option value="">Select...</option>
                   <option value="518">Anton Novak</option>
                </select> -->
             </select>
            </div>
        </div>
       </div>
       <div class="form-group">
         <div class="row">
        <div class="col-xs-2 col-md-2 "><label class="valign-label" for="UserId"><span data-tooltip-el="">Types</span></label></div>
        <div class="col-xs-10 col-md-10">
           <div class="btn-group bootstrap-select form-control valid ">
              <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button"  title="Select..." aria-expanded="true">
                 <span class="filter-option pull-left">Selected...</span>&nbsp;
                 <span class="bs-caret"><span class="caret"></span></span>
               </button>
              <div class="dropdown-menu " role="combobox">
                 <div class="bs-searchbox">
                     <input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search">
                  </div>
               
                    <li data-original-index="0">
                        <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                            
                            <span class="text">Select...</span>
                           </a>
                      </li>
                      <ul>
                        <li data-original-index="0" class="selected active"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="checkbox  check-mark"></span><span class="text">Select...</span></a></li>
                        <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">Call</span></a></li>
                        <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">Meeting</span></a></li>
                        <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">Task</span></a></li>
                        <li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">Phone call</span></a></li>
                        <li data-original-index="5"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">Email</span></a></li>
                        <li data-original-index="6"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">Appointment</span></a></li>
                        <li data-original-index="7"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">SMS</span></a></li>
                        <li data-original-index="8"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">Notification</span></a></li>
                     </ul>
                    
              </div>
              <!-- <select class="form-control valid" name="UserId" data-container="body" data-live-search="true" id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" aria-required="true" tabindex="-98" aria-invalid="false">
                 <option value="">Select...</option>
                 <option value="518">Anton Novak</option>
              </select> -->
           </div>
        </div>
      </div>
     </div>
     <div class="form-group">
      <div class="row">
     <div class="col-xs-2 col-md-2 "><label class="valign-label" for="UserId"><span data-tooltip-el="">Status</span></label></div>
     <div class="col-xs-10 col-md-10">
        <div class="btn-group bootstrap-select form-control valid ">
           <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" title="Anton Novak" aria-expanded="true"><span class="filter-option pull-left">Anton Novak</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
           <div class="dropdown-menu " role="combobox">
              <div class="bs-searchbox">
                  <input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search"></div>
            
                 <!-- <li data-original-index="0">
                     <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                         
                         <span class="text">Select...</span></a>
                   </li> -->
                   <ul>
                 <li data-original-index="1" class="selected ">
                     <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                         
                         <span class="text">Select....</span>
                       </a>
                   </li>
                   <li data-original-index="1" class="selected ">
                       <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                           
                           <span class="text">Anton Novak</span>
                         </a>
                     </li>
              </ul>
           </div>
           <!-- <select class="form-control valid" name="UserId" data-container="body" data-live-search="true" id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" aria-required="true" tabindex="-98" aria-invalid="false">
              <option value="">Select...</option>
              <option value="518">Anton Novak</option>
           </select> -->
        </div>
     </div>
   </div>
  </div>
       <div class="form-group">
        <div class="row">
          <div class="col-xs-2 col-md-2"><label class="valign-label" for="Date"><span data-tooltip-el="">Date</span></label></div>
          <div class="col-xs-10 col-md-10"><input class="form-control datetimepicker valid" name="Date" type="date"  autocomlete="off" aria-required="true" aria-invalid="false"></div>
       </div>
    </div>
       <div class="form-group">
        <div class="row">
          <div class="col-xs-2 col-md-2"><label class="valign-label" for="Description"><span data-tooltip-el="">Description</span></label></div>
          <div class="col-xs-10 col-md-10"><textarea name="Description" class="form-control" id="33b52bbd-cf23-2cf2-9200-92a1025a7d06"></textarea></div>
       </div>
    </div>
       
       <input class="form-control" name="Id" type="hidden" id="38906eec-2b88-2413-b15d-e67d84f1ba4b" value="">
       <div class="line line-dashed mt30">&nbsp;</div>
       <div>
          <h3>Notifications</h3>
          <div class="row notification" style="display:none;">
               <div class="col-md-6">
                  <div class="form-group">
                     <div class="row">
                    <div class="col-xs-2 col-md-6 "><label class="valign-label" for="UserId"><span data-tooltip-el="">Transport</span></label></div>
                    <div class="col-xs-10 col-md-6">
                       <div class="btn-group bootstrap-select form-control valid ">
                          <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" title="Anton Novak" aria-expanded="true"><span class="filter-option pull-left">Anton Novak</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                          <div class="dropdown-menu " role="combobox">
                             <div class="bs-searchbox">
                                 <input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search"></div>
                           
                                <!-- <li data-original-index="0">
                                    <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                        
                                        <span class="text">Select...</span></a>
                                  </li> -->
                                  <ul>
                                <li data-original-index="1" class="selected ">
                                    <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                        
                                        <span class="text">Select....</span>
                                      </a>
                                  </li>
                                  <li data-original-index="1" class="selected ">
                                      <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                          
                                          <span class="text">Anton Novak</span>
                                        </a>
                                    </li>
                             </ul>
                          </div>
                          <!-- <select class="form-control valid" name="UserId" data-container="body" data-live-search="true" id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" aria-required="true" tabindex="-98" aria-invalid="false">
                             <option value="">Select...</option>
                             <option value="518">Anton Novak</option>
                          </select> -->
                       </div>
                    </div>
                  </div>
                 </div>
                 </div>
                 <div class="col-md-6">
                  <div class="form-group">
                     <div class="row">
                    <div class="col-xs-2 col-md-6 "><label class="valign-label" for="UserId"><span data-tooltip-el="">Status</span></label></div>
                    <div class="col-xs-10 col-md-6">
                       <div class="btn-group bootstrap-select form-control valid ">
                          <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" title="Anton Novak" aria-expanded="true"><span class="filter-option pull-left">Anton Novak</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                          <div class="dropdown-menu " role="combobox">
                             <div class="bs-searchbox">
                                 <input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search"></div>
                           
                                <!-- <li data-original-index="0">
                                    <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                                        
                                        <span class="text">Select...</span></a>
                                  </li> -->
                                  <ul>
                                <li data-original-index="1" class="selected ">
                                    <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                        
                                        <span class="text">Select....</span>
                                      </a>
                                  </li>
                                  <li data-original-index="1" class="selected ">
                                      <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                          
                                          <span class="text">Anton Novak</span>
                                        </a>
                                    </li>
                             </ul>
                          </div>
                          <!-- <select class="form-control valid" name="UserId" data-container="body" data-live-search="true" id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" aria-required="true" tabindex="-98" aria-invalid="false">
                             <option value="">Select...</option>
                             <option value="518">Anton Novak</option>
                          </select> -->
                       </div>
                    </div>
                  </div>
                 </div>
                 </div>
               </div>
          <div class="form-group">
            <div class="row">
             <div class="col-xs-6 col-md-6">

             </div>
             <div class="col-xs-6 col-md-6">
                <div class="row">
                   <div class="col-xs-8 col-xs-offset-4 col-md-8 col-xs-offset-8 addoption">
                      <a href="javascript:void(0);" class="link-add-control mt5 el-inline-block ">
                         <i class="glyphicon glyphicon-plus"></i>Add option</a></div>
                </div>
             </div>
            </div>
          </div>
       </div>
    </form>
    
 </div>
 <div class="row">
 <div _ngcontent-yvm-c4="" class="col-md-12" style="text-align: center;
 justify-content: center;
 display: flex;">
    <div _ngcontent-yvm-c4="" class="modal-footer item-modal-footer">
       
       <div _ngcontent-yvm-c4="" class="text-center margin17">
          <a _ngcontent-yvm-c4="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);">Save</a>
   <a _ngcontent-yvm-c4="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);">Cancel</a>
</div>
</div>
</div>
</div>