<div class="form-holder">
    <form class="form-horizontal" novalidate="novalidate">
       <div class="form-group">
           <div class="row">
          <div class="col-xs-2 col-md-2 "><label class="valign-label" for="UserId"><span data-tooltip-el="">Owner</span></label></div>
          <div class="col-xs-10 col-md-10">
             <div class="btn-group bootstrap-select form-control valid ">
                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" data-id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" title="Anton Novak" aria-expanded="true"><span class="filter-option pull-left">Anton Novak</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                <div class="dropdown-menu " role="combobox">
                   <div class="bs-searchbox">
                       <input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search"></div>
                 
                      <!-- <li data-original-index="0">
                          <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                              
                              <span class="text">Select...</span></a>
                        </li> -->
                        <ul>
                      <li data-original-index="1" class="selected ">
                          <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                              
                              <span class="text">Select....</span>
                            </a>
                        </li>
                        <li data-original-index="1" class="selected ">
                            <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                
                                <span class="text">Anton Novak</span>
                              </a>
                          </li>
                   </ul>
                </div>
                <!-- <select class="form-control valid" name="UserId" data-container="body" data-live-search="true" id="1d468376-6be8-d9dd-1c98-dcfc7b3921af" aria-required="true" tabindex="-98" aria-invalid="false">
                   <option value="">Select...</option>
                   <option value="518">Anton Novak</option>
                </select> -->
             </div>
          </div>
        </div>
       </div>
       <div class="form-group">
        <div class="row">
          <div class="col-xs-2 col-md-2"><label class="valign-label" for="Type"><span data-tooltip-el="">Type</span></label></div>
          <div class="col-xs-10 col-md-10">
             <div class="btn-group bootstrap-select form-control">
                <button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="800775b9-6ac8-394d-0c49-e3b53aff136a" title="Select..." aria-expanded="false"><span class="filter-option pull-left">Select...</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                <div class="dropdown-menu open" role="combobox" >
                    <div class="bs-searchbox">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search">
                  
                       <!-- <li data-original-index="0">
                           <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
                               
                               <span class="text">Select...</span></a>
                         </li> -->
                         <ul>
                       <li data-original-index="1" class="selected ">
                           <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                               
                               <span class="text">Select....</span>
                             </a>
                         </li>
                         <li data-original-index="1" class="selected ">
                             <a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
                                 
                                 <span class="text">Anton Novak</span>
                               </a>
                           </li>
                    </ul>
                 </div>                   
                </div>
               
             </div>
          </div>
        </div>
       </div>
       <div class="form-group">
        <div class="row">
          <div class="col-xs-2 col-md-2"><label class="valign-label" for="Status"><span data-tooltip-el="">Status</span></label></div>
          <div class="col-xs-10 col-md-10">
             <div class="btn-group bootstrap-select form-control">
                <button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" data-id="690fc5e4-72a3-2482-dabf-9d508c92e6a3" title="Select..." aria-expanded="false"><span class="filter-option pull-left">Select...</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                <div class="dropdown-menu open" role="combobox" style="max-height: 367px; overflow: hidden; min-height: 33px;">
                   <div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off" placeholder="Search" role="textbox" aria-label="Search"></div>
                   <ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 332px; overflow-y: auto; min-height: 0px;">
                      <li data-original-index="0" class="selected active"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="checkbox  check-mark"></span><span class="text">Select...</span></a></li>
                      <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">New</span></a></li>
                      <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">In Process</span></a></li>
                      <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="checkbox  check-mark"></span><span class="text">Completed</span></a></li>
                   </ul>
                </div>
                <select class="form-control" name="Status" data-container="body" data-live-search="true" id="690fc5e4-72a3-2482-dabf-9d508c92e6a3" aria-required="true" tabindex="-98">
                   <option value="">Select...</option>
                   <option value="1">New</option>
                   <option value="2">In Process</option>
                   <option value="3">Completed</option>
                </select>
             </div>
          </div>
        </div>
       </div>
       <div class="form-group">
        <div class="row">
          <div class="col-xs-2 col-md-2"><label class="valign-label" for="Date"><span data-tooltip-el="">Date</span></label></div>
          <div class="col-xs-10 col-md-10"><input class="form-control datetimepicker valid" name="Date" type="text" id="3e083dea-baf1-9264-bb3b-46cb07396367" autocomlete="off" aria-required="true" aria-invalid="false"></div>
       </div>
    </div>
       <div class="form-group">
        <div class="row">
          <div class="col-xs-2 col-md-2"><label class="valign-label" for="Description"><span data-tooltip-el="">Description</span></label></div>
          <div class="col-xs-10 col-md-10"><textarea name="Description" class="form-control" id="33b52bbd-cf23-2cf2-9200-92a1025a7d06"></textarea></div>
       </div>
    </div>
       <div class="form-group" style="display: none;">
        <div class="row">
          <div class="col-xs-2 col-md-2 "><label class="valign-label" for="ShowSummary"><span data-tooltip-el="">ShowSummary</span></label></div>
          <div class="col-xs-10 col-md-10"><label class="toggle-switcher inline"><span class="switchcontrol"><span class="off"><span style="width: 0px;">Off</span></span><span class="on"><span style="width: 0px;">On</span></span><input class="form-control default-checkbox" name="ShowSummary" type="checkbox" id="c8eafd43-11ae-7838-9015-444bc211a3f3" value="true"></span></label></div>
       </div>
    </div>
       <input class="form-control" name="Id" type="hidden" id="38906eec-2b88-2413-b15d-e67d84f1ba4b" value="">
       <div class="line line-dashed mt30">&nbsp;</div>
       <div>
          <h3>Notifications</h3>
          <div></div>
          <div class="form-group">
            <div class="row">
             <div class="col-xs-6 col-md-6"></div>
             <div class="col-xs-6 col-md-6">
                <div class="row">
                   <div class="col-xs-8 col-xs-offset-4 col-md-8 col-xs-offset-8"><a href="javascript:void(0);" class="link-add-control mt5 el-inline-block"><i class="glyphicon glyphicon-plus"></i>Add option</a></div>
                </div>
             </div>
            </div>
          </div>
       </div>
    </form>
 </div>