<div class="steps steps-style01">
    <div class="item active">
       <div class="item-inner">Step 1<strong>Uploading files</strong></div>
    </div>
    <div class="item">
       <div class="item-inner">Step 2<strong>Matching fields</strong></div>
    </div>
    <div class="item">
       <div class="item-inner">Step 3<strong>Importing data</strong></div>
    </div>
 </div>
 <div class="line"></div>
 <!-------------------Browse  File-------------------------->

 
 <form class="form-horizontal">
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1663" data-index="0">
            <div class="col-md-4"><label class="valign-label" for="FirstName"><span data-tooltip-el="">First Name</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="FirstName" data-container="body" data-live-search="true" id="a461c9773-d298-4858-d919-6a62bbdd2dce" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1664" data-index="1">
            <div class="col-md-4"><label class="valign-label" for="LastName"><span data-tooltip-el="">Last Name</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="LastName" data-container="body" data-live-search="true" id="abf6ecf46-0bfa-ceaa-8aa2-cb406998ec36" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">5587</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1665" data-index="2">
            <div class="col-md-4"><label class="valign-label" for="Email"><span data-tooltip-el="">Email</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="Email" data-container="body" data-live-search="true" id="a1e0ecc94-c265-40b0-e97c-b88ceb4e7a36" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">555</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1666" data-index="3">
            <div class="col-md-4"><label class="valign-label" for="Phone"><span data-tooltip-el="">Phone</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="Phone" data-container="body" data-live-search="true" id="ad03b680b-9e0a-d7ba-17d3-4cb696e136fe" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">7</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1667" data-index="4">
            <div class="col-md-4"><label class="valign-label" for="Mobile"><span data-tooltip-el="">Mobile</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="Mobile" data-container="body" data-live-search="true" id="ad8566b9a-f31d-fd80-7fe8-eb71eba08c8d" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1668" data-index="5">
            <div class="col-md-4"><label class="valign-label" for="SecondEmail"><span data-tooltip-el="">Second Email</span></label></div>
            <div class="col-md-8">
               <div class="">
                
                  <select class="form-control" name="SecondEmail" data-container="body" data-live-search="true" id="aba282cec-ab22-b7d7-bdff-dc2f57ea6e7c" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">4</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1669" data-index="6">
            <div class="col-md-4"><label class="valign-label" for="Tag1"><span data-tooltip-el="">Tag</span></label></div>
            <div class="col-md-8">
               <div class="">
                
                  <select class="form-control" name="Tag1" data-container="body" data-live-search="true" id="a976a1e31-aaae-a3bf-090e-01840717351a" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1670" data-index="7">
            <div class="col-md-4"><label class="valign-label" for="Tag2"><span data-tooltip-el="">Tag1</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="Tag2" data-container="body" data-live-search="true" id="af72a06dd-2bc4-77ea-f618-a04a2b2dd223" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">77</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1671" data-index="8">
            <div class="col-md-4"><label class="valign-label" for="CampaignId"><span data-tooltip-el="">Campaign ID</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="CampaignId" data-container="body" data-live-search="true" id="a036feacf-17c4-c847-871b-78411febdb88" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1673" data-index="9">
            <div class="col-md-4"><label class="valign-label" for="Country"><span data-tooltip-el="">Country</span></label></div>
            <div class="col-md-8">
               <div class="">
                
                  <select class="form-control" name="Country" data-container="body" data-live-search="true" id="af461142d-6243-9791-5ded-907fe9516e30" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1674" data-index="10">
            <div class="col-md-4"><label class="valign-label" for="OwnerId"><span data-tooltip-el="">Owner</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="OwnerId" data-container="body" data-live-search="true" id="a268303b4-80f7-4605-086e-e2aed9692844" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1675" data-index="11">
            <div class="col-md-4"><label class="valign-label" for="StatusId"><span data-tooltip-el="">Status</span></label></div>
            <div class="col-md-8">
               <div class="">
                
                  <select class="form-control" name="StatusId" data-container="body" data-live-search="true" id="a2ab5806d-b92b-44f4-d52f-f1020111b943" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1678" data-index="12">
            <div class="col-md-4"><label class="valign-label" for="CreatedDate"><span data-tooltip-el="">Created Date</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="CreatedDate" data-container="body" data-live-search="true" id="a68cb3e2f-6045-158e-37db-227e21e71eb4" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1680" data-index="13">
            <div class="col-md-4"><label class="valign-label" for="ZipCode"><span data-tooltip-el="">Zip Code</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="ZipCode" data-container="body" data-live-search="true" id="a36aec469-ddae-3583-4a57-c0d90816422f" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">tml</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1681" data-index="14">
            <div class="col-md-4"><label class="valign-label" for="City"><span data-tooltip-el="">City</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="City" data-container="body" data-live-search="true" id="aafa1424a-4a4b-01fb-4fca-7b88047ecb14" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1682" data-index="15">
            <div class="col-md-4"><label class="valign-label" for="State"><span data-tooltip-el="">State</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="State" data-container="body" data-live-search="true" id="a87a2d834-b678-8455-08f0-80e81eff7d09" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1683" data-index="16">
            <div class="col-md-4"><label class="valign-label" for="Address"><span data-tooltip-el="">Address</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="Address" data-container="body" data-live-search="true" id="acddb70de-5a12-0698-2537-541edb35db76" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">p</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1684" data-index="17">
            <div class="col-md-4"><label class="valign-label" for="SuppliedDocs"><span data-tooltip-el="">Supplied Docs</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="SuppliedDocs" data-container="body" data-live-search="true" id="a8da89e76-5990-a35c-a5eb-5888df3a0d65" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1685" data-index="18">
            <div class="col-md-4"><label class="valign-label" for="AcceptTerms"><span data-tooltip-el="">Accepted Terms &amp; Conditions</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="AcceptTerms" data-container="body" data-live-search="true" id="a4e55461a-4324-ca6f-1e96-45bb5cb27230" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">l</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1686" data-index="19">
            <div class="col-md-4"><label class="valign-label" for="Description"><span data-tooltip-el="">Description</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="Description" data-container="body" data-live-search="true" id="aab9f5cbb-59e3-1ca3-49a8-e9d3bf295eb9" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">ml</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1687" data-index="20">
            <div class="col-md-4"><label class="valign-label" for="AffiliateId"><span data-tooltip-el="">Affiliate ID</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="AffiliateId" data-container="body" data-live-search="true" id="a04c7a293-b564-cd73-3b3a-f19c5d1fab68" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1688" data-index="21">
            <div class="col-md-4"><label class="valign-label" for="SubAffiliateId"><span data-tooltip-el="">Sub Affiliate ID</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="SubAffiliateId" data-container="body" data-live-search="true" id="a916235fa-0833-b818-d858-269c6f54d6bf" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">l</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1689" data-index="22">
            <div class="col-md-4"><label class="valign-label" for="Source"><span data-tooltip-el="">Source</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="Source" data-container="body" data-live-search="true" id="acc838296-ae5a-06c9-a0ad-a28a541e1629" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1690" data-index="23">
            <div class="col-md-4"><label class="valign-label" for="IpAddress"><span data-tooltip-el="">IP Address</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="IpAddress" data-container="body" data-live-search="true" id="a300374c1-a2b9-3f44-40ea-42c2611af50f" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1691" data-index="24">
            <div class="col-md-4"><label class="valign-label" for="Referrer"><span data-tooltip-el="">Referrer</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="Referrer" data-container="body" data-live-search="true" id="ac15ec75a-5db3-b409-42cc-09ef062101a3" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">l</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1692" data-index="25">
            <div class="col-md-4"><label class="valign-label" for="IpCountry"><span data-tooltip-el="">IP Country</span></label></div>
            <div class="col-md-8">
               <div class="">
              
                  <select class="form-control" name="IpCountry" data-container="body" data-live-search="true" id="ac67fb6fb-df6d-0590-809b-881f307ca444" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">nquiry.jsp?StaticPage=index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1693" data-index="26">
            <div class="col-md-4"><label class="valign-label" for="ModifiedDate"><span data-tooltip-el="">Modified Date</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="ModifiedDate" data-container="body" data-live-search="true" id="ab51deafd-aeff-8a64-79e4-7c7862af7179" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">aticEnquiry.jsp?StaticPage=index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1694" data-index="27">
            <div class="col-md-4"><label class="valign-label" for="ConvertionOwnerId"><span data-tooltip-el="">Convertion Owner</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="ConvertionOwnerId" data-container="body" data-live-search="true" id="a432864ba-5fe2-c7ba-24fc-3c7296c0b9cc" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">c</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1695" data-index="28">
            <div class="col-md-4"><label class="valign-label" for="RetentionOwnerId"><span data-tooltip-el="">Retention Owner</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="RetentionOwnerId" data-container="body" data-live-search="true" id="a5fd747b8-468d-e5b8-6922-01bf43535616" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1696" data-index="29">
            <div class="col-md-4"><label class="valign-label" for="Citizenship"><span data-tooltip-el="">Citizenship</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="Citizenship" data-container="body" data-live-search="true" id="a3ebd9119-1514-1d7a-b1f7-87c45d59b22a" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">ml</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1697" data-index="30">
            <div class="col-md-4"><label class="valign-label" for="DateOfBirth"><span data-tooltip-el="">Date Of Birth</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="DateOfBirth" data-container="body" data-live-search="true" id="abfa8156c-e048-e2e9-379d-7d7994146610" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">ge=index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1700" data-index="31">
            <div class="col-md-4"><label class="valign-label" for="IsEnabled"><span data-tooltip-el="">Enabled</span></label></div>
            <div class="col-md-8">
               <div class="">
                
                  <select class="form-control" name="IsEnabled" data-container="body" data-live-search="true" id="a6d88b6c3-35e2-4f94-559c-4e0dd02e18d1" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">icEnquiry.jsp?StaticPage=index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1701" data-index="32">
            <div class="col-md-4"><label class="valign-label" for="LastLoginDate"><span data-tooltip-el="">Last Login Date</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="LastLoginDate" data-container="body" data-live-search="true" id="a6944dbd6-4e15-124c-23ae-b9a187ed87ec" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1702" data-index="33">
            <div class="col-md-4"><label class="valign-label" for="SubscribedNewsletter"><span data-tooltip-el="">Subscribed Newsletter</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="SubscribedNewsletter" data-container="body" data-live-search="true" id="a8b64c688-77bc-6953-e537-2e30d92a96bf" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">dex.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1703" data-index="34">
            <div class="col-md-4"><label class="valign-label" for="DeskId"><span data-tooltip-el="">Desk</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="DeskId" data-container="body" data-live-search="true" id="a69bd9423-0bb0-a5e8-0f6d-13868286c5f6" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">taticEnquiry.jsp?StaticPage=index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1707" data-index="35">
            <div class="col-md-4"><label class="valign-label" for="UtmContent"><span data-tooltip-el="">Utm Content</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="UtmContent" data-container="body" data-live-search="true" id="ad10bb391-bbf9-f36b-8158-030227570522" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">l</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1708" data-index="36">
            <div class="col-md-4"><label class="valign-label" for="UtmSource"><span data-tooltip-el="">Utm Source</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="UtmSource" data-container="body" data-live-search="true" id="a80264464-5638-8837-1d96-48455e7fcb00" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">ex.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1709" data-index="37">
            <div class="col-md-4"><label class="valign-label" for="UtmCampaign"><span data-tooltip-el="">Utm Campaign</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="UtmCampaign" data-container="body" data-live-search="true" id="a541f3ff7-2e86-74e6-f789-311923713f7b" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">ex.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1710" data-index="38">
            <div class="col-md-4"><label class="valign-label" for="UtmCreative"><span data-tooltip-el="">Utm Creative</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="UtmCreative" data-container="body" data-live-search="true" id="ac8684a45-52aa-23f4-77df-f46b7ab0984b" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">dex.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1711" data-index="39">
            <div class="col-md-4"><label class="valign-label" for="UtmMedium"><span data-tooltip-el="">Utm Medium</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="UtmMedium" data-container="body" data-live-search="true" id="a598d92b5-1a09-3aa0-3053-07e83f4a7d55" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">.jsp?StaticPage=index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1712" data-index="40">
            <div class="col-md-4"><label class="valign-label" for="AffTransactionId"><span data-tooltip-el="">Aff Transaction ID</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="AffTransactionId" data-container="body" data-live-search="true" id="a61da7369-5e05-becf-e5d4-ff4f786e61f0" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1713" data-index="41">
            <div class="col-md-4"><label class="valign-label" for="UtmTerm"><span data-tooltip-el="">Google Keyword</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="UtmTerm" data-container="body" data-live-search="true" id="a76976ddc-37c1-47c6-7f9a-d5d7b7dc1478" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1"></option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="form-group row">
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1824" data-index="42">
            <div class="col-md-4"><label class="valign-label text-ellipsis" for="FirstRegistrationDate" data-original-title="" title=""><span data-tooltip-el="">FirstRegistrationDate</span></label></div>
            <div class="col-md-8">
               <div class="">
                 
                  <select class="form-control" name="FirstRegistrationDate" data-container="body" data-live-search="true" id="a2de7904d-bcb3-ea8a-7783-64b20f017a58" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">iry.jsp?StaticPage=index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row" data-mapping-node="" data-field-id="1966" data-index="43">
            <div class="col-md-4"><label class="valign-label text-ellipsis" for="AffiliateUserId"><span data-tooltip-el="">AffiliateUser</span></label></div>
            <div class="col-md-8">
               <div class="">
                  
                  <select class="form-control" name="AffiliateUserId" data-container="body" data-live-search="true" id="ab2c0208b-4884-2b62-3e64-026088438d20" tabindex="-98">
                     <option value="">Select...</option>
                     <option value="0">1</option>
                     <option value="1">Enquiry.jsp?StaticPage=index.html</option>
                  </select>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div _ngcontent-bct-c14="" class="col-md-12 padd0"><div _ngcontent-bct-c14="" _ngcontent-xfs-c7="" class="modal-footer item-modal-footer center"><div _ngcontent-bct-c14="" _ngcontent-xfs-c7="" class="text-center"><div _ngcontent-bct-c14="" class="form-group ng-untouched ng-pristine ng-invalid" ng-reflect-form="[object Object]"><a _ngcontent-bct-c14="" _ngcontent-xfs-c7="" class="button submit-button itembutton" data-dismiss="modal" href="javascript:void(0);">Save</a><a _ngcontent-bct-c14="" _ngcontent-xfs-c7="" class="button button2 itembutton1" data-dismiss="modal" href="javascript:void(0);">Cancel</a></div></div></div></div>
</form>