body {
    width: 100%!important;
    overflow-x:hidden!important;
    font: 15px/1.53845 Poppins,Arial,sans-serif;
    -moz-transform: scale(.8,.8);
    transform-origin: 50% 0;
  }
.row-gutter
{
    margin-right: 15px;
    
}
 .holder {
    background: #12baee;
    border-radius: 2px;
    width: 50px;
    height: 41px
} 
.holder i{
    position: absolute;
    top: 22%;
    left: 32%;
    cursor: pointer;

}
.impdrp
{
    font-size: 16px;
    position:relative!important;
    left: auto!important;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
   
    width: 210px;
    height: max-content;
}
.impdrp li a
{
    padding: 12px 0px 12px 25px;
    color: #1b4b74;
    line-height: 2.53845;
    font-size: 17px;

}
.grpselect .bootstrap-select
{
    width:366px!important;
    z-index: 6666;
    background: 0 0!important;
    border-color: #609bce!important;
    font-size: 14px;
    color: #fff!important;
    padding: 6px 25px 6px 20px;
    border-radius: 2px 0 0 2px;
    text-shadow: 0 0 1px rgba(69,89,106,.25);
}
.input-group.selecticon.grpselect {
    width: 393px!important;
    z-index: 6666;
    background: 0 0!important;
    border-color: #609bce!important;
    font-size: 14px;
    color: #fff!important;
    padding: 6px 25px 6px 20px;
    border-radius: 2px 0 0 2px;
    text-shadow: 0 0 1px rgba(69,89,106,.25);
}
.displayend
{
    display: flex;
    justify-content: flex-end;
}
.modal790
{
    width:790px;
}
.impdrp li a i
{
    position: relative;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    font-size: 17px;
}
.impdrp li :hover {
  
    color: #12baee;
}
.sub-header{
    position: relative;
    z-index: 10;
    padding: 35px 0 0;
    background: url(/assets/images/bg-subheader.png) 100% 0 no-repeat #105996;
    color: #fff;
   height: 82px;

}
.z_co_dropdown
{
    width:68px;
}
.breadcrumb
{
    margin-left: 5px;
    margin-top:-32px;
    padding:0px;

}
.tablist {
    border: 0;
    display: inline-flex;
    vertical-align: top;
    background: #f1f6fc;
    border-radius: 2px 2px 0 0;
    -webkit-box-shadow: inset 0 -3px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 -3px 5px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 -3px 5px 0 rgba(0,0,0,.1);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #007bff;
    color: #3d75e1;
    background: #fff;
    -webkit-box-shadow: 3px 0 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 3px 0 5px 0 rgba(0,0,0,.1);
    box-shadow: 3px 0 5px 0 rgba(0,0,0,.1);
    border-bottom: 2px solid #3d75e1;

}
.tablist>li
{
    font-weight: 500;
}
.tablist>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin: 0;
    color: #8c9bb3;
    border-width: 0;
    padding: 14px 23px;
    min-width: 90px;
    line-height: 1.35714;
    line-height: 19px;
}
.tab{
   
    border-radius:5px;
    width:208px;
    height:37px;
    padding:8px;
    text-align:center;
    font-size: 18px;
}
tabs
{
    position: top;
    text-align: left;
}
.main-tab .tab li{
    display: inline-block;
    padding:2px;
}
.main-tab .tab li a{
    text-decoration: none;
}
.fa{
    font-size:25px;
}
i.fa.fa-refresh {
  color: #dee2e6;
}
.bg-primary
{
    background-color: #12baee !important;
    height:31px;
    width:33px;
    padding:8px;
    padding-bottom:3px;
    margin-bottom:10px;
    left: -1px;
    top: 28%;
    margin: -12px 0 0;
}
i.fa.fa-refresh {
    padding-right: 8px;
}
.tablewidth
{
    background: #fff;
    width: 100%!important;
    border-collapse: collapse;
    border-spacing: 0;
}
.cell-content {
    font-weight: 500;
    color: #45596a;
}
.text-ellipsis {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 64px;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
    padding: 5px;
    
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
    padding-left: 0;
    padding-right: 0;
}
.greyicon {
    width: 20px;
    height: 20px;
    font-size: 20px!important;
    color: #a5a6a7;
}
.main-tab {
    padding-left: 29px;
}
.tablecheckbox
{
    width: 10px;
    height: 12px;
}

tr.filterrow select {
    padding: 0 0;
    height: 27px;
}
i.fa.fa-star {
    width: 15px;
    height: 15px;
    font-size: 13px;
    display: contents;
}
.custom-select1 {
    left: 0;
    color: #8d9dab;
    text-align: center;
    border-color: #5b90e2;
    height: 27px;
}
select.browser-default.custom-select {
    background: transparent;
    color: #fff;
    border-color: #159ac9;
}
.btn-primary
{
    background: 0 0!important;
    border-color: #609bce!important;
    font-size: 14px;
    color: rgb(3, 3, 3)!important;
    padding: 6px 77px 6px 83px;
    border-radius: 11px 0 0 2px;
}
.btn{
    padding: 0.375rem 4.75rem;
}
.btn btn-primary,.btn btn-primary dropdown-toggle dropdown-toggle-split
{
    padding-left:12px;
}
.btn btn-primary dropdown-toggle dropdown-toggle-split
{
    margin-left:12px;
}
.serachicon  a
{
    display: block;
    width: 50px;
    height: 39px;
    color:#fff;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}
.serachicon
{
    background: #12baee;
}
.brdr-right {
    border-right: 1px solid #105996;
}
.serachicon a i
{
    width: 25px;
    height: 25px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color:#fff;
    left: 17px!important;
    top: 17%!important;
    position: relative!important;
    font-size: 21px;
}
.ui-grid-cell-contents-auto
{
display: grid;
grid-auto-columns: max-content;
}
.tools-panel .item {
    display: inline-block;
    vertical-align: top;
    vertical-align: middle;
    margin: 0 5px 6px;
}

.tools-filter-select {
    width: 250px;
    float: left;
}
.tools-filter-select>.form-control {
    border-radius: 2px 0 0 2px;
    height: 41px;
    border-color: #609bce;
    background: 0 0;
}
.tools-filter-select .bootstrap-select>.btn.dropdown-toggle {
    background: 0 0!important;
    border-color: #609bce!important;
    font-size: 14px;
    color: #fff!important;
    padding: 6px 25px 6px 20px;
    border-radius: 2px 0 0 2px;
    text-shadow: 0 0 1px rgba(69,89,106,.25);
}
.bootstrap-select>.btn.dropdown-toggle {
    font-size: 13px;
    background: #fff;
    border-color: #dde7f9;
    text-shadow: none;
    height: 100%;
    opacity: 1;
    border-radius: 2px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
}
.tools-filter-select .bootstrap-select>.btn.dropdown-toggle {
    background: 0 0!important;
    border-color: #609bce!important;
    font-size: 14px;
    color: #fff!important;
    padding: 6px 25px 6px 20px;
    border-radius: 2px 0 0 2px;
    text-shadow: 0 0 1px rgba(69,89,106,.25);
}

.bootstrap-select>.btn.dropdown-toggle {
    font-size: 13px;
    background: #fff;
    border-color: #dde7f9;
    text-shadow: none;
    height: 100%;
    opacity: 1;
    border-radius: 2px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 48px;
    z-index: 1;
    color: #45596a;
}
.rightsubopt .input-group select{
    width:230px;
    background: 0 0!important;
    border-color: #609bce!important;
    font-size: 14px;
    color: #fff!important;
    padding: 6px 25px 6px 20px;
    border-radius: 2px 0 0 2px;
    text-shadow: 0 0 1px rgba(69,89,106,.25);
}
.rightsubopt .input-group select option
{
    padding: 0;
    margin: 5px 0 0;
    font-size: 13px;
    border: 1px solid #dde7f9;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.15);
    box-shadow: 0 3px 7px rgba(0,0,0,.15);
    color:#000;
}
.searchbtn
{
    display:block;
}
.btn-group, .btn-group-vertical {
    
    display: -webkit-inline-box!important;
    vertical-align: middle;
}
.createitemheader
{
    text-transform: uppercase;
    color: #000;
    font: 700 21px Poppins,Arial,sans-serif;
    
    letter-spacing:1px;

}

.modal930 .modal-header {
    padding: 20px 30px;
}
.modal930 .modal-body 
{
    padding: 15px 30px;
    word-wrap: break-word;
}
.comparation-type-3
{
    left: 0;
    color: #a9c1d5;
    text-align: center;
    position: absolute;
    width: 33px;
    height: 100%;
    top: 7px;
    overflow: hidden;
    cursor: pointer;
    z-index: 4;
    font-size:12px;
}
.dropform
{
    height: 27px;
    width:69px;
}
.cstm-search
{
        position: relative;
}
.radiondrop
{
    padding: 0;
    margin: 5px 0 0;
    font-size: 13px;
    border: 1px solid #dde7f9;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.15);
    box-shadow: 0 3px 7px rgba(0,0,0,.15);
    width:100%;
}
.radiondrop  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.radiondrop  ul label {
    font-weight: 400;
    display: flex;
    margin: 0;
    padding: 3px 15px 3px 33px;
    color: #45596a;
}

.radiondrop  ul label span {
    display: block;
    width: 16px;
    height: 16px;
  
}
.fistinpt {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: 1px 0 0 -20px;
    padding: 0;
    width: 16px;
    height: 16px;
}
/* .disabled {
    cursor: not-allowed;
  } */
  a.brdr-right.disabled,a.disabled {
    opacity: 0.5;
}
.tablectn:hover{
    background-color:#f5f5f5;
}
i.fa.fa-plus.bg-primary1.fa-lg {
   
    padding-top: 5px;
}
.jsgrid-cell-content .form-control {
    height: 27px;
    padding: 0;
    width: 73px;
}
 /* .jsgrid-control-field a, .jsgrid-control-field input {
    margin-left: 2px;
} */

 .jsgrid-button {
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    background: url(/assets/images/jsgrid-icons.png);
    background-repeat: no-repeat;
    background-color: transparent;
}
.jsgrid-update-button {
    background-position: 0 -336px;
    width: 16px;
    height: 16px;
}
 /* .jsgrid-control-field a,  .jsgrid-control-field input {
    margin-left: 2px;
} */
.jsgrid-cancel-edit-button {
    background-position: 0 0;
    width: 16px;
    height: 16px;
}
.tablectn select
{
    height:27px!important;
}
.dropdown-toggle2 {
    padding: 5px;
    white-space: nowrap;
}
.popcontent {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    z-index: 1040;
    border-color: rgba(0,0,0,.04);
    -webkit-box-shadow: -3px 3px 7px 0 rgba(0,0,0,.15);
    box-shadow: -3px 3px 7px 0 rgba(0,0,0,.15);
    width: 100px;background: #fff;height: 31px;
    vertical-align: middle;
    border-radius: 6px;
    padding-top: 5px;
}
.pop
{
    position: absolute;
    transform: translate3d(-63px, -1px, 0px)!important;
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 0!important;
    border: 0;
    text-align: center;
    background: none;
    
}
.dropleft .dropdown-toggle2::before
{
    content: none;
}
.popcontent li {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    margin: 0 5px;
    position: relative;
}
ul.popcontent li a i {
    font-size: 15px!important;
    color: #a5a6a7;
}
.ico-sz3 {
    width: 20px;
    height: 20px;
}
.ico-sz3.ico-comments.dim {
    background-position: -300px -420px;
}