<div class="container-fluid ">
  <div class="row fist1">
    <div class="col-md-12 sub-header">

      <div class="row container-padd row-gutter">
        <div class="col-md-6 main-tab">
          <ul class="nav nav-pills tablist" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#all">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#account">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#leads">Leads</a>
            </li>
          </ul>
        </div>


        <div class="col-md-6 rightsubopt">
          <!-- <a routerLink=""><i class="fa fa-refresh"></i></a>
          <a href="#">
            <select class="browser-default custom-select" style="width:43%;">
              <option selected>All</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <i class="fa fa-plus bg-primary fa-lg" aria-hidden="true" style="color: white;"></i></a>
          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true"
            style="padding-right:10px;margin-right:10px"></i>
          <i class="fa fa-" aria-hidden="true"></i>
          <i class="fa fa-user bg-primary fa-lg" aria-hidden="true" (click)="newUser()" style="color: white"></i>
          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true"></i>
          <i class="fa fa-trash bg-primary fa-lg" disabled aria-hidden="true"></i>
          <i class="fa fa-ellipsis-h" aria-hidden="true" style="padding-left: 12px;"></i> -->
<div class="btn-toolbar searchbtn" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
   <a routerLink=""><i class="fa fa-refresh"></i></a>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <div class="input-group"> 

                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="ALL">
                        <option>Others</option>
                        <option>Accounts</option>
                        <option>All</option>
                        <option>Leads</option>
                        <option>Shared</option>
                        <option>Online</option>
                        
                    </select>
                   <i class="fa fa-plus bg-primary fa-lg" aria-hidden="true" style="color: white;"></i>
            <i class="fa fa-pencil bg-primary fa-lg"  aria-hidden="true"
            style="padding-right:10px;margin-right:10px"></i>
                </div>
            
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Third group">
    
          <a href="#" data-toggle="modal" data-target="#regModal">
          <i class="fa fa-user bg-primary fa-lg" aria-hidden="true"  style="color: white"></i>
          </a>
          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true"></i>
          <i class="fa fa-trash bg-primary fa-lg" disabled aria-hidden="true"></i>
          
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Four group">
    
         
          <i class="fa fa-ellipsis-h" aria-hidden="true" style="padding-left: 12px;"></i>
  </div>

</div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="tab-content">
   <div id="all" class="container-fluid tab-pane active"><br>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr class="tablewidth">
          <th class="chkCol">
            <div class="cell-content">
              <div class=""><span class=""><input type="checkbox"></span></div>
            </div>
          </th>

          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Item ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>First Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Last Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Country</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Email</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Type</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Phone</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Owner</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Status</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Created Date</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Campaign ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag1</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>FTD</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Group</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Desk</span></div>
            </div>
          </th>
          <th class="">

          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="filterrow ">
          <td class="" style="width: 20px;">
            <div class=""><span>x</span><i class="fa fa-star" title="Clear filter"></i></div>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td>
            <i _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search tablesearch"></i>
          </td>
        </tr>
        <tr class="tablectn" *ngFor="let item of rowData">
          <td class="chkCol">
            <div class="jsgrid-cell-content">
              <div class="input-checkbox"><span>
                  <input type="checkbox" data-item-selector="true" class="tablecheckbox"></span>
                <span><i class="fa fa-star" title="Clear filter"></i></span></div>
            </div>
          </td>
          <td class="" (click)="userClick(item)">
            <div class="">
              <div class="text-ellipsis" data-original-title="" title="">
                <a>
                  <span>{{item.ItemId}}</span></a></div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_FirstName">
                <div class="text-ellipsis" data-field="FirstName" data-original-value="MASSIMO" data-original-title=""
                  title="">{{item.FirstName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_LastName">
                <div class="text-ellipsis" data-field="LastName" data-original-value="ZIZZA">{{item.LastName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Country">
                <div class="text-ellipsis"><span class="flag it"></span>{{item.CountryName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Email">
                <div class="text-ellipsis" data-original-title="" title=""><a
                    href=""><span>{{item.Email}}</span></a></div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Type">
                <div class="text-ellipsis">{{item.TypeName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Phone">
                <div class="text-ellipsis" data-field="Phone" data-original-value="3295385412" data-original-title=""
                  title="">{{item.Phone}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_OwnerId">
                <div class="text-ellipsis" data-original-title="" title="">{{item.OwnerName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_StatusId">
                <div class="text-ellipsis" data-original-title="" title="">{{item.ResponseStatus}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell" style="width:115px;">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CreatedDate">{{item.CreatedDate}}</div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CampaignId">
                <div class="text-ellipsis" data-field="CampaignId">{{item.CampaignId}}</div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_HasDeposit">
                <div><i class="ico-sz2 ico-status"></i></div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">{{item.Tag1}}</div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis" style="text-align:center">
                  
                  <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true" [ngStyle]="{'color': item.FTD ? 'green':'gray' }"></i>
                </div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis"></div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">{{item.Desk}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center">
            <div class="dropleft droptop">
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  class="fa fa-link greyicon" aria-hidden="true"></i>
              </a>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" disabled=""></i></a>
              <br>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link"
                title="Open in new tab">&nbsp;&nbsp;<i class="fa fa-ellipsis-h greyicon" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>



      </tbody>
    </table>
  </div> 

  <div id="account" class="container-fluid tab-pane fade"><br>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr class="tablewidth">
          <th class="">
            <div class="cell-content">
              <div class=""><span class=""><input type="checkbox"></span></div>
            </div>
          </th>

          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Item ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>First Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Last Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Country</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Email</span></div>
            </div>
          </th>
         
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Phone</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Owner</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Status</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Created Date</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Campaign ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag1</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>FTD</span></div>
            </div>
          </th>
          
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Desk</span></div>
            </div>
          </th>
          <th class="">

          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="filterrow ">
          <td class="" style="width: 20px;">
            <div class=""><span>x</span><i class="fa fa-star" title="Clear filter"></i></div>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          
          <td>
            <i _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search tablesearch"></i>
          </td>
        </tr>
        
        <tr class="tablectn" *ngFor="let actinfo of accountInfo">
          <td class="">
            <div class="jsgrid-cell-content">
              <div class="input-checkbox"><span>
                  <input type="checkbox" data-item-selector="true" class="tablecheckbox"></span>
                <span><i class="fa fa-star" title="Clear filter"></i></span></div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div class="text-ellipsis" data-original-title="" title="">
                <a href="">
                  <span>{{actinfo.ItemId}}</span></a></div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_FirstName">
                <div class="text-ellipsis" data-field="FirstName" data-original-value="MASSIMO" data-original-title=""
                  title="">{{actinfo.FirstName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_LastName">
                <div class="text-ellipsis" data-field="LastName" data-original-value="ZIZZA">{{actinfo.LastName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Country">
                <div class="text-ellipsis"><span class="flag it"></span>{{actinfo.CountryName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Email">
                <div class="text-ellipsis" data-original-title="" title=""><a
                    href=""><span>{{actinfo.Email}}</span></a></div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Type">
                <div class="text-ellipsis">{{actinfo.Phone}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Phone">
                <div class="text-ellipsis" data-field="Phone" data-original-value="3295385412" data-original-title=""
                  title="">{{actinfo.OwnerName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_OwnerId">
                <div class="text-ellipsis" data-original-title="" title="">{{actinfo.ResponseStatus}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_StatusId">
                <div class="text-ellipsis" data-original-title="" title="">{{actinfo.CreatedDate}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell" style="width:115px;">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CreatedDate">{{actinfo.CampaignId}}</div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CampaignId">
                <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">{{actinfo.Tag}}</div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_HasDeposit">
                <div><i class="ico-sz2 ico-status"></i>{{actinfo.Tag1}}</div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis" style="text-align:center">
                 
                  <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true" [ngStyle]="{'color': actinfo.FTD ? 'green':'gray' }"></i>
                </div>
              </div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_DeskId">
                <div class="text-ellipsis">{{actinfo.Desk}}</div>
              </div>
            </div>
          </td>
         
          <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center">
            <div class="dropleft droptop">
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  class="fa fa-link greyicon" aria-hidden="true"></i>
              </a>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" disabled=""></i></a>
              <br>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link"
                title="Open in new tab">&nbsp;&nbsp;<i class="fa fa-ellipsis-h greyicon" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>



      </tbody>
    </table>
  </div> 
 <div id="leads" class="container-fluid tab-pane fade"><br>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr class="tablewidth">
          <th class="">
            <div class="cell-content">
              <div class=""><span class=""><input type="checkbox"></span></div>
            </div>
          </th>

          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Item ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>First Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Last Name</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Owner</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Country</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Status</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Email</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Tag1</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Created Date</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis" data-original-title="" title=""><span>Campaign ID</span></div>
            </div>
          </th>
          <th class="">
            <div class="cell-content">
              <div class="text-ellipsis"><span>Desk</span></div>
            </div>
          </th>
          
        </tr>
      </thead>

      <tbody>
        <tr class="filterrow ">
          <td class="" style="width: 20px;">
            <div class=""><span>x</span><i class="fa fa-star" title="Clear filter"></i></div>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          <td class="">
            <select class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option>
            </select>
          </td>
          
          <td>
            <i _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search tablesearch"></i>
          </td>
        </tr>
        <tr class="tablectn" *ngFor="let leadinfo of leadInfo">
          <td class="">
            <div class="jsgrid-cell-content">
              <div class="input-checkbox"><span>
                  <input type="checkbox" data-item-selector="true" class="tablecheckbox"></span>
                <span><i class="fa fa-star" title="Clear filter"></i></span></div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div class="text-ellipsis" data-original-title="" title="">
                <a href="">
                  <span>{{leadinfo.ItemId}}</span></a></div>
            </div>
          </td>
          <td class="">
            <div class="">
              <div data-display-for="27_FirstName">
                <div class="text-ellipsis" data-field="FirstName" data-original-value="MASSIMO" data-original-title=""
                  title="">{{leadinfo.FirstName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_LastName">
                <div class="text-ellipsis" data-field="LastName" data-original-value="ZIZZA">{{leadinfo.LastName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Country">
                <div class="text-ellipsis"><span class="flag it"></span>{{leadinfo.OwnerName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Email">
                <div class="text-ellipsis" data-original-title="" title=""><a
                    href=""><span>{{leadinfo.CountryName}}</span></a></div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Type">
                <div class="text-ellipsis">{{leadinfo.TypeName}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_Phone">
                <div class="text-ellipsis" data-field="Phone" data-original-value="3295385412" data-original-title=""
                  title="">{{leadinfo.Email}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_OwnerId">
                <div class="text-ellipsis" data-original-title="" title="">{{leadinfo.Tag}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_StatusId">
                <div class="text-ellipsis" data-original-title="" title="">{{leadinfo.Tag1}}</div>
              </div>
            </div>
          </td>
          <td class="jsgrid-cell" style="width:115px;">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CreatedDate">{{leadinfo.CreatedDate}}</div>
            </div>
          </td>
          <td class="jsgrid-cell">
            <div class="jsgrid-cell-content">
              <div data-display-for="27_CampaignId">
                <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">{{leadinfo.CampaignId}}</div>
              </div>
            </div>
          </td>

          <td class="">
            <div class="">
              <div data-display-for="27_HasDeposit">
                <div><i class="ico-sz2 ico-status"></i>{{leadinfo.Desk}}</div>
              </div>
            </div>
          </td>

         
          <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center">
            <div class="dropleft droptop">
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  class="fa fa-link greyicon" aria-hidden="true"></i>
              </a>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i
                  _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" disabled=""></i></a>
              <br>
              <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link"
                title="Open in new tab">&nbsp;&nbsp;<i class="fa fa-ellipsis-h greyicon" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>



      </tbody>
    </table>
  </div> 
</div>
 <!------------------create new user model------------->
<div class="modal" id="regModal">
      <div class="modal-dialog modal930">
        <div class="modal-content">          
          <div class="modal-header" style="height: 4rem;">
            <h1  class="modal-title createitemheader">
              CREATE ITEM
            </h1>
            <button type="button" class="close" data-dismiss="modal" #myModalClose  style="outline:none">×</button>
          </div>          
          <div class="modal-body">            
            <app-item></app-item>
            
            <!-- <div class="register img-fluid">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <form method="post" novalidate="novalidate">
                     <div class="form-group">
                       <div class="radio-tabs">
                         <ul class="nav nav-tabs nav-justified" role="tablist">  
                            <li  class="nav-item active">
                                <a class="nav-link active" data-toggle="tab"  href="#Account">
                                  <div class="input-radio" id="uniform-clientType0"><span class="checked"><input type="radio" name="clientType" id="clientType0"></span></div>
                                  <label for="clientType0">Account</label>
                                </a>
                            </li>
                            <li  class="nav-item">
                                <a class="nav-link " data-toggle="tab"  href="#Lead">
                                  <div class="input-radio" id="uniform-clientType1"><span class=""><input type="radio" name="clientType" id="clientType1"></span></div>
                                  <label for="clientType1">Lead</label>
                                </a>
                            </li>
                          </ul>
                         </div>
                       </div>
                      <div class="items form-horizontal">
                        <div class="row form-group">
                        <div class="tab-content">
                          <div  class="tab-pane container active" id="Account">
                            <div class="items form-horizontal">
               <div class="row form-group">
                  <div class="col-xs-6 col-md-6">
                     <div class="row">
                        <div class="col-xs-3">
                        <label class="valign-label" for="FirstName">
                        <span data-tooltip-el="">First Name</span></label></div>
                        <div class="col-xs-9"><input class="form-control itemformcontrol" name="FirstName" type="text" id="d600d6c8-c1f2-388e-97ba-8aea6698d309" aria-required="true"></div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                     <div class="row">
                        <div class="col-xs-3"><label class="valign-label" for="LastName"><span data-tooltip-el="">Last Name</span></label></div>
                        <div class="col-xs-9"><input class="form-control itemformcontrol" name="LastName" type="text" id="a5c72fea-ee8e-5a3f-e331-efb87fce283a" aria-required="true"></div>
                     </div>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-xs-6 col-md-6">
                     <div class="row">
                        <div class="col-xs-3"><label class="valign-label" for="Email"><span data-tooltip-el="">Email</span></label></div>
                        <div class="col-xs-9"><input class="form-control itemformcontrol" name="Email" type="text" id="fa2ff2d8-f778-4371-ef93-7a7672cdb611" aria-required="true"></div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                     <div class="row">
                        <div class="col-xs-3"><label class="valign-label" for="Phone"><span data-tooltip-el="">Phone</span></label></div>
                        <div class="col-xs-9"><input class="form-control itemformcontrol" name="Phone" type="text" id="60b28dc3-bf23-af47-51fb-d07201e53bf6" aria-required="true"></div>
                     </div>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-xs-6 col-md-6">
                     <div class="row">
                        <div class="col-xs-3"><label class="valign-label" for="Country"><span data-tooltip-el="">Country</span></label></div>
                        <div class="col-xs-9">
                           <div _ngcontent-qpo-c3="" class="input-group">
                           <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol" data-live-search="true" id="lunc" title="Country">
                           <option _ngcontent-qpo-c3="">All</option><option _ngcontent-qpo-c3="">One</option>
                           <option _ngcontent-qpo-c3="">Two</option><option _ngcontent-qpo-c3="">Three</option>
                           </select>
                           
                           
                           </div>
                     
                     </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                     <div class="row" style="display: block;">
                        <div class="col-xs-3 col-md-3"><label class="valign-label" for="Password"><span data-tooltip-el="">Password</span></label></div>
                        <div class="col-xs-9 col-md-9"><input class="form-control itemformcontrol" name="Password" type="text" id="5fdf7377-d1ba-213b-6c76-131a0d5a2041" aria-required="true"></div>
                     </div>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-xs-6 col-md-6">
                     <div class="row">
                        <div class="col-xs-3 col-md-3"><label class="valign-label" for="_sendEmail"><span data-tooltip-el="">_sendEmail</span></label></div>
                        <div class="col-xs-9 col-md-9">
                           <div class="checkbox-inline"><label class="switcher">Yes<span class="checkcontrol"><input class="form-control default-checkbox" name="_sendEmail" type="checkbox" id="cdffa348-3aab-a196-9c70-c8684b38f518" value="true"></span>No</label>&nbsp;</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-md-6">
                     <div class="row" style="display: block;">
                        <div class="col-xs-3 col-md-3"><label class="valign-label" for="GroupId"><span data-tooltip-el="">Group</span></label></div>
                        <div class="col-xs-9 col-md-9">
                           <div _ngcontent-qpo-c3="" class="input-group">
                           <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol" data-live-search="true" id="lun" title="Group">
                           <option _ngcontent-qpo-c3="">All</option><option _ngcontent-qpo-c3="">One</option>
                           <option _ngcontent-qpo-c3="">Two</option><option _ngcontent-qpo-c3="">Three</option>
                           </select>
                           
                                          </div>
            
                           </div>
                     
                     </div>
                  </div>
               </div>
            </div>
                          </div>
                          <div  class="tab-pane container fade" id="Lead">
                            <h3>Menu 1</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                          </div>
                        </div>
                        </div>
            
                   
                      </div>          
                    </form>
                  </div>
                </div>
              </div>
            </div> -->
            
          </div>
        </div>
      </div>
    </div>



 <!--------------End create new user model--------------->
