<div class="steps steps-style01">
    <div class="item active">
       <div class="item-inner">Step 1<strong>Uploading files</strong></div>
    </div>
    <div class="item">
       <div class="item-inner">Step 2<strong>Matching fields</strong></div>
    </div>
    <div class="item">
       <div class="item-inner">Step 3<strong>Importing data</strong></div>
    </div>
 </div>
 <div class="line"></div>
 <!-------------------Browse  File-------------------------->

 <div class="import-modal-content">
    <div class="form-holder">
       <form class="form-horizontal fileupload-processing" id="fileupload">
          <div class="col-xs-10 col-xs-offset-1">
             <div class="form-group">
                <div class="fileupload-control">
                   <div class="dropzone">
                     <i class="fa fa-upload" aria-hidden="true">&nbsp;</i>
                       Drag your document here or
                        <a href="#">Browse Files
                            <input type="file" name="files[]" multiple="multiple" ></a>
                        </div>
                   <div class="files"></div>
                   <div class="fileupload-progress fade">
                      <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                         <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xs-8 col-xs-offset-4 text-center">
             <div class="form-group">Click <a href="#">here</a> for download template</div>
          </div>
       </form>
    </div>
    <div class="col-md-12" style="padding:0!important"> 
        <div class="modal-footer modal-footernew">
           <div class="text-center margin17">
              <a class="button submit-button itembutton" href="javascript:void(0);" data-dismiss="modal"
               >Next</a>
             
           </div>
        </div>
     </div>
</div>

 <!--------------------------------------------------------->