
<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
        <span aria-hidden="true">&times;</span>
    </button>
 </div>










 <div class="col-md-12">
    <div class="modal-footer item-modal-footer">
       <div class="text-center">
          
          <a class="button submit-button itembutton" href="javascript:void(0);"
             >Save</a>
          <a class="button button2 itembutton1" href="javascript:void(0);" data-dismiss="modal" (click) = "hideModal()">Cancel</a>
      
       </div>
    </div>
 </div>