              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 subheader">
                    <div class="container-fluid container-padd">
                     <div class="row">
                        <div class="tools-panel-addon">
                          <div _ngcontent-ubb-c3="" class="jsgrid-items-counter">
                            <span id="chked"> </span>
                              <span _ngcontent-ubb-c3="">{{tradeAccountLength}} items</span></div>
                           <div class="breadcrumbs">
                              <ul>
                                 <li itemscope="">
                                    <span itemprop="title">Clients</span>
                                 </li>
                                 <li itemscope="">
                                    <span itemprop="title">Trade Accounts</span>
                                 </li>
                              </ul>
                           </div>
                       </div>
                     </div>
                  </div>
                     <div class="container-fluid container-padd">
                      <div class="row subhedarpadd">
                        <div _ngcontent-mew-c3="" class="col-md-5 main-tab">
                           <ul _ngcontent-mew-c3="" class="nav nav-pills tablist" role="tablist">
                              <li _ngcontent-mew-c3="" class="nav-item">
                                 <a _ngcontent-mew-c3="" class="nav-link active" data-toggle="pill" href="#">
                                    All</a>
                                 </li>
                              
                           </ul>
                        </div>
                        <div _ngcontent-boj-c6="" class="col-md-7 rightsubopt displayend" [attr.disabled]="deletbtnn ==true ? true : false">
                          <div _ngcontent-boj-c6="" aria-label="Toolbar with button groups" class="btn-toolbar searchbtn" role="toolbar">
                             <div _ngcontent-boj-c6="" aria-label="First group" class="btn-group mr-2" role="group">
                                 <a _ngcontent-boj-c6="" routerlink="" ng-reflect-router-link="" href="javascript:void(0);" (click) = "tradeDetails()">
                                 <i _ngcontent-boj-c6="" class="fa fa-refresh"></i></a></div>
                             <div _ngcontent-boj-c6="" aria-label="Second group" class="btn-group mr-2" role="group">
                                <div _ngcontent-boj-c6="" class="input-group selecticon grpselect">
                                   <select _ngcontent-boj-c6="" class="selectpicker form-control" data-live-search="true" data-live-search-placeholder="All" id="all" title="Please select ">
                                      <option _ngcontent-boj-c6="">All</option>
                                      
                                   </select>
                                   <span _ngcontent-boj-c6="" class="serachicon brdr-right">
                                       <a _ngcontent-boj-c6="" class="" href="#">
                                       <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-plus bg-primary1 fa-lg" style="color: white;"></i></a></span><span _ngcontent-boj-c6="" class="serachicon">
                                       <a _ngcontent-boj-c6="" href="javascript:void(0);" class="disabled-button">
                                           <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-pencil bg-primary1 fa-lg"></i></a></span>
                                </div>
                             </div>
                             <div _ngcontent-boj-c6="" aria-label="Third group" class="btn-group mr-2 serachicon " role="group">
                                     <a _ngcontent-boj-c6="" class="brdr-right" href="javascript:void(0);" [class.disabled] = deletbtnn>
                                         <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-pencil bg-primary1 fa-lg" disabled=""></i>
                                        </a><a _ngcontent-boj-c6=""  href="javascript:void(0);"  [class.disabled] = deletbtnn >
                                            <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-trash bg-primary1 fa-lg" disabled="" (click)="deleteClient(Id)" ></i>
                                        </a></div>
                             
                          </div>
                       </div>
                     </div>
                     
                  </div>
         
                 </div>
                    
                </div>
  
  
<div class="main-holder1">
    <div class="content">
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="all" class="container-fluid tab-pane active">
        <div _ngcontent-jgg-c8="" class="email-grid-header email-header-scrollbar">
      <table class="email-table table-striped ">
        <thead>
          <tr class="email-header-row">
            <th class="" >
                <div class="email-cell-content">
                    <div class=""><span class=""><input type="checkbox" id="ckbCheckAll"></span></div>
                </div>
            </th>
           
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"  title="TP Account"><span tooltip="TP Account">TP Account</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"  title="Account ID"><span tooltip="Account ID">Account ID</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title=""  title="First Name"><span tooltip="First Name">First Name</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title=""  title="Last Name"><span tooltip="Last Name">Last Name</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>Email</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title="" title=""><span>Group</span></div>
                </div>
            </th>
            
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"  title="Leverage"><span tooltip="Leverage">Leverage</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"  title="Stop Out"><span tooltip="Stop Out">Stop Out</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"  title="Min Deposit"><span tooltip="Min Deposit">Min Deposit</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"  title="Allow Trade"><span tooltip="Allow Trade">Allow Trade</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title=""  title="Registration Date"><span tooltip="Registration Date">Registration Date</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title=""  title="Close Profit and Loss"><span tooltip="Close Profit and Loss">Close Profit and Loss</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>IsOnline</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>Balance</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>Equity</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>Volume</span></div>
                </div>
            </th>
            <th _ngcontent-qwb-c3="" class="email-header-cell email-control-field email-align-center">
                <div _ngcontent-qwb-c3="" _ngcontent-bog-c3="" class="nospace">
                    <i _ngcontent-qwb-c3="" _ngcontent-bog-c3="" class="fa fa-sort-asc"></i>
                    <br _ngcontent-qwb-c3="" _ngcontent-bog-c3=""><i _ngcontent-qwb-c3="" _ngcontent-bog-c3="" class="fa fa-sort-desc"></i></div>
            </th>
        </tr>
        </thead>
    </table>
</div>
<div _ngcontent-jgg-c8="" class="jsgrid-grid-body">
    <table _ngcontent-jgg-c8="" _ngcontent-bdo-c4="" class="email-table table-striped" id="JColResizer0 ">
     
        <tbody>
          <!-- <tr class="filterrow ">
            <td class="" style="width: 20px;">
              <div class=""><span>x</span></div>
              
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
           <td>
            <i _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search tablesearch"></i>
           </td>
        </tr> -->
        <tr class="tablectn" *ngFor="let item of fetchTradeDetails,let group of Group">
          <td class="email-cell" >
              <div class="email-cell-content">
                  <div class="input-checkbox"><span>
                    <input type="checkbox" data-item-selector="true" class="tablecheckbox checkBoxClass" (change)="deletbtn($event.target.checked,item.Id)" onclick="checkboxcheck()"></span>
                </div>
                    <!--  <span><i  class="fa fa-star" title="Clear filter"></i></span> -->
              </div>
          </td>
         
          <td class="email-cell" >
              <div class="email-cell-content">
                  <div class="text-ellipsis" data-original-title="" title="" (click)="movetoTradeaccountInfo(item.Id)">
                    <a href="javascript:void(0);">{{item?.TPAccountNumber}}
                      <span></span></a></div>
              </div>
          </td>
          <td class="email-cell" >
              <div class="email-cell-content">
                  <div data-display-for="27_FirstName">
                      <div class="text-ellipsis" data-field="FirstName" data-original-value="MASSIMO" data-original-title="" title="" tooltip="AC456" (click)="moveToInfoPage(item.Id)">
                          <a href="javascript:void(0);">{{item?.AccountId}}</a>
                        </div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_LastName">
                      <div class="text-ellipsis" data-field="LastName" data-original-value="ZIZZA" tooltip="{{item.FirstName}}">{{item?.FirstName}}</div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_Country">
                      <div class="text-ellipsis" tooltip="{{item?.LastName}}">{{item?.LastName}}</div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_Email">
                      <div class="text-ellipsis" data-original-title="" title="" tooltip="{{item.Email}}"><a href="mailto:{{item?.Email}}"><span>{{item?.Email}}</span></a></div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_Type">
                      <a href="javascript:void(0);"><div class="text-ellipsis" tooltip="{{item.GroupName}}" (click)="getGeneralInfo(group.GroupId)" >{{item?.GroupName}}</div></a>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_Phone">
                      <div class="text-ellipsis" data-field="Phone" data-original-value="3295385412" data-original-title="" title="">{{item?.LeverageName}}</div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_OwnerId">
                      <div class="text-ellipsis" data-original-title="" title="">{{item?.StopOut}}</div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_StatusId">
                      <div class="text-ellipsis" data-original-title="" title="">{{item?.MinDeposit}}</div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" style="width:115px;">
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_CreatedDate">
                    <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true"
                    [ngStyle]="{'color': item.AllowTrade ? 'green':'grey' }"></i>
                  </div>
              </div>
          </td>
 
          
          <td class="jsgrid-cell" >
            <div class="jsgrid-email-cell-content">
                <div data-display-for="27_CampaignId">
                    <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">{{item?.FirstRegistrationDate}}</div>
                </div>
            </div>
        </td>
        <td class="jsgrid-cell" >
            <div class="jsgrid-email-cell-content">
                <div data-display-for="27_CampaignId">
                    <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">{{item?.CloseLoss}}</div>
                </div>
            </div>
        </td>     
        
          <td class="" >
              <div class="">
                  <div data-display-for="27_DeskId">
                      <div class="text-ellipsis">
                        <i class="fa fa-check-circle" style="font-size:17px" aria-hidden="true"
                        [ngStyle]="{'color': item.AllowTrade ? 'green':'grey' }"></i>
                      </div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" >
            <div class="jsgrid-email-cell-content">
                <div data-display-for="27_CampaignId">
                    <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">{{item?.Balance}}</div>
                </div>
            </div>
        </td>     
        <td class="jsgrid-cell" >
            <div class="jsgrid-email-cell-content">
                <div data-display-for="27_CampaignId">
                    <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">{{item?.Equity}}</div>
                </div>
            </div>
        </td>     
        <td class="jsgrid-cell" >
            <div class="jsgrid-email-cell-content">
                <div data-display-for="27_CampaignId">
                    <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff">{{item?.Volume}}</div>
                </div>
            </div>
        </td>     
          <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" >
              <div class="dropleft droptop hidetrade">
                <a href="#" class="ico-sz3 ico-link dh" data-jsgrid-rule="link" (click)="movetoTradeaccountInfo(item.Id)"><i class="fa fa-link greyicon" aria-hidden="true"></i>
                </a>
                <!-- <a href="#" class="ico-sz3 ico-link dh"  id="tradepencil">
                    <i _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" ></i>
                </a> -->
                <span  id="tradepencil">
                    <i _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" ></i>
                </span>
                  <br>
                <a href="javascript:void(0);"  class="ico-sz3 ico-link dh"  data-jsgrid-rule="link" title="Open in new tab"  (click)="liveTrade(item.Id)">&nbsp;&nbsp;<i class="fa fa-window-maximize greyicon" aria-hidden="true"></i>
                </a>
                <!-- data-toggle="modal" data-target="#livedetail" -->
                <!-- , item.Id -->
                <!-- (click)="liveTrade('/livetrade', item.Id )" -->
                <!-- target="_blank" -->
                </div>
                <div _ngcontent-epc-c9="" class="dropleft droptop showtrade">
                    <input _ngcontent-epc-c9="" class="jsgrid-button jsgrid-update-button" title="Update" type="button">
                    <input _ngcontent-epc-c9="" class="jsgrid-button jsgrid-cancel-edit-button" title="Cancel edit" type="button">
                </div>
          </td>
      </tr>
   <!----------editing-------------->
   <tr class="jsgrid-edit-row" >
    <td class="jsgrid-cell jsgrid-align-center" style="width: 15px;">
       <form>
          <div class="jsgrid-cell-content"></div>
       </form>
    </td>
    <td class="jsgrid-cell" >
       <form>
          <div class="jsgrid-cell-content">
             <div class="text-ellipsis"><a href="#"><span></span></a></div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell" >
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_AccountId">
                <div class="text-ellipsis" data-original-title="" title="">
                    <a href="#"><span></span></a></div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell" >
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_FirstName">
                <div class="text-ellipsis" data-field="FirstName" data-original-value="Linus"></div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell" >
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_LastName">
                <div class="text-ellipsis" data-field="LastName" data-original-value="Test"></div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell" >
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_Email">
                <div class="text-ellipsis" data-field="Email"  data-original-title="" title=""></div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell jsgrid-align-left" >
       <form novalidate="novalidate">
          <div class="jsgrid-cell-content">
             <div class="">
       
                <select class="form-control" name="GroupId" data-container="body" data-live-search="true" id="a88630551-3a0a-4948-a2fe-66058443332d" data-empty-checker="true" tabindex="-98" aria-required="true">
                   <option value="42" data-currency="2" data-is-demo="false" data-is-bundle="">TradePro Markets Limited EUR</option>
                </select>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell jsgrid-align-left">
       <form novalidate="novalidate">
          <div class="jsgrid-cell-content">
             <div >
                
                <select class="form-control" name="Leverage" data-container="body" data-live-search="true" id="aaa3a2206-4cb4-f515-6c85-3402ff1fd6f5" data-empty-checker="true" tabindex="-98" aria-required="true">
                   <option value="">Select...</option>
                   <option value="1">1:1</option>
                   <option value="5">1:5</option>
                   <option value="10">1:10</option>
                   <option value="33">1:33</option>
                   <option value="100">1:100</option>
                   <option value="200">1:200</option>
                   <option value="500">1:500</option>
                   <option value="1000">1:1000</option>
                </select>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell">
       <form novalidate="novalidate">
          <div class="jsgrid-cell-content"><input class="form-control" name="StopOut" type="text" id="a472e0df9-c5d5-94c8-9a62-f032eec04890" aria-required="true"></div>
       </form>
    </td>
    <td class="jsgrid-cell" >
       <form novalidate="novalidate">
          <div class="jsgrid-cell-content"><input class="form-control" name="MinDeposit" type="text" id="a00006b1f-a8a0-aeaf-629b-7b2afc3b8444" aria-required="true"></div>
       </form>
    </td>
    <td class="jsgrid-cell jsgrid-align-center">
       <form novalidate="novalidate">
          <div class="jsgrid-cell-content">
             <div class="input-checkbox" id="uniform-a41d50741-2c39-eb58-18b5-eef7dbf0c051">
                 <span class="checked">
                     <input class="form-control" name="AllowTrade" type="checkbox" id="a41d50741-2c39-eb58-18b5-eef7dbf0c051" value="true"></span></div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell">
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_RegistrationDate"></div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell">
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_CloseProfitAndLoss">
                <div class="text-ellipsis color09" data-field="CloseProfitAndLoss" data-original-value="8.69662955" data-isformatted="true"></div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell jsgrid-align-center" style="width: 73px;">
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_IsOnline">
                <div><i class="ico-sz2 ico-status"></i></div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell" style="width: 73px;">
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_Balance">
                <div class="text-ellipsis" data-field="Balance" data-original-value="1008.69662955" data-isformatted="true">1008.70</div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell" style="width: 73px;">
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_Equity">
                <div class="text-ellipsis" data-field="Equity" data-original-value="810.92979553" data-isformatted="true">810.93</div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell" style="width: 73px;">
       <form>
          <div class="jsgrid-cell-content">
             <div data-display-for="9_Volume">
                <div class="text-ellipsis" data-field="Volume" data-original-value="32620.9274294" data-isformatted="true" data-original-title="" title="">32620.93</div>
             </div>
          </div>
       </form>
    </td>
    <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 73px;">
       <form><input class="jsgrid-button jsgrid-update-button" type="button" title="Update"><input class="jsgrid-button jsgrid-cancel-edit-button" type="button" title="Cancel edit"></form>
    </td>
 </tr>
    <!----------------------------->
        </tbody>
      </table>
    </div>
</div>
  </div>
  </div>
  </div>
  <!------------------create Import Client model------------->
<div class="modal " id="livedetail" >
    <div class="modal-dialog modal-lg1">
      <div class="modal-content">
        <div class="modal-header" style="height: 4rem;">
          <h1 class="modal-title popupheader">
            IMPORT CLIENT
          </h1>
          <button type="button" class="close" data-dismiss="modal" #myModalClose style="outline:none">×</button>
        </div>
        <div class="modal-body nopadd">
          <app-live-detail></app-live-detail>
  
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!--------------End create Import Client model--------------->
  <ng4-loading-spinner> </ng4-loading-spinner>