<!-- {{tradeAccountLength}} items
<div class="container-fluid ">
    <div class="row fist1">
        <div class="col-md-12 sub-header">
           
            <div class="row container-padd">
                    <div class="col-md-6 main-tab">
                      <ul class="nav nav-pills tablist" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="pill" href="#all">All</a>
                        </li>
                        
                      </ul>
                        
                        </div>
                        
                        <div class="col-md-6" [attr.disabled]="deletbtnn ==true ? true : false">
                          <a href="javascript:void(0);" (click) = "tradeDetails()"><i class="fa fa-refresh"></i></a>
                          <a href="javascript:void(0);">
                            <select class="browser-default custom-select" style="width:43%;">
                              <option selected>All</option>
                            </select>
                            <i class="fa fa-plus bg-primary fa-lg" aria-hidden="true" style="color: white;"></i></a>
                          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true" style="padding-right:10px;margin-right:10px"></i>
                          <i class="fa fa-" aria-hidden="true"></i>
                          <a routerLink=""><i class="fa fa-user bg-primary fa-lg" aria-hidden="true" style="color: white"></i></a>
                          <a href="javascript:void(0);" class="brdr-right" [class.disabled] = deletbtnn>
                          <i class="fa fa-pencil bg-primary fa-lg" disabled aria-hidden="true"></i>
                        </a>
                          <a href="javascript:void(0);" class="brdr-right" [class.disabled] = deletbtnn>
                          <i class="fa fa-trash bg-primary fa-lg" disabled aria-hidden="true" (click)="deleteClient(Id)"></i>
                        </a>
                          <i class="fa fa-ellipsis-h" aria-hidden="true" style="padding-left: 12px;"></i>

                        </div>
                      
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 subheader">
                    <div class="container-fluid container-padd">
                     <div class="row">
                        <div class="tools-panel-addon">
                          <div _ngcontent-ubb-c3="" class="jsgrid-items-counter"><span _ngcontent-ubb-c3="">{{tradeAccountLength}} item</span></div>
                           <div class="breadcrumbs">
                              <ul>
                                 <li itemscope="">
                                    <span itemprop="title">Clients</span>
                                 </li>
                                 <li itemscope="">
                                    <span itemprop="title">Trade Accounts</span>
                                 </li>
                              </ul>
                           </div>
                       </div>
                     </div>
                  </div>
                     <div class="container-fluid container-padd">
                      <div class="row subhedarpadd">
                        <div _ngcontent-mew-c3="" class="col-md-5 main-tab">
                           <ul _ngcontent-mew-c3="" class="nav nav-pills tablist" role="tablist">
                              <li _ngcontent-mew-c3="" class="nav-item">
                                 <a _ngcontent-mew-c3="" class="nav-link active" data-toggle="pill" href="#">
                                    All</a>
                                 </li>
                              
                           </ul>
                        </div>
                        <div _ngcontent-boj-c6="" class="col-md-7 rightsubopt displayend" [attr.disabled]="deletbtnn ==true ? true : false">
                          <div _ngcontent-boj-c6="" aria-label="Toolbar with button groups" class="btn-toolbar searchbtn" role="toolbar">
                             <div _ngcontent-boj-c6="" aria-label="First group" class="btn-group mr-2" role="group">
                                 <a _ngcontent-boj-c6="" routerlink="" ng-reflect-router-link="" href="javascript:void(0);" (click) = "tradeDetails()">
                                 <i _ngcontent-boj-c6="" class="fa fa-refresh"></i></a></div>
                             <div _ngcontent-boj-c6="" aria-label="Second group" class="btn-group mr-2" role="group">
                                <div _ngcontent-boj-c6="" class="input-group selecticon grpselect">
                                   <select _ngcontent-boj-c6="" class="selectpicker form-control" data-live-search="true" data-live-search-placeholder="All" id="all" title="Please select ">
                                      <option _ngcontent-boj-c6="">All</option>
                                      
                                   </select>
                                   <span _ngcontent-boj-c6="" class="serachicon brdr-right">
                                       <a _ngcontent-boj-c6="" class="" href="#">
                                       <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-plus bg-primary1 fa-lg" style="color: white;"></i></a></span><span _ngcontent-boj-c6="" class="serachicon">
                                       <a _ngcontent-boj-c6="" href="#">
                                           <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-pencil bg-primary1 fa-lg"></i></a></span>
                                </div>
                             </div>
                             <div _ngcontent-boj-c6="" aria-label="Third group" class="btn-group mr-2 serachicon " role="group">
                                 <!-- <a _ngcontent-boj-c6="" class="brdr-right" data-target="#createitem" data-toggle="modal" href="#">
                                     <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-user-plus bg-primary1 fa-lg" style="color: white"></i></a> -->
                                     <a _ngcontent-boj-c6="" class="brdr-right" href="javascript:void(0);" [class.disabled] = deletbtnn>
                                         <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-pencil bg-primary1 fa-lg" disabled=""></i>
                                        </a><a _ngcontent-boj-c6="" href="javascript:void(0);" [class.disabled] = deletbtnn>
                                            <i _ngcontent-boj-c6="" aria-hidden="true" class="fa fa-trash bg-primary1 fa-lg" disabled="" (click)="deleteClient(Id)"></i>
                                        </a></div>
                             
                          </div>
                       </div>
                     </div>
                     
                  </div>
         
                 </div>
                    
                </div>
  
  
<div class="main-holder1">
    <div class="content">
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="all" class="container-fluid tab-pane active">
      <table class="email-table table-striped ">
        <thead>
          <tr class="email-header-row">
            <th class="" >
                <div class="email-cell-content">
                    <div class=""><span class=""><input type="checkbox"></span></div>
                </div>
            </th>
           
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-toggle="tooltip" title="TP Account"><span>TP Account</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-toggle="tooltip" title="Account ID"><span>Account ID</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title="" data-toggle="tooltip" title="First Name"><span>First Name</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title="" data-toggle="tooltip" title="Last Name"><span>Last Name</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>Email</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title="" title=""><span>Group</span></div>
                </div>
            </th>
            
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-toggle="tooltip" title="Leverage"><span>Leverage</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-toggle="tooltip" title="Stop Out"><span>Stop Out</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-toggle="tooltip" title="Min Deposit"><span>Min Deposit</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-toggle="tooltip" title="Allow Trade"><span>Allow Trade</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title="" data-toggle="tooltip" title="Registration Date"><span>Registration Date</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis" data-original-title="" data-toggle="tooltip" title="Close Profit and Loss"><span>Close Profit and Loss</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>IsOnline</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>Balance</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>Equity</span></div>
                </div>
            </th>
            <th class="email-header-cell email-header-sortable email-header-sort email-header-sort-asc" >
                <div class="email-cell-content">
                    <div class="text-ellipsis"><span>Volume</span></div>
                </div>
            </th>
            <th _ngcontent-qwb-c3="" class="email-header-cell email-control-field email-align-center">
                <div _ngcontent-qwb-c3="" _ngcontent-bog-c3="" class="nospace">
                    <i _ngcontent-qwb-c3="" _ngcontent-bog-c3="" class="fa fa-sort-asc"></i>
                    <br _ngcontent-qwb-c3="" _ngcontent-bog-c3=""><i _ngcontent-qwb-c3="" _ngcontent-bog-c3="" class="fa fa-sort-desc"></i></div>
            </th>
        </tr>
        </thead>
        
        <tbody>
          <tr class="filterrow ">
            <td class="" style="width: 20px;">
              <div class=""><span>x</span></div>
              <!-- <i class="fa fa-star" title="Clear filter"></i> -->
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
          <td class="" >
            <select  class="browser-default custom-select1">
              <option _ngcontent-pxh-c1="" selected="">All</option>
              <option _ngcontent-pxh-c1="" value="1" ng-reflect-value="1">One</option>
              <option _ngcontent-pxh-c1="" value="2" ng-reflect-value="2">Two</option>
              <option _ngcontent-pxh-c1="" value="3" ng-reflect-value="3">Three</option></select>
          </td>
           <td>
            <i _ngcontent-rqa-c2="" aria-hidden="true" class="fa fa-search tablesearch"></i>
           </td>
        </tr>
        <tr class="tablectn" *ngFor="let item of fetchTradeDetails,let group of Group">
          <td class="email-cell" >
              <div class="email-cell-content">
                  <div class="input-checkbox"><span>
                    <input type="checkbox" data-item-selector="true" class="tablecheckbox" (change)="deletbtn($event.target.checked,item.Id)"></span>
                </div>
                    <!--  <span><i  class="fa fa-star" title="Clear filter"></i></span> -->
              </div>
          </td>
         
          <td class="email-cell" >
              <div class="email-cell-content">
                  <div class="text-ellipsis" data-original-title="" title="">
                    <a href="">
                      <span></span></a></div>
              </div>
          </td>
          <td class="email-cell" >
              <div class="email-cell-content">
                  <div data-display-for="27_FirstName">
                      <div class="text-ellipsis" data-field="FirstName" data-original-value="MASSIMO" data-original-title="" title="" tooltip="AC456" (click)="moveToInfoPage(item.Id)"><a href="javascript:void(0);">AC456</a></div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_LastName">
                      <div class="text-ellipsis" data-field="LastName" data-original-value="ZIZZA" tooltip="{{item.FirstName}}">{{item.FirstName}}</div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_Country">
                      <div class="text-ellipsis" tooltip="{{item.LastName}}">{{item.LastName}}</div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_Email">
                      <div class="text-ellipsis" data-original-title="" title="" tooltip="{{item.Email}}"><a href="mailto:{{item.Email}}"><span>{{item.Email}}</span></a></div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left">
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_Type">
                      <a href="javascript:void(0);"><div class="text-ellipsis" tooltip="{{item.GroupName}}" (click)="getGeneralInfo(group.GroupId)" >{{item.GroupName}}</div></a>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_Phone">
                      <div class="text-ellipsis" data-field="Phone" data-original-value="3295385412" data-original-title="" title=""></div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_OwnerId">
                      <div class="text-ellipsis" data-original-title="" title=""></div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell jsgrid-align-left" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_StatusId">
                      <div class="text-ellipsis" data-original-title="" title=""></div>
                  </div>
              </div>
          </td>
          <td class="jsgrid-cell" style="width:115px;">
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_CreatedDate"></div>
              </div>
          </td>
          <td class="jsgrid-cell" >
              <div class="jsgrid-email-cell-content">
                  <div data-display-for="27_CampaignId">
                      <div class="text-ellipsis" data-field="CampaignId" data-original-value="silver.aff"></div>
                  </div>
              </div>
          </td>
          
          <td class="" >
              <div class="">
                  <div data-display-for="27_HasDeposit">
                      <div><i class="ico-sz2 ico-status"></i></div>
                  </div>
              </div>
          </td>
        
          <td class="" >
              <div class="">
                  <div data-display-for="27_DeskId">
                      <div class="text-ellipsis"></div>
                  </div>
              </div>
          </td>
          <td class="" >
            <div class="">
                <div data-display-for="27_DeskId">
                    <div class="text-ellipsis"></div>
                </div>
            </div>
        </td>
        <td class="" >
          <div class="">
              <div data-display-for="27_DeskId">
                  <div class="text-ellipsis"></div>
              </div>
          </div>
      </td>
      <td class="" >
        <div class="">
            <div data-display-for="27_DeskId">
                <div class="text-ellipsis"></div>
            </div>
        </div>
    </td>
          <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" >
              <div class="dropleft droptop">
                <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i class="fa fa-link greyicon" aria-hidden="true"></i>
                </a>
                <a href="#" class="ico-sz3 ico-link dh" target="_blank" data-jsgrid-rule="link" title="Open in new tab"><i _ngcontent-ktw-c1="" aria-hidden="true" class="fa fa-pencil greyicon" disabled=""></i></a>
                  <br>
                <a href="javascript:void(0);"  class="ico-sz3 ico-link dh"  data-jsgrid-rule="link" title="Open in new tab"  (click)="liveTrade(item.Id)">&nbsp;&nbsp;<i class="fa fa-window-maximize greyicon" aria-hidden="true"></i>
                </a>
                <!-- data-toggle="modal" data-target="#livedetail" -->
                <!-- , item.Id -->
                <!-- (click)="liveTrade('/livetrade', item.Id )" -->
                <!-- target="_blank" -->
                </div>
          </td>
      </tr>
   
       
          
        </tbody>
      </table>
    </div>
    
  </div>
  </div>
  </div>
  <!------------------create Import Client model------------->
<div class="modal " id="livedetail" >
    <div class="modal-dialog modal-lg1">
      <div class="modal-content">
        <div class="modal-header" style="height: 4rem;">
          <h1 class="modal-title popupheader">
            IMPORT CLIENT
          </h1>
          <button type="button" class="close" data-dismiss="modal" #myModalClose style="outline:none">×</button>
        </div>
        <div class="modal-body nopadd">
          <app-live-detail></app-live-detail>
  
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!--------------End create Import Client model--------------->
  <ng4-loading-spinner> </ng4-loading-spinner>