<div class="register img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="post" novalidate="novalidate">
         <div class="form-group">
           <div class="radio-tabs">
             <ul class="nav nav-tabs nav-justified" role="tablist">  
                <li  class="nav-item active">
                    <a class="nav-link active" data-toggle="tab"  href="#Account">
                      <div class="input-radio" id="uniform-clientType0"><span class="checked"><input type="radio" name="clientType" id="clientType0"></span></div>
                      <label for="clientType0">Account</label>
                    </a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link active" data-toggle="tab"  href="#Lead">
                      <div class="input-radio" id="uniform-clientType1"><span class=""><input type="radio" name="clientType" id="clientType1"></span></div>
                      <label for="clientType1">Lead</label>
                    </a>
                </li>
              </ul>
             </div>
           </div>
          <div class="items form-horizontal">
            <div class="row form-group">
            <div class="tab-content">
              <div  class="tab-pane container active" id="Account">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div  class="tab-pane container fade" id="Lead">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            </div>

       
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>
