<div class="register img-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="post" novalidate="novalidate">
         <div class="form-group">
           <div class="radio-tabs">
             <ul class="nav nav-tabs nav-justified" role="tablist">  
                <li  class="nav-item active">
                    <a class="nav-link active" data-toggle="tab"  href="#Account">
                      <div class="input-radio" id="uniform-clientType0"><span class="checked">
                      <input type="radio" name="clientType" id="clientType0" class="itemradio"></span></div>
                      <label for="clientType0">Account</label>
                    </a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link " data-toggle="tab"  href="#Lead">
                      <div class="input-radio" id="uniform-clientType1"><span class="">
                      <input type="radio" name="clientType" id="clientType1" class="itemradio"></span></div>
                      <label for="clientType1">Lead</label>
                    </a>
                </li>
              </ul>
             </div>
           </div>
          <div class="items form-horizontal">
            <div class="row form-group">
            <div class="tab-content itemtabcontent" style="width:100%;">
              <div  class="tab-pane container active" id="Account">
                <div class="items form-horizontal">
   <div class="row form-group">
      <div class="col-xs-6 col-md-6">
         <div class="row">
            <div class="col-xs-3 col-md-3">
            <label class="valign-label" for="FirstName">
            <span data-tooltip-el="">First Name</span></label></div>
            <div class="col-xs-9 col-md-9">
            <input class="form-control itemformcontrol" name="FirstName" type="text"  aria-required="true"></div>
         </div>
      </div>
      <div class="col-xs-6 col-md-6">
         <div class="row">
            <div class="col-xs-3 col-md-3"><label class="valign-label" for="LastName"><span data-tooltip-el="">Last Name</span></label></div>
            <div class="col-xs-9 col-md-9">
            <input class="form-control itemformcontrol" name="LastName" type="text"  aria-required="true"></div>
         </div>
      </div>
   </div>
   <div class="row form-group">
      <div class="col-xs-6 col-md-6">
         <div class="row">
            <div class="col-xs-3 col-md-3"><label class="valign-label" for="Email"><span data-tooltip-el="">Email</span></label></div>
            <div class="col-xs-9 col-md-9"><input class="form-control itemformcontrol" name="Email" type="text"  aria-required="true"></div>
         </div>
      </div>
      <div class="col-xs-6 col-md-6">
         <div class="row">
            <div class="col-xs-3 col-md-3"><label class="valign-label" for="Phone"><span data-tooltip-el="">Phone</span></label></div>
            <div class="col-xs-9 col-md-9"><input class="form-control itemformcontrol" name="Phone" type="text" id="60b28dc3-bf23-af47-51fb-d07201e53bf6" aria-required="true"></div>
         </div>
      </div>
   </div>
   <div class="row form-group">
      <div class="col-xs-6 col-md-6">
         <div class="row">
            <div class="col-xs-3 col-md-3"><label class="valign-label" for="Country"><span data-tooltip-el="">Country</span></label></div>
            <div class="col-xs-9 col-md-9">
               <div _ngcontent-qpo-c3="" class="input-group">
               <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol" data-live-search="true" id="lunch" title="Please select a lunch ...">
               <option _ngcontent-qpo-c3="">All</option><option _ngcontent-qpo-c3="">One</option>
               <option _ngcontent-qpo-c3="">Two</option><option _ngcontent-qpo-c3="">Three</option>
               </select>
               
               
               </div>
         
         </div>
         </div>
      </div>
      <div class="col-xs-6 col-md-6">
         <div class="row" style="display: block;">
            <div class="col-xs-3 col-md-3"><label class="valign-label" for="Password"><span data-tooltip-el="">Password</span></label></div>
            <div class="col-xs-9 col-md-9"><input class="form-control itemformcontrol" name="Password" type="text" id="5fdf7377-d1ba-213b-6c76-131a0d5a2041" aria-required="true"></div>
         </div>
      </div>
   </div>
   <div class="row form-group">
      <div class="col-xs-6 col-md-6">
         <div class="row">
            <div class="col-xs-3 col-md-3"><label class="valign-label" for="_sendEmail"><span data-tooltip-el="">_sendEmail</span></label></div>
            <div class="col-xs-9 col-md-9">
               <div class="checkbox-inline"><label class="switcher">Yes<span class="checkcontrol"><input class="form-control default-checkbox" name="_sendEmail" type="checkbox" id="cdffa348-3aab-a196-9c70-c8684b38f518" value="true"></span>No</label>&nbsp;</div>
            </div>
         </div>
      </div>
      <div class="col-xs-6 col-md-6">
         <div class="row" style="display: block;">
            <div class="col-xs-3 col-md-3"><label class="valign-label" for="GroupId"><span data-tooltip-el="">Group</span></label></div>
            <div class="col-xs-9 col-md-9">
               <div _ngcontent-qpo-c3="" class="input-group">
               <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol" data-live-search="true" id="lunch" title="Please select a lunch ...">
               <option _ngcontent-qpo-c3="">All</option><option _ngcontent-qpo-c3="">One</option>
               <option _ngcontent-qpo-c3="">Two</option><option _ngcontent-qpo-c3="">Three</option>
               </select>
               
                              </div>

               </div>
         
         </div>
      </div>
   </div>
</div>
              </div>
              <div  class="tab-pane container fade" id="Lead">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            </div>

       
          </div>          
        </form>
      </div>
    </div>
  </div>
</div>
