<!-- <div class="container-content">


  <nav class="navbar navbar-expand-md navbar-light bg-primary btco-hover-menu">
    <a class="navbar-brand img-fluid" routerLink="#"><img src="assets/images/logo.png" alt="SwissFX" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-users" aria-hidden="true"></i>
            Clients
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="clients"><i class="fa fa-user-circle" aria-hidden="true"></i>
                Clients</a></li>
            <li><a class="dropdown-item" routerLink="/clients/tradeaccounts"><i class="fa fa-bar-chart"
                  aria-hidden="true"></i>
                Trade Accounts</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            Activities
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/activities/monetarytransactions"><i class="fa fa-money"
                  aria-hidden="true"></i>
                Monetary Transactions</a></li>
            <li><a class="dropdown-item" routerLink="/activities/tasks"><i class="fa fa-tasks" aria-hidden="true"></i>
                Tasks</a></li>
            <li><a class="dropdown-item" routerLink="/activities/cases"><i class="fa fa-suitcase"
                  aria-hidden="true"></i>
                cases</a></li>
            <li><a class="dropdown-item" routerLink="/activities/documents"><i class="fa fa-file"
                  aria-hidden="true"></i>
                Documents</a></li>
            <li><a class="dropdown-item" routerLink="/activities/openedorders"><i class="fa fa-envelope-open"
                  aria-hidden="true"></i>
                Opened Orders</a></li>
            <li><a class="dropdown-item" routerLink="/activities/closedorders"><i class="fa fa-times-circle"
                  aria-hidden="true"></i>
                Closed Orders</a></li>
            <li><a class="dropdown-item" routerLink="/activities/pendingorders"><i class="fa fa-folder-open"
                  aria-hidden="true"></i>
                Pending Orders</a></li>
            <li><a class="dropdown-item" routerLink="/activities/rejectedtransactions"><i class="fa fa-money"
                  aria-hidden="true"></i>Rejected Transaction</a></li>
            <li><a class="dropdown-item" routerLink="/activities/commonjournal"><i class="fa fa-file-text-o"
                  aria-hidden="true"></i>Common Journal</a></li>


          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/reports/dashboard"><i class="fa fa-calendar"
                  aria-hidden="true"></i>
                Dashboard</a></li>
            <li><a class="dropdown-item" routerLink="/reports/exposure"><i class="fa fa-exclamation-circle"
                  aria-hidden="true"></i>
                Exposure</a></li>
            <li><a class="dropdown-item" routerLink="/reports/leaderboard"><i class="fa fa-trophy"
                  aria-hidden="true"></i>
                Leader Board</a></li>
            <li><a class="dropdown-item" routerLink="/reports/report"><i class="fa fa-calendar"
                  aria-hidden="true"></i>Reports</a></li>
            <li><a class="dropdown-item" routerLink="/reports/tradingjournals"><i class="fa fa-file-text-o"
                  aria-hidden="true"></i>
                Trading Journals</a></li>
            <li><a class="dropdown-item" routerLink="/reports/benchmark"><i class="fa fa-exclamation-circle"
                  aria-hidden="true"></i>Reports Benchmark</a></li>


          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i>Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item dropdown-toggle" routerLink="#"><i class="fa fa-user" aria-hidden="true"></i>
                Users</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/settings/crmusers"><i class="fa fa-user"
                      aria-hidden="true"></i>
                    Crm Users</a></li>
                <li><a class="dropdown-item" routerLink="/settings/affilateusers"><i class="fa fa-users"
                      aria-hidden="true"></i>
                    Affilate Users</a></li>




              </ul>
            </li>
            <li><a class="dropdown-item" routerLink="/settings/emailtemplates"><i class="fa fa-envelope"
                  aria-hidden="true"></i>
                Email Templates</a></li>
            <li><a class="dropdown-item" routerLink="/settings/sendersettings"><i class="fa fa-envelope"
                  aria-hidden="true"></i>
                Sender Setings</a></li>
            <li><a class="dropdown-item" routerLink="/settings/groups"><i class="fa fa-stack-exchange"
                  aria-hidden="true"></i>
                Groups</a></li>
            <li><a class="dropdown-item" routerLink="/settings/instruments"><i class="fa fa-wrench"
                  aria-hidden="true"></i>
                Instruments</a></li>
            <li><a class="dropdown-item dropdown-toggle" routerLink="#"><i class="fa fa-tasks"
                  aria-hidden="true"></i>Fields</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/settings/additionalfields"><i class="fa fa-stack-exchange"
                      aria-hidden="true"></i>Additional Fields</a></li>
                <li><a class="dropdown-item" routerLink="/settings/modulefields"><i class="fa fa-stack-exchange"
                      aria-hidden="true"></i>Module Fields</a></li>




              </ul>
            </li>
            <li><a class="dropdown-item dropdown-toggle" routerLink="#"><i class="fa fa-wrench" aria-hidden="true"></i>
                Configurations</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/settings/iplist"><i class="fa fa-globe"
                      aria-hidden="true"></i>
                    Ip White List</a></li>
                <li><a class="dropdown-item" routerLink="/settings/tradinghours"><i class="fa fa-clock-o"
                      aria-hidden="true"></i>
                    Trading Hours</a></li>
                <li><a class="dropdown-item" routerLink="/settings/workflows"><i class="fa fa-cog"
                      aria-hidden="true"></i>
                    Workflows</a></li>




              </ul>
            </li>
            <li><a class="dropdown-item" routerLink="/settings/translations"><i class="fa fa-exchange"
                  aria-hidden="true"></i>
                Translations</a></li>
            <li><a class="dropdown-item" routerLink="/settings/filters"><i class="fa fa-filter" aria-hidden="true"></i>
                Filters</a></li>
            <li><a class="dropdown-item" routerLink="/settings/imports"><i class="fa fa-download"
                  aria-hidden="true"></i>
                Imports</a></li>


          </ul>
        </li>
      </ul>
      <ul class='navbar-nav'>
        <li class="nav-item" style='height:60px;background-color:rgba(35,89,152,.83);height: 60px;
            font-size: 12px;background-color: rgba(35,89,152,.83);padding: 3% 5px;'>



          <span style='color:#fff; font-weight: 600;text-align: center'>Platform Time:</span>
          <span
            style="background-color: rgba(35,89,152,.83);color: #88BAF3">{{todayDate | date:'shortTime':'UTC +9:30 / +10:30'}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"><i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#"><i class="fa fa-bell-o" aria-hidden="true"></i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">

            <i class="fa fa-user-o" aria-hidden="true"></i> {{FirstName}}


          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="">Settings</a></li>
            <li><a class="dropdown-item" routerLink="" (click)="logout()">Logout</a></li>
            <li>


            </li>



          </ul>
        </li>
      </ul>
    </div>
  </nav> -->

 <!-- ----------------------------------------------------------------------------------------- -->


<div class="container-content  container-padd bg-primary">

  
  <nav class="navbar navbar-expand-md navbar-light  btco-hover-menu">
      <a class="navbar-brand img-fluid" routerLink="#"><img src="assets/images/logo.png" alt="SwissFX"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users" aria-hidden="true"></i>
                Clients
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <!-- <li><a class="dropdown-item" routerLink="#"><i class="fa fa-user-circle" aria-hidden="true"></i>
                    Clients</a></li> -->
                    <li><a class="dropdown-item" routerLink="/clients/client"><i class="fa fa-user-circle" aria-hidden="true"></i>
                      Client</a></li>
                  <li><a class="dropdown-item" routerLink="/clients/tradeaccounts"><i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Trade Accounts</a></li>
                    
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              Activities
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/activities/monetarytransactions"><i class="fa fa-money" aria-hidden="true"></i>
                  Monetary Transactions</a></li>
                <li><a class="dropdown-item" routerLink="/activities/tasks"><i class="fa fa-tasks" aria-hidden="true"></i>
                  Tasks</a></li>
                <li><a class="dropdown-item" routerLink="/activities/cases"><i class="fa fa-suitcase" aria-hidden="true"></i>
                  cases</a></li>
                <li><a class="dropdown-item" routerLink="/activities/documents"><i class="fa fa-file" aria-hidden="true"></i>
                  Documents</a></li>
                <li><a class="dropdown-item" routerLink="/activities/openedorders"><i class="fa fa-envelope-open" aria-hidden="true"></i>
                  Opened Orders</a></li>
                <li><a class="dropdown-item" routerLink="/activities/closedorders"><i class="fa fa-times-circle" aria-hidden="true"></i>
                  Closed Orders</a></li>
                <li><a class="dropdown-item" routerLink="/activities/pendingorders"><i class="fa fa-folder-open" aria-hidden="true"></i>
                  Pending Orders</a></li>
                <li><a class="dropdown-item" routerLink="/activities/rejectedtransactions"><i class="fa fa-money" aria-hidden="true"></i>Rejected Transaction</a></li>
                <li><a class="dropdown-item" routerLink="/activities/commonjournal"><i class="fa fa-file-text-o" aria-hidden="true"></i>Common Journal</a></li>


            </ul>
        </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  Reports
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/reports/dashboard"><i class="fa fa-calendar" aria-hidden="true"></i>
                      Dashboard</a></li>
                    <li><a class="dropdown-item" routerLink="/reports/exposure"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                      Exposure</a></li>
                    <li><a class="dropdown-item" routerLink="/reports/leaderboard"><i class="fa fa-trophy" aria-hidden="true"></i>
                      Leader Board</a></li>
                    <li><a class="dropdown-item" routerLink="/reports/report"><i class="fa fa-calendar" aria-hidden="true"></i>Reports</a></li>
                    <li><a class="dropdown-item" routerLink="/reports/tradingjournals"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                      Trading Journals</a></li>
                    <li><a class="dropdown-item" routerLink="/reports/benchmark"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Reports Benchmark</a></li>


                </ul>
            </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" aria-hidden="true"></i>Settings
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item dropdown-toggle" routerLink="#"><i class="fa fa-user" aria-hidden="true"></i>
                      Users</a>
                        <ul class="dropdown-menu newcolmd">
                            <li><a class="dropdown-item" routerLink="/settings/crmusers"><i class="fa fa-user" aria-hidden="true"></i>
                              Crm Users</a></li>
                            <li><a class="dropdown-item" routerLink="/settings/affilateusers"><i class="fa fa-users" aria-hidden="true"></i>
                              Affilate Users</a></li>




                        </ul>
                    </li>
                      <li><a class="dropdown-item" routerLink="/settings/emailtemplates"><i class="fa fa-envelope" aria-hidden="true"></i>
                        Email Templates</a></li>
                      <li><a class="dropdown-item" routerLink="/settings/sendersettings"><i class="fa fa-envelope" aria-hidden="true"></i>
                        Sender Setings</a></li>
                      <li><a class="dropdown-item" routerLink="/settings/groups"><i class="fa fa-stack-exchange" aria-hidden="true"></i>
                        Groups</a></li>
                      <li><a class="dropdown-item" routerLink="/settings/instruments"><i class="fa fa-wrench" aria-hidden="true"></i>
                        Instruments</a></li>
                      <li><a class="dropdown-item dropdown-toggle" routerLink="#"><i class="fa fa-tasks" aria-hidden="true"></i>Fields</a>
                        <ul class="dropdown-menu newcolmd">
                            <li><a class="dropdown-item" routerLink="/settings/additionalfields"><i class="fa fa-stack-exchange" aria-hidden="true"></i>Additional Fields</a></li>
                            <li><a class="dropdown-item" routerLink="/settings/modulefields"><i class="fa fa-stack-exchange" aria-hidden="true"></i>Module Fields</a></li>




                        </ul>
                    </li>
                    <li><a class="dropdown-item dropdown-toggle" routerLink="#"><i class="fa fa-wrench" aria-hidden="true"></i>
                      Configurations</a>
                        <ul class="dropdown-menu newcolmd">
                            <li><a class="dropdown-item" routerLink="/settings/iplist"><i class="fa fa-globe" aria-hidden="true"></i>
                              Ip White List</a></li>
                            <li><a class="dropdown-item" routerLink="/settings/tradinghours"><i class="fa fa-clock-o" aria-hidden="true"></i>
                              Trading Hours</a></li>
                            <li><a class="dropdown-item" routerLink="/settings/workflows"><i class="fa fa-cog" aria-hidden="true"></i>
                              Workflows</a></li>




                        </ul>
                    </li>
                      <li><a class="dropdown-item" routerLink="/settings/translations"><i class="fa fa-exchange" aria-hidden="true"></i>
                        Translations</a></li>
                      <li><a class="dropdown-item" routerLink="/settings/filters"><i class="fa fa-filter" aria-hidden="true"></i>
                        Filters</a></li>
                      <li><a class="dropdown-item" routerLink="/settings/imports"><i class="fa fa-download" aria-hidden="true"></i>
                        Imports</a></li>


                  </ul>
              </li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <li class="nav-item" style='background-color:rgba(35,89,152,.83);
            font-size: 13px;background-color: rgba(35,89,152,.83);padding: 20px 20px;'>



              <span style='color:#fff; font-weight: 700;text-align: center'>Platform Time:</span>
              <span style="color: #88BAF3;margin-left: 12px;
              font-size: 14px;
              padding: 3px;">{{todayDate | date:'shortTime':'UTC +9:30 / +10:30'}}</span>
          </li>
          <li class="nav-item brdr-right nohover">
            <a class="nav-link" routerLink="#"><i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item brdr-right nohover">
          <a class="nav-link" routerLink="#"><i class="fa fa-bell-o" aria-hidden="true"></i>
          </a>
      </li>

      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

          <i class="fa fa-user-o" aria-hidden="true"></i>

          <span>	
Krishankant</span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="">Settings</a></li>
            <li><a class="dropdown-item" routerLink="" (click)="logout()">Logout</a></li>
            <li>
              




            </li>



        </ul>
    </li> -->
    <!-- <li class="item-account" data-position="last">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-submenu="">
        <i class="fa fa-user-o" aria-hidden="true"></i><span>Krishankant</span></a>
      <ul class="dropdown-menu">
         <li><a class="dropdown-item" routerLink="">Settings</a></li>
         <li><a class="dropdown-item" routerLink="" (click)="logout()">Sign out</a></li>
      </ul>
   </li> -->
   <li _ngcontent-bih-c1="" class="logindetail">
    <a _ngcontent-bih-c1="" aria-expanded="false" class="link-control dropdown-toggle dropdown-toggle1" data-toggle="dropdown" href="#" role="button" style="color:#fff;">
      <i class="fa fa-user-o" aria-hidden="true"></i><span>Krishankant</span><i class="fa fa-caret-down" style="padding-left: 6px;"></i>

    </a>
    <div _ngcontent-bih-c1="" class="dropdown-menu pull-right" x-placement="bottom-start" style="position: absolute; transform: translate3d(-102px, 42px, 0px); top: 0px; left: 0px; will-change: transform;width:213px;">
       <p _ngcontent-bih-c1=""><a class="dropdown-item" routerLink="">Settings</a></p>
       <p _ngcontent-bih-c1=""><a class="dropdown-item" routerLink="" (click)="logout()">Sign out</a></p>
       
    </div>
 </li>
          </ul>
          <!-- <div class="time-panel pull-right">
            <strong>Platform time</strong>
            <span id="PlatformTime">{{todayDate | date:'shortTime':'UTC +9:30 / +10:30'}}</span> 
        </div> -->
      </div>
  </nav>







