
.headingwidth
{
    width: auto;
}
.text-ellipsis {
    
    width:auto;
}
.email-cell-content:first-child

{
    width: 400px;
}
.email-cell-content

{
    width: 357px!important;
}
.form-control, .form-control:focus, .nav-tabs {
    border-color: #dde7f9;
}