<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-12">
          <table class="table" id="address">
            <tr>
                <th class="tabletxt">Country</th>
                <td>
                 <div class="valueshhow2">
                 </div>
                 <div class="value-edit2" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
              <tr>
                <th class="tabletxt">Zipcode</th>
                 <td>
                 <div class="valueshhow2">
                 </div>
                 <div class="value-edit2" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
              <tr>
                <th class="tabletxt">City</th>
                  <td>
                 <div class="valueshhow2">
                 </div>
                 <div class="value-edit2" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
              <tr>
                <th class="tabletxt">State</th>
                <td>
                 <div class="valueshhow2">
                 </div>
                 <div class="value-edit2" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
              <tr>
                <th class="tabletxt">Address</th>
                 <td>
                 <div class="valueshhow2">
                 </div>
                 <div class="value-edit2" data-rule="valueEdit" style="display:none;">
          <input class="form-control" name="FirstName" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
            </table>
        </div>
    </div>
</div>
