<div class="card mb20" *ngIf = normalMode>
  <div class="card-header1 container" role="tab" id="headingFour">
    <h5 class="mb-0">
      <a class="collapsed box-heading" data-toggle="" aria-expanded="false" aria-controls="collapseFour" style="padding-bottom: 0!important;">
        <h2> Address</h2>
      </a>
      <div class="box-control pull-right">
        <div class="pencil2" id="edit2">
          <i class="fa fa-pencil " aria-hidden="true" (click)="showhide()"></i>
        </div>
        <!---- <button class="" [routerLink]="['/generalinfo',userid]"> 
         </button>-->
        <!-- <div class="edit-data-options2" style="display: none;">
          <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
            data-action="apply" (click)="updateAddress()">
            <i class="fa fa-check dark">&nbsp;</i>Apply</a>
          <a class="btn-type01 " id="gfg1" data-rule="button" data-action="cancel">Cancel</a></div> -->
      </div>
    </h5>
  </div>
  <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour">
    <div class="card-body">
      <div class="container-fluid">
        <!-- <div class="row" *ngFor="let address of userAddress" > -->
          <div class="row" >
            <div class="col-xs-6 col-md-12">
              <form [formGroup] = "addressForm">
              <table class="table" id="address">
                <tr>
                    <th class="tabletxt" >Country</th>
                    <td>
                     <div class="valueshhow2">{{address?.CountryName}}
                     </div>
                     <div class="value-edit2" data-rule="valueEdit" style="display:none;">
              <!-- <input class="form-control" name="FirstName" type="text"  aria-required="true"> -->
              <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
              data-live-search="true" formControlName="ipcountry">
              <option ngcontent-qpo-c3="">Select</option>
              <option ngcontent-qpo-c3="" *ngFor="let country of Country">
                 {{country.Name}}</option>
                </select>
              </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tabletxt">Zipcode</th>
                     <td>
                     <div class="valueshhow2">{{address?.ZipCode}}
                     </div>
                     <div class="value-edit2" data-rule="valueEdit" style="display:none;">
              <input class="form-control" name="FirstName" formControlName="zipcode" type="text"  aria-required="true">
              
              </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tabletxt">City</th>
                      <td>
                     <div class="valueshhow2">{{address?.City}}
                     </div>
                     <div class="value-edit2" data-rule="valueEdit" style="display:none;">
              <input class="form-control" name="FirstName" formControlName="city" type="text"  aria-required="true">
              
              </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tabletxt">State</th>
                    <td>
                     <div class="valueshhow2">{{address?.State}}
                     </div>
                     <div class="value-edit2" data-rule="valueEdit" style="display:none;">
              <input class="form-control" name="FirstName" formControlName="state" type="text"  aria-required="true">
              
              </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="tabletxt">Street</th>
                     <td>
                     <div class="valueshhow2">{{address?.StreetAddress}}
                     </div>
                     <div class="value-edit2" data-rule="valueEdit" style="display:none;">
              <input class="form-control" name="FirstName" formControlName="address" type="text"  aria-required="true">
              
              </div>
                    </td>
                  </tr>
                </table>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
</div>

<!---------------editing-------->

<div class="card mb20" *ngIf = editMode>
  <div class="card-header1 container" role="tab" id="headingFour">
    <h5 class="mb-0">
      <a class="collapsed box-heading" data-toggle="" aria-expanded="false" aria-controls="collapseFour" style="padding-bottom: 0!important;">
        <h2> Address</h2>
      </a>
      <div class="box-control pull-right">
       
        <!---- <button class="" [routerLink]="['/generalinfo',userid]"> 
         </button>-->
        <div class="edit-data-options2" >
          <a href="javascript:void(0);" class="btn-type01 btn02 submit-button" data-rule="button"
            data-action="apply" (click)="closeshowhide()">
            <i class="fa fa-check dark">&nbsp;</i>Apply</a>
          <a class="btn-type01 " id="gfg1" data-rule="button" data-action="cancel" (click)="cancel()">Cancel</a></div>
      </div>
    </h5>
  </div>
  <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour">
    <!----------Editing Data--------------->
<div class="card-body">
  <!-- <app-address></app-address> -->
  <div class="container-fluid">
    <div class="row"  >
        <div class="col-xs-6 col-md-12">
          <form [formGroup] = "addressForm">
          <table class="table" id="address">
            <tr>
                <th class="tabletxt" >Country</th>
                <td>
                 
                 <div class="value-edit2" data-rule="valueEdit" >
          <!-- <input class="form-control" name="FirstName" type="text"  aria-required="true"> -->
          <select _ngcontent-qpo-c3="" class=" form-control itemformcontrol"
          data-live-search="true" formControlName="ipcountry">
          <option ngcontent-qpo-c3="">Select</option>
          <option ngcontent-qpo-c3="" *ngFor="let country of Country">
             {{country.Name}}</option>
            </select>
          </div>
                </td>
              </tr>
              <tr>
                <th class="tabletxt">Zipcode</th>
                 <td>
                
                 <div class="value-edit2" data-rule="valueEdit" >
          <input class="form-control" name="FirstName" formControlName="zipcode" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
              <tr>
                <th class="tabletxt">City</th>
                  <td>
                 
                 <div class="value-edit2" data-rule="valueEdit" >
          <input class="form-control" name="FirstName" formControlName="city" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
              <tr>
                <th class="tabletxt">State</th>
                <td>
                 
                 <div class="value-edit2" data-rule="valueEdit" >
          <input class="form-control" name="FirstName" formControlName="state" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
              <tr>
                <th class="tabletxt">Street</th>
                 <td>
                 
                 <div class="value-edit2" data-rule="valueEdit">
          <input class="form-control" name="FirstName" formControlName="address" type="text"  aria-required="true">
          
          </div>
                </td>
              </tr>
            </table>
            </form>
        </div>
    </div>
</div>
</div>
<!--------------------------->
</div>
</div>

<!--------------------------->
   
    