<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <tr>
                <th>Country</th>
                <td></td>
              </tr><tr>
                <th>Zipcode</th>
                <td></td>
              </tr><tr>
                <th>City</th>
                <td></td>
              </tr>
              <tr>
                <th>State</th>
                <td></td>
              </tr>
              <tr>
                <th>Address</th>
                <td></td>
              </tr>
        </div>
    </div>
</div>
