<div>
    <div class="subheader1">
        <div class="main-holder">
           <div class="account-panel">
              <div class="account-main-details">
                 <p><span class="color11" data-for="AccountId">ID: AC426869</span><span class="type" data-for="Type">Real</span></p>
                 <h2><span>102921</span> - <span data-for="FirstName">Linus</span>&nbsp;<span data-for="LastName">Test</span></h2>
                 <dl>
                    <dt>Currency:&nbsp;</dt>
                    <dd data-for="Currency">EUR</dd>
                 </dl>
                 <span class="status online" data-for="IsOnline" style="display:none;">online</span>
              </div>
              <div class="content-tabs">
                 <ul class="nav nav-tabs" role="tablist">
                    <li role="main-tabs" class="active"><a href="#tab-client-trading" aria-controls="tab-client-trading" role="tab" data-toggle="tab" aria-expanded="true">Trading</a></li>
                    <li role="main-tabs" class=""><a href="#tab-client-details" aria-controls="tab-client-details" role="tab" data-toggle="tab" aria-expanded="false">Personal Details</a></li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
</div>
<!--------------------tab-content------------------------->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active " id="tab-client-trading">
    <div>
        <div class="collapse-area opened data-edit-client" data-rule="box" *ngIf = normalMode>
           <div class="heading02">
              <div class="main-holder">
                 <div class="pull-right">
                    <div class="collapse-control pull-right">
                       <a href="" class="ico-arrowup ico-sz3" data-toggle="collapse" aria-controls="0cf55b77-ba5e-5a80-b1e6-8d0ac839232f" aria-expanded="true"></a>
                  </div>
                    <a href="javascript:void(0);" class="ico-edit ico-sz3 edit-data-switcher pull-right" data-rule="button" data-action="edit" (click)="showhide()"><i _ngcontent-rkk-c15="" aria-hidden="true" class="fa fa-pencil "></i></a>
                 </div>
                 <h3>Trading</h3>
              </div>
           </div>
           <div class="collapse1 " id="0cf55b77-ba5e-5a80-b1e6-8d0ac839232f" data-name="tradingArea" aria-expanded="true" >
              <div class="main-holder">
                 <div class="account-trading-details chold02">
                    <form action="#" class="form-inline" validation-errors-mode="inTooltip" novalidate="novalidate">
                       <div class="form-group">
                          <label class="valign-label" for="_accountStatus"><span data-tooltip-el="">Status</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9__accountStatus">
                                   <div class="text-ellipsis">Active</div>
                                </div>
                             </div>
                           
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="Leverage"><span data-tooltip-el="">Leverage</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_Leverage">
                                   <div class="text-ellipsis">1:200</div>
                                </div>
                             </div>
                             
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="GroupId"><span data-tooltip-el="">Group</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_GroupId">
                                   <div class="text-ellipsis"><a href="" valuesource="IsDemo" attrname="data-is-demo"><span>TradePro Markets Limited EUR</span></a></div>
                                </div>
                             </div>
                             
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="StopOut"><span data-tooltip-el="">Stop Out</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_StopOut">
                                   <div class="text-ellipsis" data-field="StopOut" data-original-value="20">20</div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="MarginCall"><span data-tooltip-el="">Margin Call</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_MarginCall">
                                   <div class="text-ellipsis" data-field="MarginCall" data-original-value="30">30</div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="MinDeposit"><span data-tooltip-el="">Min Deposit</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_MinDeposit">
                                   <div class="text-ellipsis" data-field="MinDeposit" data-original-value="1" data-isformatted="true"> € 1</div>
                                </div>
                             </div>
                          </div>
                       </div>
                      
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab-client-details">
   </div>
</div>

<!---------------------------------------------->
<!-------------------- editing - tab-content------------------------->
<div class="tab-content" *ngIf = editMode>
    <div role="tabpanel" class="tab-pane active " id="tab-client-trading">
      <div>
          <div class="collapse-area opened data-edit-client" data-rule="box">
             <div class="heading02">
                <div class="main-holder">
                   <div class="pull-right">
                      <div class="collapse-control pull-right"><a href="" class="ico-arrowup ico-sz3" data-toggle="collapse" aria-controls="0cf55b77-ba5e-5a80-b1e6-8d0ac839232f" aria-expanded="true"></a></div>
                      <a _ngcontent-pka-c12="" class="btn-type01 btn02 submit-button" data-action="apply" data-rule="button" href="javascript:void(0);" (click)="closeshowhide()"><i _ngcontent-pka-c12="" class="fa fa-check dark">&nbsp;</i>Apply</a>
                      <a _ngcontent-pka-c12="" class="btn-type01 " data-action="cancel" data-rule="button" id="gfg" (click)="cancel()">Cancel</a>                   </div>
                   <h3>Trading</h3>
                </div>
             </div>
             <div class="collapse1 " id="0cf55b77-ba5e-5a80-b1e6-8d0ac839232f" data-name="tradingArea" aria-expanded="true">
                <div class="main-holder">
                   <div class="account-trading-details chold02">
                      <form action="#" class="form-inline" validation-errors-mode="inTooltip" novalidate="novalidate">
                         <div class="form-group">
                            <label class="valign-label" for="_accountStatus"><span data-tooltip-el="">Status</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9__accountStatus">
                                    <select _ngcontent-pqa-c8="" _ngcontent-qpo-c3="" class="form-control itemformcontrol ng-pristine ng-valid ng-touched" data-live-search="true" formcontrolname="citizenship" ng-reflect-name="citizenship">
                                       <option _ngcontent-pqa-c8="" ngcontent-qpo-c3="">Select</option>
                                       
                                     </select>
                                  </div>
                               </div>
                             
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="Leverage"><span data-tooltip-el="">Leverage</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_Leverage">
                                    <select _ngcontent-pqa-c8="" _ngcontent-qpo-c3="" class="form-control itemformcontrol ng-pristine ng-valid ng-touched" data-live-search="true" formcontrolname="citizenship" ng-reflect-name="citizenship">
                                       <option _ngcontent-pqa-c8="" ngcontent-qpo-c3="">Select</option>
                                      </select>
                                  </div>
                               </div>
                               
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="GroupId"><span data-tooltip-el="">Group</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_GroupId">
                                    <select _ngcontent-pqa-c8="" _ngcontent-qpo-c3="" class="form-control itemformcontrol ng-pristine ng-valid ng-touched" data-live-search="true" formcontrolname="citizenship" ng-reflect-name="citizenship"><option _ngcontent-pqa-c8="" ngcontent-qpo-c3="">Select</option>
                                       </select>                                  </div>
                               </div>
                               
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="StopOut"><span data-tooltip-el="">Stop Out</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_StopOut">
                                    <input _ngcontent-fds-c4="" class="form-control ng-pristine ng-valid ng-touched" formcontrolname="firstName" type="text" ng-reflect-name="firstName">                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="MarginCall"><span data-tooltip-el="">Margin Call</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_MarginCall">
                                    <input _ngcontent-fds-c4="" class="form-control ng-pristine ng-valid ng-touched" formcontrolname="firstName" type="text" ng-reflect-name="firstName">                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="MinDeposit"><span data-tooltip-el="">Min Deposit</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_MinDeposit">
                                    <input _ngcontent-fds-c4="" class="form-control ng-pristine ng-valid ng-touched" formcontrolname="firstName" type="text" ng-reflect-name="firstName">                                  </div>
                               </div>
                            </div>
                         </div>
                        
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
  
  <!---------------------------------------------->