<div>
    <div class="subheader1">
        <div class="main-holder">
           <div class="account-panel">
              <div class="account-main-details">
                 <p><span class="color11" data-for="AccountId">ID: {{this.realTradeUsers?.AccountId}}</span><span class="type" data-for="Type">{{this.realTradeUsers?.TypeName}}</span></p>
                 <h2><span>{{this.realTradeUsers?.TPAccountNumber}}</span> - <span data-for="FirstName">{{this.realTradeUsers?.FirstName}}</span>&nbsp;<span data-for="LastName">{{this.realTradeUsers?.LastName}}</span></h2>
                 <dl>
                    <dt>Currency:&nbsp;</dt>
                    <dd data-for="Currency">{{this.realTradeUsers?.CurrencyName}}</dd>
                 </dl>
                 <span class="status online" data-for="IsOnline" style="display:none;">online</span>
              </div>
              <div class="content-tabs">
               <ul class="nav nav-tabs" role="tablist">
                  <li role="main-tabs" class="active"><a href="#tab-client-trading" aria-controls="tab-client-trading" role="tab" data-toggle="tab" aria-expanded="true">Trading</a></li>
                  <li role="main-tabs" class=""><a href="#tab-client-details" aria-controls="tab-client-details" role="tab" data-toggle="tab" aria-expanded="false">Personal Details</a></li>
               </ul>
              </div>
           </div>
        </div>
     </div>
</div>
<!--------------------tab-content------------------------->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active " id="tab-client-trading">
    <div>
        <div class="collapse-area opened data-edit-client" data-rule="box" *ngIf = normalMode>
           <div class="heading02">
              <div class="main-holder">
                 <div class="pull-right">
                    <div class="collapse-control pull-right">
                       <a href="" class="ico-arrowup ico-sz3" data-toggle="collapse" aria-controls="0cf55b77-ba5e-5a80-b1e6-8d0ac839232f" aria-expanded="true"></a>
                  </div>
                    <a href="javascript:void(0);" class="ico-edit ico-sz3 edit-data-switcher pull-right" data-rule="button" data-action="edit" (click)="showhide()"><i _ngcontent-rkk-c15="" aria-hidden="true" class="fa fa-pencil "></i></a>
                 </div>
                 <h3>Trading</h3>
              </div>
           </div>
           <div class="collapse1 " id="0cf55b77-ba5e-5a80-b1e6-8d0ac839232f" data-name="tradingArea" aria-expanded="true" >
              <div class="main-holder">
                 <div class="account-trading-details chold02">
                    <form action="#" class="form-inline" validation-errors-mode="inTooltip" novalidate="novalidate">
                       <div class="form-group">
                          <label class="valign-label" for="_accountStatus"><span data-tooltip-el="">Status</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9__accountStatus">
                                   <div class="text-ellipsis">status</div>
                                </div>
                             </div>
                           
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="Leverage"><span data-tooltip-el="">Leverage</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_Leverage">
                                   <div class="text-ellipsis">{{this.realTradeUsers?.LeverageName}}</div>
                                </div>
                             </div>
                             
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="GroupId"><span data-tooltip-el="">Group</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_GroupId">
                                   <div class="text-ellipsis"><a href="" valuesource="IsDemo" attrname="data-is-demo"><span>{{this.realTradeUsers?.GroupName}}</span></a></div>
                                </div>
                             </div>
                             
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="StopOut"><span data-tooltip-el="">Stop Out</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_StopOut">
                                   <div class="text-ellipsis" data-field="StopOut" data-original-value="20">{{this.realTradeUsers?.StopOut}}</div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="MarginCall"><span data-tooltip-el="">Margin Call</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_MarginCall">
                                   <div class="text-ellipsis" data-field="MarginCall" data-original-value="30">{{this.realTradeUsers?.MarginCall}}</div>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="form-group">
                          <label class="valign-label" for="MinDeposit"><span data-tooltip-el="">Min Deposit</span></label>
                          <div class="form-group w120" data-editor-container="">
                             <div class="value" data-rule="value">
                                <div data-display-for="9_MinDeposit">
                                   <div class="text-ellipsis" data-field="MinDeposit" data-original-value="1" data-isformatted="true"> {{this.realTradeUsers?.MinDeposit}}</div>
                                </div>
                             </div>
                          </div>
                       </div>
                      
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
 
  <div class="collapse-area opened">
   <div class="heading02">
      <div class="main-holder">
         <div class="pull-right">
            <div class="collapse-control pull-right"><a href="#collapseTradingAccountInformation" class="ico-arrowup ico-sz3" data-toggle="collapse" aria-controls="collapseTradingAccountInformation" aria-expanded="true">Open/Close</a></div>
            <div class="buttons pull-right"><a href="javascript:void(0);" class="btn-type05 ml10" data-rule="create-transaction" data-type="1" (click)="opendepositpopup()"><i class="ico-sz3 ico-import2 darker">&nbsp;</i>Deposit</a>
               <a href="javascript:void(0);" class="btn-type05 ml10" data-rule="create-transaction" data-type="2" (click)="openwithdrawpopup()"><i class="ico-sz3 ico-export2 darker">&nbsp;</i>Withdraw</a>
               <a href="javascript:void(0);" class="btn-type05 ml10" data-rule="create-transaction" data-type="3" (click)="opencreditinpopup()"><i class="ico-sz3 ico-funds darker">&nbsp;</i>Credit in</a>
               <a href="javascript:void(0);" class="btn-type05 ml10" data-rule="create-transaction" data-type="4" (click)="opencreditoutpopup()"><i class="ico-sz3 ico-funds darker">&nbsp;</i>Credit Out</a>
            </div>
         </div>
         <h3>Live financial information</h3>
      </div>
   </div>
   <div class="collapse in" data-name="financialInformationArea" id="collapseTradingAccountInformation" aria-expanded="true">
      <div class="main-holder">
         <div class="row">
            <div class="account-details chold02 mt5" data-rule="account-details">
               <dl>
                  <dt><label class="valign-label" for="Balance">Balance</label></dt>
                  <dd>
                     <div data-display-for="9_Balance">
                        <div class="text-ellipsis" data-field="Balance" data-original-value="1008.69662955">{{this.realTradeUsers?.Balance}}</div>
                     </div>
                  </dd>
               </dl>
               <dl>
                  <dt><label class="valign-label" for="Credit">Credit</label></dt>
                  <dd>
                     <div data-display-for="9_Credit">
                        <div class="text-ellipsis" data-field="Credit" data-original-value="0">{{this.realTradeUsers?.Credit}}</div>
                     </div>
                  </dd>
               </dl>
               <dl>
                  <dt><label class="valign-label" for="Equity">Equity</label></dt>
                  <dd>
                     <div data-display-for="9_Equity">
                        <div class="text-ellipsis" data-field="Equity" data-original-value="635.4759087">{{this.realTradeUsers?.Equity}}</div>
                     </div>
                  </dd>
               </dl>
               <dl>
                  <dt><label class="valign-label" for="FreeMargin">Free Margin</label></dt>
                  <dd>
                     <div data-display-for="9_FreeMargin">
                        <div class="text-ellipsis" data-field="FreeMargin" data-original-value="581.2145114">{{this.realTradeUsers?.FreeMargin}}</div>
                     </div>
                  </dd>
               </dl>
               <dl>
                  <dt><label class="valign-label" for="MarginLevel">Margin Level</label></dt>
                  <dd>
                     <div data-display-for="9_MarginLevel">
                        <div class="text-ellipsis" data-field="MarginLevel" data-original-value="1171.13812089">{{this.realTradeUsers?.MarginLevel}}</div>
                     </div>
                  </dd>
               </dl>
               <dl>
                  <dt><label class="valign-label" for="Volume">Volume</label></dt>
                  <dd>
                     <div data-display-for="9_Volume">
                        <div class="text-ellipsis" data-field="Volume" data-original-value="32620.9274294">{{this.realTradeUsers?.Volume}}</div>
                     </div>
                  </dd>
               </dl>
               <dl>
                  <dt><label class="valign-label" for="OpenProfitAndLoss">Open Profit And Loss</label></dt>
                  <dd>
                     <div data-display-for="9_OpenProfitAndLoss">
                        <div class="text-ellipsis color06" data-field="OpenProfitAndLoss" data-original-value="-373.22072084">{{this.realTradeUsers?.OpenProfit}}</div>
                     </div>
                  </dd>
               </dl>
               <dl>
                  <dt><label class="valign-label" for="CloseProfitAndLoss">Close Profit And Loss</label></dt>
                  <dd>
                     <div data-display-for="9_CloseProfitAndLoss">
                        <div class="text-ellipsis color09" data-field="CloseProfitAndLoss" data-original-value="8.69662955">{{this.realTradeUsers?.CloseLoss}}</div>
                     </div>
                  </dd>
               </dl>
            </div>
         </div>
      </div>
   </div>
</div>
<div data-rule="grids-container">
   <div class="collapse-area opened" id="3397da3f-d194-1080-cb4a-f51c4aa1cdec">
      <div class="content-tabs content-tabs2">
         <div class="pull-right">
            <div class="collapse-control pull-right"><a href="#d386fb53-c793-cc4c-fb53-c50547642961" class="ico-arrowup ico-sz3" data-toggle="collapse" aria-controls="d386fb53-c793-cc4c-fb53-c50547642961" aria-expanded="true">Open/Close</a></div>
            <div class="pull-right"><a href="javascript:void(0);" class="button btn-md"><i class="ico-sz3 ico-pgplus white">&nbsp;</i> Open Order</a></div>
         </div>
         <ul class="nav nav-tabs" role="tablist">
            <li role="main-tabs" data-tab-index="0" data-rule="tab" class="active"><a href="javascript:void(0);"><i class="ico-sz3 ico-pgtick dark">&nbsp;</i>OpenedAndPendingOrders</a></li>
            <li role="main-tabs" data-tab-index="1" data-rule="tab" class=""><a href="javascript:void(0);"><i class="ico-sz3 ico-pgcross dark">&nbsp;</i>Closed Orders</a></li>
            <li role="main-tabs" data-tab-index="2" data-rule="tab" class=""><a href="javascript:void(0);"><i class="ico-sz3 ico-money dark">&nbsp;</i>Financial Transactions</a></li>
         </ul>
      </div>
      <div class="tradacc-infotbl collapse in" id="d386fb53-c793-cc4c-fb53-c50547642961" aria-expanded="true" style="">
         <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab-trading-account-openpos">
               <div class="table-type05 table-style02 table-fixed-header">
                  <div class="scrollhold" data-rule="scroll-area" style="min-height: 120px; max-height: 272px;">
                     <table class="">
                        <thead>
                           <tr data-rule="titles">
                              <th>Order ID<span class="fixel"><span><span>Order<br class="visible-xs visible-sm visible-md"> ID</span></span></span></th>
                              <th>TP Account<span class="fixel"><span><span>TP<br class="visible-xs visible-sm visible-md"> Account</span></span></span></th>
                              <th>Instrument ID<span class="fixel"><span><span>Instrument<br class="visible-xs visible-sm visible-md"> ID</span></span></span></th>
                              <th>OrderType<span class="fixel"><span><span>OrderType</span></span></span></th>
                              <th>Volume<span class="fixel"><span><span>Volume</span></span></span></th>
                              <th>Open Date<span class="fixel"><span><span>Open<br class="visible-xs visible-sm visible-md"> Date</span></span></span></th>
                              <th>Open Price<span class="fixel"><span><span>Open<br class="visible-xs visible-sm visible-md"> Price</span></span></span></th>
                              <th>Swap<span class="fixel"><span><span>Swap</span></span></span></th>
                              <th>Take Profit<span class="fixel"><span><span>Take<br class="visible-xs visible-sm visible-md"> Profit</span></span></span></th>
                              <th>Stop Loss<span class="fixel"><span><span>Stop<br class="visible-xs visible-sm visible-md"> Loss</span></span></span></th>
                              <th>Margin<span class="fixel"><span><span>Margin</span></span></span></th>
                              <th>Commission<span class="fixel"><span><span>Commission</span></span></span></th>
                              <th>Current Price<span class="fixel"><span><span>Current<br class="visible-xs visible-sm visible-md"> Price</span></span></span></th>
                              <th>Profit<span class="fixel"><span><span>Profit</span></span></span></th>
                              <th>TotalProfit<span class="fixel"><span><span>TotalProfit</span></span></span></th>
                              <th>EntityType<span class="fixel"><span><span>EntityType</span></span></span></th>
                              <th></th>
                           </tr>
                        </thead>
                        <tfoot>
                           <tr data-rule="statistics">
                              <td><span class="fixel"><span><span>Total: 1</span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td><span class="fixel"><span><span></span></span></span></td>
                              <td></td>
                           </tr>
                        </tfoot>
                        <tbody>
                           <tr data-index="0" data-rule="body">
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_OrderNumber">
                                    <div data-display-for="_OrderNumber">
                                       <div class="text-ellipsis"><a href="javascript:void(0);"><span>67191</span></a></div>
                                    </div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_AccountId">
                                    <div class="text-ellipsis"><a href="/moduleitems/item?moduleId=9&amp;itemId=102921"><span>102921</span></a></div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_InstrumentId">
                                    <div class="text-ellipsis">XAUUSD</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_OrderType">
                                    <div class="text-ellipsis">Sell</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_Volume">
                                    <div class="text-ellipsis" data-field="Volume" data-original-value="0.01">0.01</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_OpenDate">12/27/2019 12:42:21 PM</div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_OpenPrice">
                                    <div class="text-ellipsis" data-field="OpenPrice" data-original-value="1510.99">1510.99</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_Swap">
                                    <div class="text-ellipsis color06" data-field="Swap" data-original-value="-2.23375459">-2.23</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_TakeProfit">
                                    <div class="text-ellipsis" data-field="TakeProfit" data-original-value="0">0</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_StopLoss">
                                    <div class="text-ellipsis" data-field="StopLoss" data-original-value="0">0</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_Margin">
                                    <div class="text-ellipsis" data-field="Margin" data-original-value="54.2613973">54.26</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_Commission">
                                    <div class="text-ellipsis" data-field="Commission" data-original-value="0" data-isformatted="true"> € 0.00</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_CurrentPrice">
                                    <div class="text-ellipsis" data-field="CurrentPrice" data-original-value="1974.34">1974.34</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_Profit">
                                    <div class="text-ellipsis color06" data-field="Profit" data-original-value="-393.36287693">-393.36</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_TotalProfit">
                                    <div class="text-ellipsis color06" data-field="TotalProfit" data-original-value="-395.59663152" data-isformatted="true">- € 395.60</div>
                                 </div>
                              </td>
                              <td style="max-width: 300px;">
                                 <div data-display-for="57_EntityType">
                                    <div class="text-ellipsis">Open Order</div>
                                 </div>
                              </td>
                              <td class="nowrap"><a href="javascript:void(0);" class="ico-sz3 ico-edit" title="Edit">&nbsp;</a><a href="javascript:void(0);" class="ico-sz3 ico-no3" title="Close">&nbsp;</a></td>
                           </tr>
                        </tbody>
                     </table>
                     <div style="display: none;">
                        <div class="message-on-shader" style="display: none;"></div>
                        <div class="jsgrid-load-shader shader"></div>
                     </div>
                     <div class="jsgrid-load-panel absolute-loader-center" style="display: none;">Please, wait...</div>
                     <div class="no-section-items no-events"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<div role="tabpanel" class="tab-pane fade  " id="tab-client-details">
   <div class="clearfix client-personal-details flexboxset2 row">
      <div class="col-xs-7 col-md-7 client-details">
         <div class="row" data-rule="accountDetailsContainer">
            <div data-rule="box" class="box">
               <div class="heading02">
                  <div class="main-holder">
                     <h3>General info</h3>
                  </div>
               </div>
               <div class="table-type01">
                  <form novalidate="novalidate">
                     <table>
                        <tbody>
                           <tr>
                              <td><label class="valign-label" for="Commision"><span data-tooltip-el="">Commision</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_Commision">
                                       <div class="text-ellipsis" data-field="Commision" data-original-value="0" data-isformatted="true"> {{this.realTradeUsers?.Commission}}</div>
                                    </div>
                                 </div>
                              </td>
                              <td><label class="valign-label" for="DepositCount"><span data-tooltip-el="">DepositCount</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_DepositCount">
                                       <div class="text-ellipsis" data-field="DepositCount" data-original-value="1">{{this.realTradeUsers?.DepositCount}}</div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td><label class="valign-label" for="FtdAmount"><span data-tooltip-el="">FtdAmount</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_FtdAmount">
                                       <div class="text-ellipsis" data-field="FtdAmount" data-original-value="1000" data-isformatted="true"> {{this.realTradeUsers?.FtdAmount}}</div>
                                    </div>
                                 </div>
                              </td>
                              <td><label class="valign-label" for="FtdDate"><span data-tooltip-el="">FtdDate</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_FtdDate">{{this.realTradeUsers?.FTDDate}}</div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td><label class="valign-label" for="LastLoginDate"><span data-tooltip-el="">Last Login Date</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_LastLoginDate"></div>
                                 </div>
                              </td>
                              <td><label class="valign-label" for="LastTradeDate"><span data-tooltip-el="">Last Trade Date</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_LastTradeDate">{{this.realTradeUsers?.LastTradeDate}}</div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td><label class="valign-label text-ellipsis" for="LastDepositDate"><span data-tooltip-el="">LastDepositDate</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_LastDepositDate">{{this.realTradeUsers?.LastDepositDate}}</div>
                                 </div>
                              </td>
                              <td><label class="valign-label" for="MarginLevel"><span data-tooltip-el="">Margin Level</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_MarginLevel">
                                       <div class="text-ellipsis" data-field="MarginLevel" data-original-value="1136.07566784">{{this.realTradeUsers?.MarginLevel}}</div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td><label class="valign-label" for="NetDeposit"><span data-tooltip-el="">Net Deposit</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_NetDeposit">
                                       <div class="text-ellipsis" data-field="NetDeposit" data-original-value="1000" data-isformatted="true"> {{this.realTradeUsers?.NetDeposit}}</div>
                                    </div>
                                 </div>
                              </td>
                              <td><label class="valign-label" for="OrderCount"><span data-tooltip-el="">Order Count</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_OrderCount">
                                       <div class="text-ellipsis" data-field="OrderCount" data-original-value="1000">{{this.realTradeUsers?.OrderCount}}</div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td><label class="valign-label" for="OwnerId"><span data-tooltip-el="">Owner</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_OwnerId">
                                       <div class="text-ellipsis"></div>
                                    </div>
                                 </div>
                              </td>
                              <td><label class="valign-label" for="RegistrationDate"><span data-tooltip-el="">Registration Date</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_RegistrationDate">{{this.realTradeUsers?.FirstRegistrationDate}}</div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td><label class="valign-label" for="TotalDeposits"><span data-tooltip-el="">Total Deposits</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_TotalDeposits">
                                       <div class="text-ellipsis" data-field="TotalDeposits" data-original-value="1000" data-isformatted="true">{{this.realTradeUsers?.TotalDeposit}}</div>
                                    </div>
                                 </div>
                              </td>
                              <td><label class="valign-label" for="TotalWithdrawals"><span data-tooltip-el="">Total Withdrawals</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_TotalWithdrawals">
                                       <div class="text-ellipsis" data-field="TotalWithdrawals" data-original-value="0" data-isformatted="true">{{this.realTradeUsers?.TotalWithdrawal}}</div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td><label class="valign-label" for="Volume"><span data-tooltip-el="">Volume</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="9_Volume">
                                       <div class="text-ellipsis" data-field="Volume" data-original-value="32620.9274294" data-isformatted="true"> € {{this.realTradeUsers?.Volume}}</div>
                                    </div>
                                 </div>
                              </td>
                              <td><label class="valign-label" for="OwnerId"><span data-tooltip-el="">Owner</span></label></td>
                              <td data-editor-container="">
                                 <div class="value" data-rule="value">
                                    <div data-display-for="27_OwnerId">
                                       <div class="text-ellipsis"></div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <div style="display:none;"></div>
                        </tbody>
                     </table>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xs-5 col-md-5 client-comments">
         <div  class="box" data-rule="commentsContainer">
            <div class="heading02">
               <div class="main-holder">
                  <div class="buttons pull-right">
                     <a href="javascript:void(0);" class="btn-type02 dim no-events"><i class="ico-sz3 ico-delete">&nbsp;</i>Delete all</a><a href="#addNewComment" class="btn-type02" data-toggle="collapse" aria-controls="addNewComment"><i class="ico-sz4 ico-add">&nbsp;</i>Add</a><a href="#" class="btn-type02 dropdown-toggle" data-toggle="dropdown" aria-expanded="true">All <i class="ico-sz4 ico-arrowdown">&nbsp;</i></a>
                     <ul class="dropdown-menu dropdown-menu2">
                        <li><a href="javascript:void(0);" name="filterOption">All</a></li>
                        <li><a href="javascript:void(0);" name="filterOption">Last 5</a></li>
                        <li><a href="javascript:void(0);" name="filterOption">Mine</a></li>
                     </ul>
                  </div>
                  <h3>Comments</h3>
               </div>
            </div>
            <div class="comments">
               <div class="comments">
                  <div class="scroll-area">
                     <div class="collapse" id="addNewComment">
                        <form novalidate="novalidate">
                           <div class="comment">
                              <div class="form-group"><textarea name="CommentText" class="form-control textarea-h01" id="ab9af21d6-7fa7-ed53-f5ac-8a61b4ab24df" aria-required="true"></textarea><span class="error"></span></div>
                              <div class="text-right"><a href="#" class="btn-type02 submit-button">Submit</a><a href="#addNewComment" class="btn-type02" data-toggle="collapse" aria-controls="addNewComment">Cancel</a></div>
                           </div>
                        </form>
                     </div>
                     <div class="comments-list">
                        <div class="no-section-items no-events">No Comments</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!---------------------------------------------->
<!-------------------- editing - tab-content------------------------->
<div class="tab-content" *ngIf = editMode>
    <div role="tabpanel" class="tab-pane active " id="tab-client-trading">
      <div>
          <div class="collapse-area opened data-edit-client" data-rule="box">
             <div class="heading02">
                <div class="main-holder">
                   <div class="pull-right">
                      <div class="collapse-control pull-right"><a href="" class="ico-arrowup ico-sz3" data-toggle="collapse" aria-controls="0cf55b77-ba5e-5a80-b1e6-8d0ac839232f" aria-expanded="true"></a></div>
                      <a _ngcontent-pka-c12="" class="btn-type01 btn02 submit-button" data-action="apply" data-rule="button" href="javascript:void(0);" (click)="closeshowhide()"><i _ngcontent-pka-c12="" class="fa fa-check dark">&nbsp;</i>Apply</a>
                      <a _ngcontent-pka-c12="" class="btn-type01 " data-action="cancel" data-rule="button" id="gfg" (click)="cancel()">Cancel</a>                   </div>
                   <h3>Trading</h3>
                </div>
             </div>
             <div class="collapse1 " id="0cf55b77-ba5e-5a80-b1e6-8d0ac839232f" data-name="tradingArea" aria-expanded="true">
                <div class="main-holder">
                   <div class="account-trading-details chold02">
                      <form action="#" class="form-inline" validation-errors-mode="inTooltip" novalidate="novalidate" [formGroup]="tradeaccountInfoForm">
                         <div class="form-group">
                            <label class="valign-label" for="_accountStatus"><span data-tooltip-el="">Status</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9__accountStatus">
                                    <select _ngcontent-pqa-c8="" _ngcontent-qpo-c3="" class="form-control itemformcontrol ng-pristine ng-valid ng-touched" data-live-search="true" formControlName="status" ng-reflect-name="citizenship">
                                       <option _ngcontent-pqa-c8="" ngcontent-qpo-c3="">Select</option>
                                       <option _ngcontent-pqa-c8="" ngcontent-qpo-c3="" value="Active">Active</option>
                                       <option _ngcontent-pqa-c8="" ngcontent-qpo-c3="" value="Read Only">Read Only</option>
                                       <option _ngcontent-pqa-c8="" ngcontent-qpo-c3="" value="Disabled">Disabled</option>
                                     </select>
                                  </div>
                               </div>
                             
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="Leverage"><span data-tooltip-el="">Leverage</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_Leverage">
                                    <select _ngcontent-pqa-c8="" _ngcontent-qpo-c3="" class="form-control itemformcontrol ng-pristine ng-valid ng-touched" data-live-search="true" formControlName="leveragename" ng-reflect-name="citizenship">
                                       <option _ngcontent-pqa-c8="" ngcontent-qpo-c3="">Select</option>
                                       <option _ngcontent-pqa-c8="" ngcontent-qpo-c3="" value="" *ngFor="let leverage of Leverage">{{leverage?.Name}}</option>
                                      </select>
                                  </div>
                               </div>
                               
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="GroupId"><span data-tooltip-el="">Group</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_GroupId">
                                    <input _ngcontent-fds-c4="" class="form-control disabledd ng-pristine ng-valid ng-touched" formControlName="groupname" onmousedown="return false" onselectstart="return false" type="text" ng-reflect-name="firstName">                  
                                               </div>
                               </div>
                               
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="StopOut"><span data-tooltip-el="">Stop Out</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_StopOut">
                                    <input _ngcontent-fds-c4="" class="form-control ng-pristine ng-valid ng-touched" formControlName="stopout" type="text" ng-reflect-name="firstName">                           
                                        </div>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="MarginCall"><span data-tooltip-el="">Margin Call</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_MarginCall">
                                    <input _ngcontent-fds-c4="" class="form-control ng-pristine ng-valid ng-touched" formControlName="margincall" type="text" ng-reflect-name="firstName">                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="valign-label" for="MinDeposit"><span data-tooltip-el="">Min Deposit</span></label>
                            <div class="form-group w120" data-editor-container="">
                               <div class="value-edit" data-rule="value">
                                  <div data-display-for="9_MinDeposit">
                                    <input _ngcontent-fds-c4="" class="form-control ng-pristine ng-valid ng-touched" formControlName="mindeposit" type="text" ng-reflect-name="firstName">                                  </div>
                               </div>
                            </div>
                         </div>
                        
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
  
  <!---------------------------------------------->