<div _ngcontent-ryi-c4="" class="card-bodynew mb20">
    <div _ngcontent-ryi-c4="" class="card1 mb20 ">
       <div _ngcontent-ryi-c4="" class="card-header1 container" id="headingOne" role="tab">
          <h5 _ngcontent-ryi-c4="" class="mb-0">
             <a _ngcontent-ryi-c4="" aria-controls="collapseOne" aria-expanded="true" class="box-heading" data-toggle="">
                <h2 _ngcontent-ryi-c4="">General Info </h2>
             </a>
             <div _ngcontent-ryi-c4="" class="box-control pull-right">
                <div _ngcontent-ryi-c4="" class="pencil" id="edit"><i _ngcontent-ryi-c4="" aria-hidden="true" class="fa fa-pencil "></i></div>
             </div>
          </h5>
       </div>
       <div _ngcontent-ryi-c4="" aria-labelledby="headingOne" class="collapse show" id="collapseOne" role="tabpanel">
          <div _ngcontent-ryi-c4="" class="card-body11"></div>
       </div>
    </div>
    <div _ngcontent-ryi-c4="" class="container-fluid">
       <div _ngcontent-ryi-c4="" class="row">
          <form _ngcontent-ryi-c4="" class="width100 ng-untouched ng-pristine ng-valid" novalidate="" ng-reflect-form="[object Object]">
             <table _ngcontent-ryi-c4="" class="table" id="generalinfo">
                <thead _ngcontent-ryi-c4="">
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Order ID</th>
                      <td _ngcontent-ryi-c4="" class="text-ellipsis ">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 	
                            67191 </div>
                        
                            
                      </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">	TP Account</th>
                      <td _ngcontent-ryi-c4="" class="text-ellipsis">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 102921 </div>
                         
                         
                      </td>
                   </tr>
                </thead>
                <tbody _ngcontent-ryi-c4="">
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Instrument ID</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> XAUUSD </div>
                         
                      </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">	Buy</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> Sell </div>
                        
                         
                      </td>
                   </tr>
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Volume</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow">  0.01</div>
                         
                      </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">Margin</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 54.26 </div>

                      </td>
                   </tr>
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Open Price</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 1510.99 </div>
                        
                         
                      </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">	Open Date</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow">12/27/2019 12:42:21 PM </div>
                        
                      </td>
                   </tr>
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Take Profit</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 0 </div>
                         
                         
                      </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">Swap</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 0 </div>
                       
                      </td>
                   </tr>
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Stop Loss</th>
                      <td _ngcontent-ryi-c4="">
                        <div _ngcontent-ryi-c4="" class="valueshhow"> 0 </div>
                      
                     </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">Commission</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow">  € 0.00 </div>
                        
                      </td>
                   </tr>
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Current Price</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow">12345  </div>
                        
                      </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">TradeVolume</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 545435435</div>
                       
                      </td>
                   </tr>
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Profit</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 2323 </div>
                       
                      </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">TotalProfit</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 232 </div>
                        
                      </td>
                   </tr>
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">DEMO</th>
                      <td _ngcontent-ryi-c4="">
                     <div _ngcontent-ryi-c4="" class="valueshhow"><i _ngcontent-ryi-c4="" aria-hidden="true" class="fa fa-check-circle" style="font-size: 17px; color: gray;" ng-reflect-ng-style="[object Object]"></i></div>
                        
                      </td>
                      <th _ngcontent-ryi-c4="" class="tabletxt">IP Address</th>
                      <td _ngcontent-ryi-c4="">
                         <div _ngcontent-ryi-c4="" class="valueshhow"> 2343444 </div>
                       
                      </td>
                   </tr>
                   <tr _ngcontent-ryi-c4="">
                      <th _ngcontent-ryi-c4="" class="tabletxt">Opened from</th>
                      <td _ngcontent-ryi-c4="">
                        <div _ngcontent-ryi-c4="" class="valueshhow"> 2343444 </div>
                      
                     </td>
                     
                   </tr>
                
                
                  
                
                </tbody>
             </table>
          </form>
       </div>
    </div>
 </div>